.pathfinding-main-container {
  margin-left: 1.5rem;

  .pathfinding-subsection {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .pathfinding-done {
    @extend .pathfinding-subsection;
    color: green;
  }

  .pathfinding-error {
    @extend .pathfinding-subsection;
    color: red;
  }

  .missing-params {
    @extend .pathfinding-subsection;
    color: #ffb612;
  }

  .loader-pathfinding-in-progress {
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.1);
    z-index: 2;
  }
}