.ui-manchette-menu {
  @apply bg-grey-5;
  width: 305px;
  border: 1px solid #b6b2af;
  border-radius: 0.5rem;
  box-shadow:
    0 6px 21px -5px rgba(101, 169, 232, 0.341810533216783),
    0 16px 30px -5px rgba(0, 0, 0, 0.2),
    0 3px 5px -2px rgba(0, 0, 0, 0.1),
    inset 0 0 0 1px #ffffff;

  .menu-item {
    width: 100%;
    height: 44px;
    font-size: 0.875rem;
    display: flex;
    align-items: center;

    &:not(:first-child) {
      border-top: 1px solid #ffffff;
    }

    &:not(:only-of-type, :last-child) {
      border-bottom: 1px solid #d3d1cf;
    }

    .icon {
      @apply text-primary-40;
      padding-inline: 16px;
    }
  }
}
