.map-modal {
  .search-results-label {
    cursor: pointer;
  }
  .search-results {
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 8px;
    width: 100%;
    flex-direction: column;

    .search-result-item {
      all: unset;
      display: grid;
      grid-template-columns: auto 1fr auto;
      column-gap: 8px;
      align-items: center;
      padding: 0 4px;
      border-radius: var(--border-radius);
      cursor: pointer;
      line-height: 20px;

      .main-code {
        color: var(--coolgray9);
        font-family: monospace;
        font-size: 0.8rem;
        width: 32px;
        flex-grow: 0;
        flex-shrink: 0;
      }
      .name {
        padding: 4px 0 0 0;
        .secondary-code {
          margin-left: 4px;
          font-size: 0.9rem;
        }
      }
      .uic,
      .line-code {
        margin-left: auto;
        font-size: 0.7rem;
        color: var(--primary);
        flex-grow: 0;
        flex-shrink: 0;
      }
      .error-line {
        grid-row: 2;
        grid-column: 1/4;
        grid-template-columns: subgrid;
        display: grid;
        font-size: 14px;
        padding-bottom: 4px;
        color: var(--warning60);

        i {
          place-self: center end;
          color: var(--warning30);
        }
      }
      &:hover {
        background-color: var(--coolgray1);
      }
    }
    .search-result-table-item {
      cursor: pointer;
      border-radius: 4px;
      min-height: 32px;
      td {
        cursor: pointer;
        vertical-align: middle;
        padding: 4px;
      }
      font-size: 0.9rem;
      img {
        height: 24px;
      }
      &:hover {
        background-color: #d7d7d7;
      }
    }
    .selected {
      background-color: #d7d7d7;
    }
  }
}

.map-search-marker {
  /* Circle center */
  margin-left: -16px;
  margin-top: -16px;
  .map-search-marker-title {
    font-weight: bold;
    border-radius: 4px;
    padding: 0 8px;
  }
  .map-search-marker-subtitle {
    font-size: 0.9rem;
  }
}
