@keyframes marker-bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-6px);
  }
}

.maplibregl-canvas-container {
  /* Style for itinerary markers */
  .path-step-marker {
    display: flex;
    justify-content: center;
    font-family: 'IBM Plex Sans';
    font-size: 0.75rem;
    font-weight: 600;
    color: var(--white100);

    &.draggable {
      cursor: grab;
      animation: marker-bounce 0.5s infinite alternate;
      animation-timing-function: cubic-bezier(0.471, 0.999, 0.749, 0.999);
    }

    &.dragging {
      cursor: grabbing;
      animation: none;
    }

    .indicator {
      position: absolute;
      top: 12px;
    }

    .backtrack-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 4px;
      line-height: 0;
    }

    .label {
      position: absolute;
      top: 10px;
      left: 44px;
      display: flex;
      align-items: center;
      height: 24px;
      font-size: 0.875rem;
      outline: 3px solid rgba(246, 245, 241, 0.8);
      border-radius: 4px;
      color: var(--white100);
      background-color: var(--grey90);
      padding-inline: 8px;
      padding-bottom: 1px;
      white-space: nowrap;

      &:has(.backtrack-icon) {
        background-color: var(--info60);
      }
    }
  }
}
