.modal-space {
    height: 600px;
}

#chart-time {
    border-width: 0;
    transition: all .2s;
    background-color: white;
    margin: 10px;
    width: 72%;
    float: left;
    height: 100%;
}

#chart-time .grid .tick text {
    opacity: 0;
}

#chart-time .focus .x .tick text {
    transform: translate(0px, 5px);
}

#chart-time .grid .tick line {
    opacity: 0.3;
}

#chart-time .focus .y .tick line,
#chart-time .focus .x .tick line {
    opacity: 0;
}

#chart-time .focus .y .domain,
#chart-time .focus .grid .domain {
    opacity: 0;
}

#chart-time svg {
    height: 100%;
    width: 100%;
}

#chart-time .rect-svg {
    fill: none;
    pointer-events: all;
}

#chart-time .focus .titleXY {
    font-size: 17px;
    text-anchor: middle;
}

#panel-info-time {
    height: 100%;
}

#panel-info-time .li-class {
    display: flex;
    align-items: center;
    border-bottom-width: 1px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: .625rem;
    height: 3.5rem;
    padding: .75rem 1.25rem;
    border-bottom: 1px solid rgba(26, 54, 126, 0.125);
    cursor: pointer;
    font-size: 20px;
    transition: 1s;
    outline: none;
}

.div-section {
    padding: 0 18px;
    background-color: white;
    max-height: 45454px;
    overflow: auto;
    transition: max-height 0.2s ease-out;
    height: 488px;
}

#panel-info-time .div-section {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: auto;
    transition: max-height 0.2s ease-out;
    height: 488px;
}

#chart-time .lines {
    stroke-linejoin: round;
    stroke-linecap: round;
    fill: none;
    opacity: 1;
}

#chart-time .circles {
    fill: none;
    opacity: 0;
}

#chart-time .areas {
    fill: rgba(0, 0, 0, 0.2);
    cursor: grab;
}

.context-menu {
    position: absolute;
    z-index: 1200;
    background-color: #2b2626;
    min-width: 150px;
}

.h1-class-context {
    color: #fff;
    text-align: center;
}

.li-class-context {
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

#panel-info-time .div-trains {
    height: 0px;
    overflow: hidden;
}

#panel-info-time .h1-class {
    cursor: pointer;
}

#panel-info-time .li-space-label {
    list-style: none;
    font-size: 13px;
}

#panel-info-time .h1-class.active {
    opacity: 0.3;
}

#panel-info-time .class-label {
    cursor: pointer;
}

.li-details-conflits {
    list-style-type: none;
}

.panel-time {
    width: 100%;
    height: 100%;
    float: right;
    background-color: white;
    border-width: 0;
    transition: all .2s;
    margin-top: 10px;
    margin-right: 10px;
}

#panel-info-time {
    width: 25%;
    float: right;
}

.graphics-modal {
    display: table;
    width: 100%;
    display: block !important;
    position: initial !important;
}
