@import './editorForm';
@import './speedSection';

.editor-root {
  $blue: var(--primary);
  $blue-dark: var(--primary-dark);
  $white: var(--white);
  $gray: var(--coolgray5);

  padding-top: 3.75rem; // Header height

  .layout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
  }

  .modal {
    z-index: 1060;

    .modal-backdrop {
      pointer-events: all;
    }
  }

  button.editor-btn {
    box-sizing: border-box;
    font-size: 1.3em;

    color: $blue;
    background: $white;

    &.active:not(:disabled) {
      color: $white;
      background: $blue-dark;
    }

    &:disabled {
      color: $gray;
    }
  }

  .tooltip {
    white-space: nowrap;

    .tooltip-inner {
      max-width: unset;
    }
  }

  .tool-box,
  .actions-box,
  .infra-locked,
  .panel-box {
    padding: 1rem;

    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    & > * {
      margin-bottom: 0.5rem;
    }

    .separator {
      border-bottom: 2px solid $gray;
      margin: 0 5px 0.5rem;
    }
  }

  .tool-box {
    button.active:not(:disabled) {
      background: $blue-dark;
      border: 3px solid $white;

      &::after {
        content: ' ';

        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid $white;

        position: absolute;
        top: 50%;
        left: 100%;
        margin-top: -10px;
        margin-left: 6px;
      }
    }
  }
  .actions-box {
    background: white;

    button:not(.active):not(:disabled) {
      border: 3px solid $blue;
    }
    button:disabled {
      border: 3px solid $gray;
    }
  }

  .infra-locked {
    width: 32.25rem;
    overflow-y: auto;
    height: auto;
  }

  .panel-box {
    width: 32.25rem;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .nav-box {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1rem;

    display: flex;
    flex-direction: column;

    & > * {
      margin-bottom: 0.5rem;
    }

    & > .separator {
      margin-bottom: 1rem;
    }
  }

  .error-box {
    position: absolute;
    bottom: 4em;
    right: 0;
    padding: 1rem;
    gap: 1rem;

    display: flex;
  }

  .map-wrapper {
    flex-grow: 1;
    flex-shrink: 1;

    position: relative;
    display: flex;
    flex-direction: column;

    & > .map {
      flex-grow: 1;

      .map-modal {
        width: clamp(25%, 50%, 100%);
      }

      .popup {
        text-align: center;

        .maplibregl-popup-content > *:first-child {
          font-weight: bold;
        }
      }
    }

    .messages-bar {
      height: 2em;
      line-height: 2em;
      background: white;
      color: #333;
      font-size: 0.9em;
      position: relative;

      & > div {
        width: auto;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        position: absolute;
        inset: 0;
      }
    }
  }

  .selection-left-panel {
    .entity {
      .strong {
        font-weight: bold;
      }
    }
  }

  .popup.editor-selection {
    .maplibregl-popup-content {
      min-width: 200px;
      min-height: 100px;
    }
  }

  .editor-infra-errors-list {
    .error-count {
      height: 1.5rem;
    }
    #errors-list-container {
      height: 60vh;
      overflow: auto;
    }
  }
}
