@import 'tailwindcss';
@import '../../../../index.css';

.ui-chronogram {
  --chronogram-manchette-header-height: 33px;
  --chronogram-manchette-footer-height: 39px;

  position: relative;
  width: 100%;
  border-radius: 10px;
  box-shadow:
    0 4px 9px rgba(0, 0, 0, 0.06),
    0 1px 2px rgba(0, 0, 0, 0.19);

  .chronogram-manchette-container {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .chronogram-container {
    width: 100%;
    height: 100%;
    position: sticky;
    top: 0;
  }

  .chronogram-manchette {
    background-color: rgba(247, 246, 238, 1);
  }

  .chronogram-manchette-list {
    height: calc(
      100% - var(--chronogram-manchette-header-height) - var(--chronogram-manchette-footer-height)
    );
    overflow: hidden;
  }

  .chronogram-manchette-header,
  .chronogram-manchette-footer {
    position: sticky;
    z-index: 1;
    width: 100%;
    background-color: rgba(247, 246, 238, 1);
  }

  .chronogram-manchette-header {
    top: 0;
    height: var(--chronogram-manchette-header-height);
    box-shadow: inset 0 -1px 0 rgba(182, 178, 175, 1);
    padding-left: 9px;
    padding-top: 7px;
  }

  .chronogram-manchette-footer {
    bottom: 0;
    height: var(--chronogram-manchette-footer-height);
    box-shadow: inset 0 1px 0 rgb(182, 178, 175);
  }

  .level-crossing {
    height: 48px;
    width: 100%;
    background-color: rgba(242, 240, 228, 1);
    box-shadow:
      inset 0 -1px 0 rgba(182, 178, 175, 1),
      inset 0px 1px 0px rgba(255, 255, 255, 1);
    padding-inline: 12px;
    color: rgba(0, 0, 0, 1);

    .x-circle {
      color: rgb(182, 178, 175);
    }

    &:hover {
      color: rgba(217, 28, 28, 1);
      background-color: rgba(250, 249, 245, 1);
    }

    &:active {
      color: rgb(0, 0, 0);
    }

    &:hover,
    &:active {
      .x-circle {
        color: unset;
      }
    }
  }

  .chronogram-slider-container {
    position: absolute;
    height: 28px;
    right: 0;
    bottom: 6px;
    z-index: 10;
    padding: 12px 11px;
    background-color: rgb(255, 255, 255);

    .chronogram-slider {
      display: flex;
      align-items: center;
    }
  }
}
