html:has(> body > .menu-overlay) {
  overflow: hidden;
}

body {
  min-height: 100vh;
}

.menu-overlay {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
}

.mastcontainer-map {
  height: 100vh;
}

.no-mastnav {
  .actionbar {
    width: 100%;
  }
  .mastcontainer {
    padding-left: 0;
  }
}

.loader {
  text-align: center;
}

.loader,
.login-form {
  margin-top: 50vh;
  transform: translateY(-50%);

  &.center {
    margin: inherit;
    transform: inherit;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.login-form .logo {
  max-height: 288px;
}

.version {
  position: absolute;
  right: 0;
  font-size: 0.7rem;
}

// Override Bootstrap's default styles
.mastheader {
  height: 40px !important;
  .dropdown-toggle {
    padding-inline: 0;
  }

  .user-dropdown,
  .navbar-breadcrumbs {
    font-size: 0.75rem;
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--grey30);
    cursor: pointer;

    .text-truncate:hover {
      color: var(--white);
    }
  }
}

/* Make cool transitions for fullscreen mode */
.mastheader,
.mastnav,
.mastcontainer,
.actionbar,
.table-filters,
.sideBar-container {
  transition: 0.4s ease-in-out;
}

.mastnav.fullscreen {
  left: -112px !important;
}

.mastheader.fullscreen {
  top: -80px !important;
}

.mastheader-logo {
  img {
    height: 24px !important;
  }

  &-with-name {
    img {
      height: 40px;
    }
  }

  .without-image {
    img {
      width: 24px;
    }
  }
}

.actionbar.fullscreen {
  top: 0 !important;
  width: 100% !important;
}

.mastcontainer.fullscreen {
  padding-top: 72px;
  padding-left: 0 !important;
}

.table-filters.fullscreen {
  top: 80px !important;
}

.sideBar-container.fullscreen {
  left: -104px !important;
  top: -59.2px !important;
  height: 109vh !important;
}

.navbar-breadcrumbs {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.25rem;
  max-width: 84vw;
  a {
    color: var(--coolgray7);
    &:hover {
      color: var(--coolgray1);
    }
  }
  @media screen and (max-width: 1280px) {
    font-size: 1rem;
  }
}

/* media queries won't accept CSS variables... */

/* lg breakpoint 1024 px */
@media screen and (max-width: 1023px) {
  .btn-fullscreen {
    bottom: 96px;
  }
  .btn-resetviewport {
    bottom: 144px;
  }
}

@media screen and (max-width: 1023.98px) {
  .sideBar-container {
    padding-left: 0;
    bottom: 0;
    max-width: 100vw;
    width: 100vw;
    top: 30%;
  }
  .sideBar-content {
    max-width: 100vw;
  }
  .sideBar-container.fullscreen {
    left: 0 !important;
    top: 30% !important;
  }
}

@media screen and (min-width: 1280px) {
  .sideBar-container {
    margin-top: 144px;
  }
  .sideBar-container.fullscreen {
    top: -66.4px;
  }
}

.creation-sidebar.fullscreen {
  left: -100px !important;
  top: -72px !important;
  transition-delay: 0.2s;
}

@media screen and (max-width: 1023.98px) {
  .creation-sidebar {
    padding-left: 8px !important;
    padding-top: 284.8px !important;
    transition-delay: 0.11s;
  }
  .creation-sidebar.fullscreen {
    transition-delay: 0.25s;
    top: -68px !important;
    left: 0 !important;
  }
}

.custom-control {
  padding-left: 26px !important;
  .custom-control-label {
    &::before,
    &::after {
      left: -26px;
    }
  }
}

.modal.show {
  // mastheader is at 1056
  z-index: 1057;
}

@media (min-width: 576px) {
  .modal-dialog.modal-lg,
  .modal-dialog.modal-xl {
    max-width: calc(100vw - 48px) !important;
  }
}
@media (min-width: 1024px) {
  .modal-dialog.modal-lg,
  .modal-dialog.modal-xl {
    max-width: 800px !important;
  }
}
@media (min-width: 1280px) {
  .modal-dialog.modal-xl {
    max-width: 1140px !important;
  }
}

.btn-map-infras-blinking {
  animation-name: blinking;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  @keyframes blinking {
    from {
      background-color: var(--orange);
      color: var(--white);
    }
    to {
      background-color: var(--white);
      color: var(--orange);
    }
  }
}

.maplibregl-map {
  font-family:
    Avenir,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'IBM Plex Sans',
    'Helvetica Neue',
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
  .maplibregl-marker {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
