/* REGULAR */
@font-face {
  font-family: 'IBM Plex Sans';
  src: inline('assets/newFonts/IBM-Plex-Sans/IBMPlexSans-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: inline('assets/newFonts/IBM-Plex-Sans/IBMPlexSans-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: inline('assets/newFonts/IBM-Plex-Sans/IBMPlexSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: inline('assets/newFonts/IBM-Plex-Sans/IBMPlexSans-Bold.ttf') format('truetype');
  font-weight: 900;
}

/* SERIF */
@font-face {
  font-family: 'IBM Plex Serif', serif;
  src: inline('assets/newFonts/IBM-Plex-Serif/IBMPlexSerif-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'IBM Plex Serif', serif;
  src: inline('assets/newFonts/IBM-Plex-Serif/IBMPlexSerif-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

/* MONOSPACE */
@font-face {
  font-family: 'IBM Plex Mono', monospace;
  src: inline('assets/newFonts/IBM-Plex-Mono/IBMPlexMono-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'IBM Plex Mono', monospace;
  src: inline('assets/newFonts/IBM-Plex-Mono/IBMPlexMono-SemiBold.ttf') format('truetype');
  font-weight: 600;
}
