.mastcontainer-no-mastnav {
  display: flex;
  flex-direction: column;
  justify-content: space-between !important;
  height: 100vh;
  padding-left: 0 !important;
  padding-bottom: 0 !important;
}
.cardscontainer {
  margin: 2rem;
  .card {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .2s ease-in-out;
    img {
      padding: 1rem;
      width: 50%;
    }
  
    &:hover {
      opacity: .5;
    }
  }
}

.institutional-logos {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 1rem;
  gap: 2rem;
  opacity: 0.75;
  img {
    height: 2.5rem;
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.5;
    }
  }
}

.disabled-link {
  pointer-events: none;
}

.application-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0 0;
  h1 {
    padding-top: 2rem;
    font-size: 3rem;
    color: var(--coolgray9);
  }
  img {
    width: 8rem;
  }
  @media screen and (max-width: 1024px) {
    h1 {
      font-size: 1.5rem;
    }
    img {
      width: 4rem;
    }
  }
}

.modal-header .close {
  padding-top: 1.8rem !important;
}

.language-choice-btn {
  display: flex !important;
  padding: 0.5rem 1rem !important;
  gap: 1rem;
  svg {
    height: 24px;
  }
  &:disabled svg {
    opacity: 0.5 !important;
  }
}
