.mastcontainer-no-mastnav {
  padding-left: 0 !important;
  padding-bottom: 0 !important;
}
.cardscontainer {
  margin: 2rem;
}
.card {
  cursor: pointer;
  transition: .2s ease-in-out;
}
.card:hover {
  opacity: .5;
}

.disabled-link {
  pointer-events: none;
}

.application-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0 0;
  h1 {
    padding-top: 2rem;
    font-size: 3rem;
    color: var(--coolgray9);
  }
  img {
    width: 8rem;
  }
  @media screen and (max-width: 1024px) {
    h1 {
      font-size: 1.5rem;
    }
    img {
      width: 4rem;
    }
  }
}

.modal-header .close {
  padding-top: 1.8rem !important;
}