@import '@osrd-project/ui-core/dist/theme.css';

// https://github.com/tailwindlabs/tailwindcss/issues/942
svg,
img {
  display: inline-block !important;
  max-width: none;
}

//https://github.com/tailwindlabs/tailwindcss/pull/7742#issuecomment-1061332148
.study-card-img,
.map-format-switch-img {
  height: 24px;
}

.infra-logo,
.icon-to-svg {
  height: 16px;
}

.layer-modal-img {
  height: 20px;
}

//https://github.com/tailwindlabs/tailwindcss/issues/6602
.error-box button {
  background-color: rgb(239, 239, 239);
  color: black;
}

// __________________ Calendar Picker  __________________
.date-picker .calendar-picker {
  top: auto !important;
  left: auto !important;
  z-index: 1;
}

// __________________ Time Picker  __________________
.time-picker {
  .modal-content {
    left: -12.4rem !important;
    .time-picker-container {
      max-width: 20.2rem;
    }
  }
}

// __________________ Common Time/Tolerance Picker  __________________

.time-picker,
.tolerance-picker {
  .modal-overlay {
    position: relative !important;
  }
  .modal-content {
    top: auto !important;
    width: auto;
    z-index: 1;
  }
}

// __________________ Tolerance Picker  __________________
.tolerance-picker {
  .modal-content {
    left: -23.5rem !important;
    .tolerance-grid {
      grid-auto-rows: 2rem !important;
    }
  }
}

// __________________ Select  __________________
// TODO Remove this after the fix in the ui-core
.osrd-ui-custom-select {
  &:focus {
    background: url('data:image/svg+xml;charset=utf-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2016%2016%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Ctitle%3Eicon%2F16%2Ftriangle-up-down-16%3C%2Ftitle%3E%0A%20%20%20%20%3Cg%20id%3D%22icon%2F16%2Ftriangle-up-down-16%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M4.42845467%2C5.56944689%20L7.82445467%2C2.17344689%20C7.8713568%2C2.12642604%207.93504104%2C2.1%208.00145467%2C2.1%20C8.0678683%2C2.1%208.13155254%2C2.12642604%208.17845467%2C2.17344689%20L11.5744547%2C5.56944689%20C11.6461431%2C5.64095399%2011.6676197%2C5.74864161%2011.6288468%2C5.84217853%20C11.5900739%2C5.93571546%2011.4987091%2C5.99662805%2011.3974547%2C5.99644729%20L4.60545467%2C5.99644729%20C4.50420023%2C5.99662805%204.41283543%2C5.93571546%204.37406252%2C5.84217853%20C4.3352896%2C5.74864161%204.35676625%2C5.64095399%204.42845467%2C5.56944689%20Z%20M4.43345467%2C10.4270004%20L7.82945467%2C13.8230004%20C7.8763568%2C13.8700213%207.94004104%2C13.8964473%208.00645467%2C13.8964473%20C8.0728683%2C13.8964473%208.13655254%2C13.8700213%208.18345467%2C13.8230004%20L11.5794547%2C10.4270004%20C11.6511431%2C10.3554933%2011.6726197%2C10.2478057%2011.6338468%2C10.1542688%20C11.5950739%2C10.0607318%2011.5037091%2C9.99981924%2011.4024547%2C10%20L4.61045467%2C10%20C4.50920023%2C9.99981924%204.41783543%2C10.0607318%204.37906252%2C10.1542688%20C4.3402896%2C10.2478057%204.36176625%2C10.3554933%204.43345467%2C10.4270004%20L4.43345467%2C10.4270004%20Z%22%20id%3D%22Path%22%20fill%3D%22%23000000%22%20fill-rule%3D%22nonzero%22%3E%3C%2Fpath%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E')
      no-repeat right 0.75rem center;
  }
}
