$colors: (
  'oldblue': #0088ce,
  'blue': #303383,
  'darkblue': #16183d,
  'verydarkblue': #0e0f26,
  'purple': #6e1e78,
  'pink': #a1006b,
  'red': #cd0037,
  'orange': #e05206,
  'yellow': #ffb612,
  'green': #82be00,
  'teal': #d2e100,
  'cyan': #009aa6,
  'white': #fff,
  'black': #000,
  'gray': #333,
  'gray-dark': #343a40,
  'primary': #303383,
  'primary-dark': #202258,
  'secondary': #4d4f53,
  'success': #82be00,
  'info': #009aa6,
  'warning': #ffb612,
  'danger': #cd0037,
  'light': #f2f2f2,
  'dark': #343a40,
  'coolgray1': #f2f2f2,
  'coolgray3': #d7d7d7,
  'coolgray5': #b9b9b9,
  'coolgray7': #a0a0a0,
  'coolgray9': #747678,
  'coolgray11': #4d4f53,
  'coolgray13': #333333,
  'coolgray15': #202020,

  // OSRD Design System
  'ambiantB5': #faf9f5,
  'ambiantB10': #f7f6ee,
  'ambiantB15': #f2f0e4,
  'error5': #ffeeed,
  'error60': #d91c1c,
  'error80': #6b0000,
  'grey60': #5c5955,
  'grey80': #312e2b,
  'primary60': #1844ef,
  'primary80': #1f0f96,
  'selection20': #fff2b3,
  'warning30': #eaa72b,
  'warning60': #7d521e,
);

:root {
  --border-radius: 4px; // 0.4375rem;
  --breakpoint-lg: 1024px;
  @each $color, $value in $colors {
    --#{$color}: #{$value};
    --#{$color}-rgb: #{red($value)}, #{green($value)}, #{blue($value)};
  }

  --modal-gray-transparent-background: rgba(0, 0, 0, 0.1);
}
