.osrd-config-mastcontainer {
  height: 100vh;
}

.osrd-config-item {
  position: relative;
  margin: 0;
  &.mini {
    margin: -.5rem 0 -.5rem 2rem;
  }
}

.osrd-config-item-title {
  font-weight: bold;
  text-transform: uppercase;
  color: #747678;
  font-size: 1rem;
  text-align: right;
  &.mini {
    font-size: 1rem;
  }
}

.osrd-config-item-container {
  background-color: white;
  padding: .5rem;
  border-radius: 4px;
  &.osrd-config-item-clickable {
    cursor: pointer;
    transition: .2s;
    &:hover {
      background-color: #d7d7d7;
    }
  }
}
.osrd-config-item-container-map {
  border-radius: 0 0 4px 4px;
  height: 100%;
  .btn-map-container {
    top: 1.5rem;
    right: 1.5rem;
  }
  .map-modal {
    top: .5rem;
    min-width: calc(100% - 6rem);
  }
  .options-btn {
    padding: .2rem .8rem .2rem;
    font-size: .8rem;
  }
  .mapboxgl-popup {
    z-index: 1;
  }
  .map-settings-btn {
    position: absolute;
    z-index: 1;
    right: 2rem;
    top: 2rem;
    i {
      font-size: 1.5rem;
    }
  }
  .btn-resetviewport {
    z-index: 1;
    right: 2rem;
    top: 5rem;
    bottom: inherit;
  }
  .map-settings {
    top: 1rem;
    right: 1rem;
    max-width: inherit;
    position: absolute;
    z-index: 0;
    min-height: 5rem;
    opacity: 0;
    padding: 1rem;
    background-color: #fff;
    width: calc(100% - 4rem);
    transition: .4s;
    margin: 1rem;
    border-radius: 4px;
    border: 1px solid #d7d7d7;
    &.active {
      z-index: 1;
      opacity: 1;
    }
  }
}

.osrd-config-item-map {
  height: calc(90% - 3rem);
}

.osrd-config-place {
  position: relative;
  i {
    z-index: 2;
  }
  .hover {
    transition: .2s;
    border-radius: 4px;
    &:hover {
      background-color: #f2f2f2;
    }
  }
  .btn, .btn:hover {
    border: none;
    background-color: transparent;
  }
  &.osrd-config-place-via {
    margin-bottom: .5rem;
  }
  &:not(.osrd-config-place-via):last-child::after {
    position: absolute;
    margin-bottom: -2rem;
    z-index: 1;
    display: block;
    width: 1rem;
    height: 2.5rem;
    content: "";
    background-color: #fff;
  }
}
.osrd-config-time {
  width: 8rem;
}
.osrd-config-stoptime {
  width: 5rem;
}

.osrd-config-anchor {
  display: block;
  position: relative;
  max-height: 29rem;
  overflow-y: auto;
  width: 100%;
  background-image: linear-gradient(0deg, #d7d7d7 50%, transparent 50%);
  background-repeat: repeat-y;
  background-position: top left;
  background-size: 1rem 0.25rem;

  &::before {
    position: absolute;
    z-index: 1;
    display: block;
    width: 1rem;
    height: 2.8rem;
    content: "";
    background-color: #fff;
  }
}

.select-osrd-sm select {
  min-height: 1.875rem;
  padding: .40625rem 1.25rem;
  line-height: .9rem;
  font-size: .9rem;
}

.osrd-config-infraselector {
  max-height: 50vh;
  overflow: auto;
  .osrd-config-infraselector-item {
    background-color: #f2f2f2;
    cursor: pointer;
    padding: 0 .5rem;
    border-radius: 4px;
    transition: .2s;
    &:hover {
      background-color: #d7d7d7;
    }
  }
}

.timetable-trainlist {
  max-height: 10rem;
  font-size: .9rem;
  overflow: auto;
}
