# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @osrd-project/devops
/.github/CODEOWNERS                                      @flomonster @bloussou @nicolaswurtz

# --- NIX ---
/nix                                                     @osrd-project/devops
/flake.lock                                              @osrd-project/devops
*.nix                                                    @osrd-project/devops

# --- FRONT ---
/front                                                   @osrd-project/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts
/front/src/reducers/osrdconf/infra_schema.json

# --- EDITOAST ---
/editoast                                                @osrd-project/editoast-maintainers
/editoast/openapi.yaml
/chartos                                                 @osrd-project/editoast-maintainers
/python                                                  @osrd-project/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @osrd-project/test-maintainers

# --- CORE ---
/core                                                    @osrd-project/core-maintainers

# --- CORE PHYSICS ---
/core/*Physics*.java                                     @osrd-project/physics
/core/*Integration*.java                                 @osrd-project/physics

# --- GATEWAY ---
/gateway                                                 @osrd-project/devops
