# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @DGEXSolutions/osrd-backend-maintainers

# --- FRONT ---
/front                                                   @DGEXSolutions/osrd-front-maintainers

# --- API ---
/api                                                     @flomonster @multun @eckter

# --- EDITOAST ---
/editoast                                                @Tguisnet @flomonster

# --- CHARTOS ---
/chartos                                                 @flomonster @multun

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @DGEXSolutions/osrd-backend-maintainers
*Physics*.java                                           @DGEXSolutions/osrd-physics
*Integration*.java                                       @DGEXSolutions/osrd-physics

# Python Interactive Client
/core/src/python_interactive_client                      @flomonster @multun
