root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.{tsx,ts,js,scss,json,toml,yml,yaml,nix}]
indent_size = 2

[*.{rs,kt,java,sql,py,sh}]
indent_size = 4
