.gradle
gradle
.idea
build
gradlew*
*.iml
*.jar
.jqwik-database
*.class

# vscode

.vscode
.class
bin
.project
.classpath
.settings

# avoid mistakenly adding proprietary files
*.rsl
*.xml
*.railml
*.railml3
