# shell scripts must not be converted to CRLF, otherwise the CR could be interpreted
# as part of the program name if the script ever were to be interpreted under linux.
# it's especially an issue for scripts copied to a docker container.
# https://unix.stackexchange.com/questions/721844/linux-bash-shell-script-error-cannot-execute-required-file-not-found
*.sh text eol=lf
# https://docs.github.com/en/repositories/working-with-files/managing-files/customizing-how-changed-files-appear-on-github
editoast/openapi.yaml linguist-generated=true
front/src/reducers/osrdconf/infra_schema.json linguist-generated=true
