version: '3'
volumes:
  psql_data:
  redis_data:
services:
  postgres:
    image: postgis/postgis:13-3.2-alpine
    container_name: osrd-postgres
    network_mode: host
    user: postgres
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: "password"
    volumes:
      - "psql_data:/var/lib/postgresql/data"
      - "./init_db.sql:/docker-entrypoint-initdb.d/init.sql"
    healthcheck:
      test: ["CMD", "sh", "-c", '[ "$$(cat /proc/1/cmdline)" = postgres ] && pg_isready']
      start_period: 4s
      interval: 5s

  redis:
    image: redis
    container_name: osrd-redis
    network_mode: host
    restart: unless-stopped
    volumes:
      - "redis_data:/data"
    command: "redis-server --save 30 1 --loglevel warning"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      start_period: 4s
      interval: 5s

  chartos:
    image: osrd/chartos
    container_name: chartos
    network_mode: host
    build:
      context: chartos
      dockerfile: Dockerfile
    depends_on:
      postgres: {condition: service_healthy}
      redis: {condition: service_healthy}
    container_name: chartos
    restart: unless-stopped
    command: "uvicorn --factory chartos:make_app --host 0.0.0.0 --port 7000"
    environment:
      ROOT_URL: "http://localhost:7000"
      CONFIG_PATH: "/code/chartos.yml"
      PSQL_DSN: "postgres://osrd:password@localhost:5432/osrd"
      REDIS_URL: "redis://localhost:6379"
    healthcheck:
      test: ["CMD", "python", "-c", "from urllib.request import urlopen; exit(0 if urlopen('http://localhost:7000/health').status == 200 else 1)"]
      start_period: 4s
      interval: 5s

  api:
    image: osrd/api
    container_name: osrd-api
    depends_on:
      postgres: {condition: service_healthy}
    network_mode: host
    restart: unless-stopped
    build:
      context: api
      dockerfile: Dockerfile
      args:
        environment: test
    environment:
      DJANGO_SETTINGS_MODULE: "config.test"
      PSQL_HOST: "localhost"
      OSRD_BACKEND_URL: "http://localhost:8080"
    command:
      - /bin/sh
      - -c
      - |
        python3 manage.py migrate
        exec python3 manage.py runserver 0.0.0.0:8000
    # bind the code inside the container
    volumes:
      - ./api:/home/service
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health/"]
      start_period: 4s
      interval: 5s

  core:
    image: osrd/core
    container_name: osrd-core
    build:
      context: core
      dockerfile: Dockerfile
    network_mode: host
    restart: unless-stopped
    command: "java -ea -jar /app/osrd_core.jar api -p 8080"
    environment:
      MIDDLEWARE_BASE_URL: "http://localhost:8000"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health"]
      start_period: 4s
      interval: 5s

  front:
    image: osrd/front
    container_name: osrd-front
    build:
      context: front
      dockerfile: Dockerfile
      args:
        NGINX_CONFIG: "nginx-dev.conf"
        REACT_APP_LOCAL_BACKEND: "True"
        REACT_APP_API_URL: "http://localhost:8000"
        REACT_APP_CHARTIS_URL: "http://localhost:7000"
    restart: unless-stopped
    ports: ["3000:80"]
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost"]
      start_period: 4s
      interval: 5s

  editoast:
    image: osrd/editoast
    container_name: osrd-editoast
    build:
      context: editoast
      dockerfile: Dockerfile
    network_mode: host
    restart: unless-stopped
    command: "editoast"

  wait-healthy:
    depends_on:
      api: {condition: service_healthy}
      chartos: {condition: service_healthy}
      editoast: {condition: service_healthy}
    restart: "no"
    image: alpine:latest
    command: "true"
