@use './conflict/styles/conflict.scss';
@use './infra/styles/infra.scss';
@use './project/styles/project.scss';
@use './rollingStock/styles/rollingStock.scss';
@use './simulationResult/styles/simulationResult.scss';
@use './scenario/styles/scenario.scss';
@use './study/styles/study.scss';
@use './trainschedule/styles/trainSchedule.scss';
@use './timesStops/styles/timesStops.scss';
