.opendata-import {
  --opendatagreen: #329623;
  
  .opendata-import-global-settings {
    background-color: var(--coolgray9);
    border-radius: 4px;
    padding: .25rem .5rem 0;
    margin-bottom: .5rem;
    transition: .2s;
    &:hover {
      background-color: var(--coolgray7);
    }
    .opendata-import-global-settings-bar {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      cursor: pointer;
      color: var(--light);
      padding: 0 0 .25rem;
    }
    .opendata-import-global-settings-items {
      display: none;
      &.active {
        display: block;
      }
    }
  }
  
  .osrd-config-item-from {
    background-color: var(--green);
  }
  .osrd-config-item-to {
    background-color: var(--yellow);
  }

  .results-stations {
    height: 15rem;
    overflow: auto;
  }
  .results-stations, .result-station-selected {
    border-radius: 4px;
    position: relative;
    margin-top: .5rem;
    .results-station-data {
      background-color: var(--white);
      flex-grow: 1;
      cursor: pointer;
      border: 2px solid var(--coolgray1);
      padding-top: .15rem;
      margin-bottom: .25rem;
      border-radius: 4px;
      transition: .2s;
      &:hover {
        border-color: var(--coolgray9);
      }
      .station-data-head {
        display: flex;
        align-items: baseline;
        padding: 0 .25rem;
        height: 1.5rem;
        .station-data-code {
          font-size: .8rem;
          width: 2.25rem;
        }
        .station-data-name {
          overflow: hidden;
          white-space: nowrap;
          font-size: 1.1rem;
        }
        .station-data-ch {
          margin-left: auto;
          font-weight: 500;
          font-size: .8rem;
        }
      }
      .station-data-localization {
        display: flex;
        align-items: baseline;
        position: relative;
        padding: 0 .25rem 0 2.5rem;
        height: 1rem;
        line-height: .8rem;
        color: var(--coolgray9);
        gap: .25rem;
        .station-data-city {
          font-size: .7rem;
        }
        .station-data-department {
          text-transform: uppercase;
          font-size: .6rem;
        }
        .station-data-region {
          text-transform: uppercase;
          font-size: .6rem;   
        }
        .station-data-uic {
          margin-left: auto;
          font-size: .6rem;
          color: var(--primary);    
        }
      }
      .station-data-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 .25rem;
        font-size: .7rem;
        background-color: var(--coolgray1);
        border-radius: 0 0 4px 4px;
        height: 1rem;
        .station-data-line {
          overflow: hidden;
          white-space: nowrap;
          color: var(--coolgray9);
        }
        .station-data-pk {
          overflow: hidden;
          white-space: nowrap;
          margin-left: auto;
          margin-right: .25rem;
          font-size: .6rem;
        }
        .station-data-line-number {
          font-size: .6rem;    
          color: var(--purple);
        }
      }
    }
  }

  .opendata-trainlist {
    position: relative;
    .opendata-trainlist-launchbar {
      display: flex;
      align-items: center;
      padding: .5rem;
      border-radius: 4px 4px 0 0;
      height: 2.5rem;
      color: var(--light);
      background-color: var(--secondary);
    }
    .opendata-trainlist-results {
      position: relative;
      overflow: auto;
      max-height: calc(100vh - 17.5rem);
      .opendata-traindetail {
        position: relative;
        margin-bottom: .5rem;
        border: 2px solid var(--coolgray3);
        border-radius: 4px;
        .opendata-traindetail-main {
          display: flex;
          align-items: baseline;
          background-color: var(--coolgray1);
          padding: .5rem;
          transition: .2s;
          .opendata-traindetail-idx {
            width: 1.5rem;
            font-size: .7rem;
          }
          .opendata-traindetail-num {
            width: 4.5rem;
            font-size: 1.2rem;
            font-weight: bold;
            color: var(--coolgray9);
            height: 2rem;
            .opendata-traindetail-activity {
              display: block;
              font-weight: normal;
              text-transform: uppercase;
              font-size: .6rem;      
              line-height: .5rem;  
            }
          }
          .opendata-traindetail-startend {
            width: 9rem;
            font-size: .9rem;
            text-align: center;
          }
          .opendata-traindetail-duration {
            width: 3.5rem;
            font-size: .8rem;        
          }
          .opendata-traindetail-rollingstock {
            align-self: flex-start;
            overflow: hidden;
            height: 2rem;
            width: 50%;
            padding-left: 10%;
            img {
              height: 2rem;
              padding: .25rem 0;
            }
          }
          .opendata-traindetail-transilien {   
            color: var(--blue);
            font-weight: 500;
            margin-left: auto;
            text-transform: uppercase;
            margin-right: .5rem;
            font-size: .8rem;        
          }
          .opendata-traindetail-stepnb {   
            color: var(--light);
            font-weight: bold;
            font-size: .8rem;
            border-radius: 1rem;
            padding: .5rem;
            line-height: 1rem;
            width: 2rem;
            height: 2rem;
            text-align: center;
          }
        }
        .opendata-traindetail-with-hover {
          cursor: pointer;
          &:hover {
            background-color: var(--coolgray3);
          }
        }
        .opendata-traindetail-steps {
          overflow: auto;
          max-height: 0rem;
          transition: .2s;
          &.opened {
            max-height: 10rem;
          }
          .opendata-traindetail-step {
            display: flex;
            align-items: baseline;
            margin-left: 5rem;
            &:hover {
              background-color: var(--coolgray1);
            }
            .opendata-traindetail-step-nb {
              width: 2rem;
              text-align: right;
              padding: 0 .5rem;
              font-size: .6rem;
            }
            .opendata-traindetail-step-startend {
              width: 8.5rem;
              font-size: .9rem;
            }
            .opendata-traindetail-step-duration {
              width: 2rem;
              margin-right: .5rem;
              text-align: right;
              font-size: .8rem;
            }
            .opendata-traindetail-step-name {
              font-size: .9rem;
            }
          }
        }
      }
    }
  }
  .automated-map {
    position: relative;
    width: 100%;
    height: 20rem;
  }
}