.stdcm-v2-header {
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 1);
  height: 120px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .stdcm-v2-header__title {
    max-height: 3rem;
    color: rgba(0, 0, 0, 1);
    font-size: 32px;
    font-weight: 600;
    font-style: SemiBold;
    letter-spacing: -0, 6px;
    text-align: left;
    line-height: 40px;
  }

  .stdcm-v2-header__notification {
    max-height: 3rem;
    border-radius: 2px;
    border: 4px solid rgba(112, 193, 229, 1);
    background-color: rgba(230, 247, 255, 1);
    padding: 7px 16px 9px 16px;
    color: rgba(33, 100, 130, 1);
    font-size: 16px;
    font-weight: 600;
    font-style: SemiBold;
    letter-spacing: 0px;
    line-height: 24px;

    a {
      color: rgba(24, 68, 239, 1);
      font-size: 16px;
      font-weight: 400;
      font-style: Regular;
      letter-spacing: 0px;
      text-align: left;
      line-height: 24px;
    }
  }

  .scenario-explorator-card {
    height: 7rem;
    margin-bottom: 0;

    &-noscenario {
      font-size: 1.2rem;
    }

    &-head-img,
    &-head {
      height: 6rem;
    }
  }
}
