.stdcm-v2 {
    .stdcm-v2__body {
        padding: 32px;
        background-color: rgb(239, 243, 245);
        display: flex;
    
        .stdcm-v2-simulation-settings {
            display: flex;
            gap: 13px;
            .stdcm-v2__separator {
                border-radius: 4px;
                background-color: rgba(0, 0, 0, 0.05);
                width: 6px;
                height: 280px;
                margin: 12px 0;
            }
            .stdcm-v2-simulation-itinerary {
                display: flex;
                flex-direction: column;
                gap: 32px;
                width: 450px;

                .stdcm-v2-vias-list {
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                }

                /*TODO Waiting to fix the button in ui-core...*/
                .stdcm-v2-launch-request{
                    padding-bottom: 0.15rem;
                    button {
                        justify-content: center;
                        width: 100%;
                        font-weight: 500;
                    }
                } 

                .warning-box {
                    border-radius: 8px;
                    box-shadow:  0px 0px 0px 4px rgba(255, 255, 255, 1) inset, 0px 0px 0px 5px rgba(234, 167, 43, 1) inset, 0px 3px 7px -3px rgba(125, 82, 30, 0.55);
                    background-color: rgba(253, 245, 225, 1);
                    color: #7D521E;
                    display: flex;
                    flex-direction: column;
                    padding: 1rem 1.8125rem 2rem 1.8125rem;
                    margin-top: 0.75rem;

                    span {
                        color: #EAA72B;
                        align-self: center;
                        margin-bottom: 6px;
                    }

                }

                .wizz-effect:active {
                    .warning-box {
                        animation: tilt-shaking 0.25s 0s;
                    }
                }

                @keyframes tilt-shaking {
                0% { transform: rotate(0deg); }
                12% { transform: rotate(1deg); }
                24% { transform: rotate(0eg); }
                36% { transform: rotate(-1deg); }
                47% { transform: rotate(0deg); }
                59% { transform: rotate(1deg); }
                70% { transform: rotate(0eg); }
                85% { transform: rotate(-1deg); }
                100% { transform: rotate(0deg); }
                }

            }
        }
        
        .stdcm-v2-map {
            border-radius: 8px;
            border: 1px solid rgba(255, 255, 255, 1);
            box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.75) inset, 0px 0px 0px 1px rgba(0, 0, 0, 0.25) inset;
            height: auto;
            min-height: 540px;
            margin-left: 0.85rem;
            width: 100%;
            height: calc(100vh - 64px);
        }
    }

}
