.stdcm-v2 {
  font-family: 'IBM Plex Sans';
  min-width: 85rem;

  /* 
  We set the cursor to default to avoid the pointer cursor that appears due to role="button" on the div.
  The role="button" makes the div appear clickable, which causes the cursor to change to a pointer on hover.
  Using !important ensures that the cursor remains in its default state.
*/
  cursor: default !important;

  .stdcm-v2__body {
    padding: 2rem 2rem 3rem;
    background-color: rgb(239, 243, 245);
    display: flex;
    flex-direction: column;

    .stdcm-simulation-parameters {
      margin-bottom: 1.5rem;
      min-width: 50.25rem;
    }

    .stdcm-scenario-explorer {
      width: 20.125rem;
      .scenario-explorator-card {
        padding: 0.5rem 3.2rem 0.5rem 0;
        .scenario-explorator-card,
        .scenario-explorator-card-noscenario {
          font-size: 1.25rem;
        }
      }
    }

    .stdcm-allowances {
      display: flex;
      align-items: center;
      min-width: 28.125rem;
      width: 28.125rem;
      .osrd-config-item-container {
        .col-3,
        .col-6 {
          padding: 0 0.31rem !important;
        }
      }
    }

    .stdcm-v2-simulation-inputs {
      display: flex;
      gap: 0.813rem;

      .stdcm-v2-consist-container {
        width: 20.125rem;

        .stdcm-v2-consist-img {
          overflow: hidden;
          img {
            transform: scaleX(-1);
            max-width: 100%;
            height: 1.25rem;
          }
        }
        .stdcm-v2-consist {
          .osrd-config-item-container {
            padding: 0 0.6rem 0 0;
            .feed-back {
              padding: 0;
            }
          }
        }
        .stdcm-v2-consist__properties {
          .feed-back:nth-child(1) {
            width: 7.75rem;
          }
          .feed-back:nth-child(2) {
            width: 8.25rem;
          }
          * > .base-label-wrapper > label {
            margin-bottom: 0;
          }
        }
      }

      .stdcm-v2__separator {
        border-radius: 0.25rem;
        background-color: rgba(0, 0, 0, 0.05);
        width: 0.375rem;
        height: 17.5rem;
        margin: 0.75rem 0;
      }
      .stdcm-v2-simulation-itinerary {
        display: flex;
        flex-direction: column;
        min-width: 28.125rem;
        width: 28.125rem;
        position: relative;
        align-items: center;

        & > div:not(:nth-last-child(-n + 2)) {
          margin-bottom: 2rem;
        }

        > div {
          width: 100%;
        }

        .stdcm-v2-vias-list,
        * > .stdcm-v2-vias-bundle {
          display: flex;
          flex-direction: column;
          gap: 1rem;
        }

        .stdcm-v2-vias-list {
          margin-block: 1rem;
        }

        .stdcm-origin-icon,
        .stdcm-destination-icon {
          align-self: baseline;
        }

        /*TODO Waiting to fix the button in ui-core...*/
        .stdcm-v2-launch-request {
          button {
            justify-content: center;
            width: 100%;
            font-weight: 500;
            margin-top: 2rem;
          }

          .stdcm-warning-buttons {
            display: flex;
            justify-content: space-between;
            padding-top: 1.125rem;
            button {
              border-radius: 0.31rem;
              border: 0.031rem solid rgba(121, 118, 113, 1);
              box-shadow:
                0rem 0.09rem 0.06rem rgba(255, 255, 255, 0.46) inset,
                0rem -0.09rem 0.06rem rgba(148, 145, 142, 1) inset,
                0rem 0.06rem 0.125rem rgba(0, 0, 0, 0.25);
              background-image: linear-gradient(
                180deg,
                rgba(226, 226, 222, 1) 0%,
                rgba(211, 209, 207, 1) 100%
              );
              color: #494641;
              padding: 0.25rem 0.75rem 0.5rem 0.75rem;
              max-width: fit-content;
            }
          }
        }

        .warning-box {
          border-radius: 0.5rem;
          box-shadow:
            0rem 0rem 0rem 0.25rem rgba(255, 255, 255, 1) inset,
            0rem 0rem 0rem 0.3125rem rgba(234, 167, 43, 1) inset,
            0rem 0.1875rem 0.4375rem -0.1875rem rgba(125, 82, 30, 0.55);
          background-color: rgba(253, 245, 225, 1);
          color: #7d521e;
          display: flex;
          flex-direction: column;
          padding: 1rem 1.8125rem 2rem 1.8125rem;
          margin-top: 0.75rem;

          span {
            color: #eaa72b;
            align-self: center;
            margin-bottom: 0.375rem;
          }
        }

        .wizz-effect:active {
          .warning-box {
            animation: tilt-shaking 0.25s 0s;
          }
        }

        @keyframes tilt-shaking {
          0% {
            transform: rotate(0deg);
          }
          12% {
            transform: rotate(1deg);
          }
          24% {
            transform: rotate(0eg);
          }
          36% {
            transform: rotate(-1deg);
          }
          47% {
            transform: rotate(0deg);
          }
          59% {
            transform: rotate(1deg);
          }
          70% {
            transform: rotate(0eg);
          }
          85% {
            transform: rotate(-1deg);
          }
          100% {
            transform: rotate(0deg);
          }
        }
      }
    }

    .stdcm-v2-map {
      border-radius: 0.5rem;
      border: 0.063rem solid rgba(255, 255, 255, 1);
      box-shadow:
        0rem 0rem 0rem 2px rgba(255, 255, 255, 0.75) inset,
        0rem 0rem 0rem 1px rgba(0, 0, 0, 0.25) inset;
      margin-left: 3rem;
      width: 100%;
      min-width: 28.125rem;
      height: calc(100vh - 4rem);
    }
  }

  .simulation-status-banner {
    .banner-content {
      padding: 0 0 1rem 21.125rem;
      background: linear-gradient(180deg, rgba(239, 243, 245) 2.5rem, rgba(233, 239, 242) 2.5rem);
      .status {
        width: 34.125rem;
        display: flex;
        font-weight: 400;
        letter-spacing: 0rem;
        text-align: center;
        justify-content: center;
        color: rgb(11, 114, 60);
        padding-top: 1.438rem;
        font-size: 1.5rem;
        line-height: 2rem;
        height: 5rem;
        border-radius: 0.5rem;
        background-color: rgb(230, 247, 238);
        box-shadow:
          0rem 0rem 0rem 0.25rem rgba(255, 255, 255, 1) inset,
          0rem 0rem 0rem 0.3125rem rgb(60, 202, 128) inset,
          0rem 0.1875rem 0.4375rem -0.1875rem rgba(11, 114, 60, 0.4);

        &.failed {
          background-color: rgba(255, 238, 237, 1);
          color: rgba(217, 28, 28);
          box-shadow:
            0rem 0rem 0rem 0.25rem rgba(255, 255, 255, 1) inset,
            0rem 0rem 0rem 0.3125rem rgba(255, 104, 104, 1) inset,
            0rem 0.1875rem 0.4375rem -0.1875rem rgba(217, 28, 28, 0.4);
        }
      }

      .error-message {
        padding-top: 1.375rem;
        max-width: 34.125rem;
        color: rgba(49, 46, 43, 1);
        line-height: 1.5rem;
      }
    }
  }
}
