.stdcm-v2 {
    .stdcm-v2__body {
        padding: 32px;
        background-color: rgb(239, 243, 245);
        display: flex;
    
        .stdcm-v2-simulation-settings {
            display: flex;
            gap: 13px;
            .stdcm-v2__separator {
                border-radius: 4px;
                background-color: rgba(0, 0, 0, 0.05);
                width: 6px;
                height: 280px;
                margin: 12px 0;
            }
            .stdcm-v2-simulation-itinerary {
                display: flex;
                flex-direction: column;
                gap: 32px;
                width: 450px;

                /*TODO Waiting to fix the button in ui-core...*/
                .stdcm-v2-launch-request > button {
                    justify-content: center;
                    width: 100%;
                    font-weight: 500;
                }
            }
        }

        .stdcm-v2-map {
            border-radius: 8px;
            border: 1px solid rgba(255, 255, 255, 1);
            box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.75) inset, 0px 0px 0px 1px rgba(0, 0, 0, 0.25) inset;
            height: auto;
            min-height: 540px;
            margin-left: 0.85rem;
            width: 100%;
            height: calc(100vh - 64px);
        }
    }
    .stdcm-v2-results {
        background-color: rgb(233, 239, 242);
        .simuation-banner {
            color: rgb(0, 0, 0);
            font-weight: 600;
            font-size: 1.125rem;
            line-height: 1.5rem;
            padding-top: 1.813rem;
            margin-left: 2rem;
            margin-right: 2rem;
            border-bottom: 0.063rem solid rgb(182, 178, 175);
            .creation-date {
                color: rgb(121, 118, 113);
                font-weight: 400;
                font-size: 0.875rem;
                line-height: 1.25rem;
                padding-top: 0.25rem;
                padding-bottom: 0.688rem;
            }
        }
        .simuation-results {
            display: flex;
            justify-content: space-between; 
            .table-container {
                margin-top: 2.125rem;
                margin-left: 2rem;
                width: 50.25rem;
                border-radius: 0.375rem;
            }
              .table-results {
                border: none;
              }
              .thead {
                font-size: 0.875rem;
                font-weight: 400;
                color: rgb(121, 118, 113);
                background-color: rgba(0, 0, 0, 0.05);
              }
              .index {
                font-size: 0.875;
                font-weight: 400;
                color: rgb(121, 118, 113);
                line-height: 1.25rem;
                padding-left: 1.938rem;
              };
              .op {
                font-size: 0.875rem;
                font-weight: 400;
                color: rgb(49, 46, 43);
                line-height: 1.25rem;
                padding-left: 1.438rem;
              }
              .ch {
                font-size: 0.875rem;
                font-weight: 400;
                color: rgb(49, 46, 43);
                line-height: 1.25rem;
                padding-left: 1.438rem;
              }
              .start {
                font-size: 16;
                font-weight: 400;
                color: #000000;
                letter-spacing: -0.2;
              }
              .td {
                font-size: 14;
                padding: 6;
              }
              .weight {
                font-size: 0.875rem;
                font-weight: 400;
                color: rgb(49, 46, 43);
                line-height: 1.25rem;
                padding-left: 1.438rem;
              }
              .ref-engine {
                font-size: 0.875rem;
                font-weight: 400;
                color: rgb(49, 46, 43);
                line-height: 1.25rem;
                padding-left: 1.438rem;
              }
              .tbody {
                height: 40;
                border-top: 1.6 solid #D3D1CF;
              }
            }
            .map-results {
            width: 33.75rem;
            height: 33.75rem;
            margin-top: 2.313rem;
            margin-right: 2rem;
            border-radius: 0.5rem;
            border:  0.063rem solid rgba(255, 255, 255, 1);
            box-shadow: 0rem 0rem 0rem 0.125rem rgba(255, 255, 255, 0.75) inset, 0rem 0rem 0rem 0.063rem rgba(0, 0, 0, 0.25) inset;
        }
    }
}
