
.stdcm-linked-path-search-container {
    max-width: 28.125rem;
    margin: 0 0 1.125rem 22.1875rem;
    .stdcm-v2-card__body {
        display: flex;
        width: 28.125rem;
    }

    .stdcm-linked-path-result {
        padding: 10px 0 0 17px;
    }
}


