@use './projectCard';

.project-list-view {
  min-height: 100dvh;
  background-color: var(--ambientB10);
  font-family: 'IBM Plex Sans', sans-serif;

  --project-list-padding: 40px;

  @media screen and (1840px <= width) {
    --project-list-padding: 80px;
  }

  .selection-toolbar {
    padding-inline: var(--project-list-padding);
    margin-top: -20px;
    padding-bottom: 20px;
    position: sticky;
    z-index: 10;
  }
}

.projects-list {
  max-height: calc(100vh - 149px); // Height of the navbar + project toolbar + padding
  overflow: auto;
  padding-inline: var(--project-list-padding);
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  gap: 40px;
}

.projects-toolbar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px var(--project-list-padding);
  margin-block: var(--project-list-padding);
}

.confirm-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;

  .confirm-modal-content {
    background: white;
    border-radius: 8px;
    max-width: 640px;
  }
}

// TODO: Replace this component with our own OSRD segmented control
#projects-sort-filter {
  background-color: var(--black10);
}

:where(#projects-sort-filter) .options-item .options-btn {
  color: var(--grey50);
}
