.op-suggestion {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 4px 4px;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 4px;
  background-color: #ffffff;

  &-main-code {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 16px;
    padding: 0 4px;
    border-radius: 4px;
    background-color: rgba(33, 100, 130, 1);
    color: rgba(255, 255, 255, 1);
    font-family: 'IBMPlexSans-SemiBold', 'IBM Plex Sans', system-ui, sans-serif;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.6px;
    line-height: 16px;
  }

  &-name {
    flex: 0 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-secondary-code-list {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    max-width: 100%;
  }

  &-secondary-code {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 16px;
    width: 22px;
    border-radius: 2px;
    margin: 0 4px;
    background-color: rgba(227, 237, 252, 1);
    color: rgba(24, 68, 239, 1);
    font-family: 'IBMPlexSans-SemiBold', 'IBM Plex Sans', system-ui, sans-serif;
    font-size: 10px;
    font-weight: 600;
    line-height: 16px;
  }

  &-kebab {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: 24px;
    height: 24px;
    padding-top: 10px;
    opacity: 0.7;
    background-color: rgba(0, 0, 0, 0.05);
  }

  &-secondary-code--best {
    background-color: rgba(31, 15, 150, 1);
    color: rgba(255, 255, 255, 1);
  }

  &-secondary-code--inactive {
    opacity: 0.3;
  }
}

.op-combobox {
  &-wrapper {
    position: relative;
    max-width: 20rem;

    &:has(.suggestions-list) .op-combobox-kebab {
      opacity: 1;
    }
  }
}

.suggestion-item {
  &--custom {
    padding: 4px 0;
  }

  &--more {
    background-color: rgba(245, 245, 245, 1);
    color: #797671;
  }
}

.path-step-op-name {
  .ui-combo-box {
    .suggestions-list {
      margin-top: 10px;
      right: auto;
      max-height: none;
      border-radius: 4px;
      display: inline-block;
      width: 100%;
      max-width: 100%;
      overflow-x: hidden;
    }

    .suggestion-item {
      &.suggestion-item--custom {
        padding-top: 4px;
        padding-bottom: 4px;
        cursor: default;

        &,
        &.active,
        &.selected {
          background-color: rgba(245, 245, 245, 1);
          box-shadow: none;
        }

        .op-suggestion-secondary-code:hover {
          background-color: rgba(31, 15, 150, 1);
          color: #ffffff;
          opacity: 1;
        }

        .op-suggestion--name-hovered
          .op-suggestion-secondary-code:first-child:not(.op-suggestion-secondary-code--inactive) {
          background-color: rgba(31, 15, 150, 1);
          color: #ffffff;
        }

        html[data-op-input-mode='keyboard'] & {
          &:has(.op-suggestion--active)
            .op-suggestion-secondary-code:first-child:not(.op-suggestion-secondary-code--inactive) {
            background-color: rgba(31, 15, 150, 1);
            color: #ffffff;
            opacity: 1;
          }
        }

        &:has(.op-suggestion-secondary-code:hover)
          .op-suggestion-secondary-code:first-child:not(:hover):not(
            .op-suggestion-secondary-code--best
          ) {
          background-color: rgba(227, 237, 252, 1);
          color: rgba(24, 68, 239, 1);
          opacity: 1;
        }
      }

      &.suggestion-item--more {
        background-color: rgba(245, 245, 245, 1);
        box-shadow: none;
        padding: 0.25rem 0.5rem;
        cursor: default;
        display: flex;
      }
    }
  }
}
