.rollingstock-editor {
  padding-top: 5rem;
  max-height: 100vh;
  &-list {
    height: 100%;
    overflow-y: scroll;
    .rollingstock-body-container-img {
      min-height: 2.4rem;
    }
    &-cards {
      .active {
        .rollingstock-card-header,
        .rollingstock-footer {
          cursor: default;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }
  }
  &-form {
    height: 100%;
    width: 100%;
    justify-content: space-between;
    max-height: 88vh;
    overflow-y: scroll;
    > .rollingstock-card-header {
      @media screen and (min-width: 1024px) {
        height: 3rem;
        .rollingstock-title {
          height: 3rem;
          .rollingstock-info {
            height: 3rem;
            .rollingstock-info-begin {
              height: 3rem;
              .rollingstock-info-series {
                height: 2.3rem;
                font-weight: bold;
                font-size: 1.5rem;
              }
              .rollingstock-info-unit {
                margin-left: 0.5rem;
                &.UM2,
                &.UM3 {
                  font-size: large;
                }
              }
              .rollingstock-info-subseries {
                font-size: 1rem;
                margin-left: 0.5rem;
              }
            }
            .rollingstock-info-middle {
              font-size: 1rem;
              line-height: 1rem;
            }
            .rollingstock-info-end {
              font-size: 1.2rem;
            }
          }
        }
      }
    }

    .error-message {
      padding: 20px 0;
      max-width: 80%;
    }

    .rollingstock-card-body {
      height: 18rem;
    }
    .form-control {
      height: auto;
      .rs-form-buttons {
        margin-top: 1rem;
      }
    }

    .rollingstock-card-header {
      cursor: default;
    }

    width: 100%;
    align-self: center;
    overflow: auto;

    @media screen and (min-width: 767px) {
      &-text {
        *td,
        .formResistance {
          @media screen and (min-width: 1024px) {
            font-size: medium;
            font-weight: 500;
            height: 2rem;
            padding: 0.5rem;
          }
        }
      }
    }
    &-container {
      height: 100%;
      .tab-content {
        background-color: var(--white);
        border-radius: 0.5rem;
      }
      .tab-pane {
        padding-top: 1rem;
      }
      .tabs {
        margin-bottom: 1rem;
      }
      overflow-y: auto;
      width: 100%;
      @media screen and (min-width: 767px) {
        padding-right: 1.5rem;
        width: 50%;
        position: fixed;
        right: 0;
        top: 80px;
      }
      @media screen and (min-width: 1024px) {
        width: 60%;
      }
    }
  }
  &borders {
    border: 0.2rem solid #d7d7d7;
    border-radius: 0.5rem;
  }
  &-buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: var(--blue);
    color: var(--white);
    svg {
      margin: 0 30px;
    }
    &-group {
      width: 6%;
    }
    &.condensed {
      height: 100px;
      justify-content: space-between;
      svg {
        justify-self: center;
        margin: 0;
      }
    }
  }
  &-left-container {
    width: 94%;
    padding-right: 1.5rem;
    @media screen and (min-width: 767px) {
      width: 45%;
    }
    @media screen and (min-width: 1024px) {
      width: 37%;
    }
  }
  &-unselected {
    margin: 0 auto;
    display: none;
    @media screen and (min-width: 767px) {
      display: block;
    }
  }

  &-input-container {
    > div {
      > div {
        justify-content: space-between;
      }
    }
    .invalid-feedback {
      display: block;
      font-size: 0.7rem;
    }
    label {
      white-space: normal;
      min-width: 50%;
    }
  }

  &-select {
    > label {
      margin-bottom: 0;
      margin-right: 0.5rem;
    }
  }

  @media screen and (min-width: 1024px) {
    .loading-gauge-label {
      margin: 0.5rem;
    }
  }

  &-disablelist {
    @media screen and (min-width: 767px) {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 50%;
      z-index: 100;
      opacity: 0;

      &:hover {
        opacity: 0.3;
        transition: opacity 0.2s;
        background-color: white;
      }
    }

    @media screen and (min-width: 1024px) {
      width: 38%;
    }
  }

  .defaultImageRSEditor img {
    max-height: 2rem;
  }

  .rollingstock-editor-spreadsheet {
    width: 40%;
    height: 20.75rem;
    overflow: auto;
    tr:not(:first-child) .Spreadsheet__header,
    tr:first-child .Spreadsheet__header:first-child {
      width: 2rem;
      border: solid 1px var(--coolgray3);
    }
    tr:not(:first-child) .Spreadsheet__header {
      background-color: var(--white);
    }
    tr:first-child .Spreadsheet__header {
      color: var(--blue);
      white-space: normal !important;
    }
  }

  .rollingstock-editor-curves {
    background-color: var(--white);
    .rollingstock-card-body {
      width: 60%;
      border: none;
      height: 20.75rem;
      .rollingstock-curves {
        height: 20.75rem;
      }
    }
  }

  @media screen and (max-width: 1040px) {
    .rollingstock-editor-curves {
      flex-direction: column-reverse;
      .rollingstock-card-body {
        margin-bottom: 1rem;
        width: 100%;
      }
    }

    .rollingstock-editor-spreadsheet {
      padding-right: 1rem;
      height: 100%;
      width: 100%;
    }
  }

  .selector-SNCF {
    &-title {
      width: 90%;
      white-space: nowrap;
    }
    &-itemslist {
      z-index: 1;
      cursor: pointer;
      background-color: var(--coolgray1);
      border-radius: 0.3rem 0.3rem 0 0;
      height: 7.5rem;
      width: 100%;
      .extra-column {
        width: 4rem;

        &.disabled {
          input {
            outline: solid 2px var(--coolgray3);
            background-color: var(--coolgray1) !important;
          }
        }
      }
    }
    &-trash-icon {
      visibility: hidden;
      padding: 0;
    }
    &-item {
      color: var(--coolgray11);
      background-color: var(--white);
      border-radius: 0.3rem;
      justify-content: space-between;
      overflow: hidden;
      &-name {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &.with-extra-column {
        flex: 1;
      }
      &.selected {
        &.selector-blue {
          outline: 0.13rem solid var(--blue);
        }
        &.selector-pink {
          outline: 0.13rem solid #fd2f7e;
        }
      }
      &.hovered {
        outline: 0.13rem solid #fd2f7e80;
        &.selector-blue {
          outline: 0.13rem solid #30338380;
        }
        .selector-SNCF-trash-icon {
          color: var(--red);
          visibility: visible;
          width: 2.5rem;
          border: none;
          background-color: transparent;
          border-radius: 0 0.3rem 0.3rem 0;
          text-align: center;
          padding-top: 0.1rem;
          &:hover {
            color: var(--white);
            background-color: var(--red);
          }
        }
      }
    }

    &-itemslist-wrapper::after {
      --size: 30px;
      content: '';
      position: absolute;
      display: block;
      width: var(--size);
      height: var(--size);
      transform: rotate(45deg);
      right: calc((var(--size) / 2) * -1);
      background-color: var(--coolgray1);
    }

    .selector-select {
      position: absolute;
      z-index: 2;
      width: 22rem;
    }
  }

  .rollingstock-editor-effort-speed-curves {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    row-gap: 1.5rem;
    column-gap: 2.1rem;
    padding-top: 0;
    padding-left: 1rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
  }

  .selector-container {
    &:last-child {
      .selector-SNCF-itemslist-wrapper::after {
        visibility: hidden;
      }
    }
    &:first-child {
      .selector-SNCF-itemslist-wrapper::after {
        visibility: hidden;
      }
    }
    &:nth-child(4) {
      .selector-SNCF-itemslist {
        border-radius: 0.3rem;
      }
    }
  }

  .rollingstock-selector-buttons {
    border: none;
    cursor: pointer;
    background-color: #82be00;
    border-radius: 0 0 0.3rem 0.3rem;
    width: 100%;
    text-align: center;
    font-size: x-large;
    &.disabled {
      background-color: var(--coolgray1);
      color: var(--coolgray3);
      pointer-events: none;
    }
  }
}
