.rollingstock-editor {
  padding-top: 6rem;
  max-height: 100vh;
  &-list {
    height: 100%;
    overflow-y: scroll;
    .rollingstock-body-container-img {
      min-height: 2.4rem;
    }
  }
  &-form {
    overflow-y: scroll;
    max-height: 88vh;
    > .rollingstock-header {
      @media screen and (min-width: 1024px) {
        height: 3rem;
        .rollingstock-title {
          height: 3rem;
          .rollingstock-info {
            height: 3rem;
            .rollingstock-info-begin {
              height: 3rem;
              .rollingstock-info-series {
                height: 2.3rem;
                font-weight: bold;
                font-size: 1.5rem;
              }
              .rollingstock-info-unit {
                margin-left: 0.5rem;
                &.UM2,
                &.UM3 {
                  font-size: large;
                }
              }
              .rollingstock-info-subseries {
                font-size: 1rem;
                margin-left: 0.5rem;
              }
            }
            .rollingstock-info-middle {
              font-size: 1rem;
              line-height: 1rem;
            }
            .rollingstock-info-end {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
    .rollingstock-body {
      height: 18rem;
    }
    .form-control {
      height: auto;
      .rs-form-buttons {
        margin-top: 1rem;
      }
    }

    width: 100%;
    align-self: center;
    overflow: auto;

    @media screen and (min-width: 767px) {
      &-text {
        *td,
        .formResistance {
          @media screen and (min-width: 1024px) {
            font-size: medium;
            font-weight: 500;
            height: 2rem;
            padding: 0.5rem;
          }
        }
      }
    }
    &-container {
      overflow-y: auto;
      width: 100%;
      @media screen and (min-width: 767px) {
        padding-right: 1.5rem;
        width: 50%;
        position: fixed;
        right: 0;
        top: 100px;
      }
      @media screen and (min-width: 1024px) {
        width: 60%;
      }
    }
  }
  &borders {
    border: 0.2rem solid #d7d7d7;
    border-radius: 0.5rem;
  }
  &-buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: var(--blue);
    color: var(--white);
    svg {
      margin: 0 30px;
    }
    &-group {
      width: 6%;
    }
    &.condensed {
      height: 100px;
      justify-content: space-between;
      svg {
        justify-self: center;
        margin: 0;
      }
    }
  }
  &-left-container {
    width: 94%;
    padding-right: 1.5rem;
    @media screen and (min-width: 767px) {
      width: 45%;
    }
    @media screen and (min-width: 1024px) {
      width: 37%;
    }
  }
  &-unselected {
    margin: 0 auto;
    display: none;
    @media screen and (min-width: 767px) {
      display: block;
    }
  }

  &-input-container {
    > div {
      > div {
        justify-content: space-between;
      }
    }
    .invalid-feedback {
      display: block;
      font-size: 0.7rem;
    }
  }

  &-select {
    > label {
      margin-bottom: 0;
      margin-right: 0.5rem;
    }
  }

  &-submit {
    @media screen and (min-width: 767px) {
      position: fixed;
      bottom: 1rem;
      right: 1rem;
      z-index: 100;
    }
  }

  @media screen and (min-width: 1024px) {
    .loading-gauge-label {
      margin: 0.5rem;
    }
  }
}

.defaultImageRSEditor img {
  max-height: 2rem;
}

.rollingstock-editor-spreadsheet {
  width: 40%;
  height: 19.3rem;
  overflow: auto;
  tr:not(:first-child) .Spreadsheet__header,
  tr:first-child .Spreadsheet__header:first-child {
    width: 2rem;
    border: solid 1px var(--coolgray3);
  }
  tr:not(:first-child) .Spreadsheet__header {
    background-color: var(--white);
  }
  tr:first-child .Spreadsheet__header {
    color: var(--blue);
    white-space: normal !important;
  }
}

.rollingstock-editor-curves {
  background-color: var(--white);
  .rollingstock-body {
    width: 60%;
    border: none;
    height: 20rem;
    .curves-container {
      div:nth-child(2) {
        height: 100%;
      }
    }
  }
}

@media screen and (max-width: 1040px) {
  .rollingstock-editor-curves {
    flex-direction: column-reverse;
    .rollingstock-body {
      margin-bottom: 1rem;
      width: 100%;
    }
  }

  .rollingstock-editor-spreadsheet {
    padding-right: 1rem;
    height: 100%;
    width: 100%;
  }
}
