.infraselector-button {
  display: flex;
  align-items: center;
  .infra-lock {
    display: flex;
    align-items: center;
    margin-right: .5rem;
    text-transform: uppercase;
  }
}

.infraslist {
  overflow: auto;
  height: 40vh;

  /* STANDARD MODE */
  .infraslist-item-choice {
    display: block;
    border: 2px solid var(--coolgray3);
    background: none;
    padding: 0;
    transition: .2s;
    width: 100%;
    margin-bottom: .5rem;
    border-radius: 4px;
    text-align: left;
    font-weight: 100;
    color: var(--secondary);
    .infra-lock {
      display: flex;
      align-items: center;
      text-transform: uppercase;
      small {
        font-size: .6rem;
        margin-right: .25rem;
      }
    }
    &.unlocked {
      border-color: var(--coolgray3);
      .infra-lock {
        color: var(--green);
      }
      .infraslist-item-choice-footer {
        background-color: var(--coolgray3);
      }
    }
    &.locked {
      .infra-lock {
        color: var(--coolgray9);
      }
      .infraslist-item-choice-footer {
        background-color: var(--coolgray3);
      }
    }
    &.active {
      border-color: var(--primary);
      opacity: .75;
      cursor: not-allowed;
      .infra-lock {
        color: var(--primary);
      }
      .infraslist-item-choice-footer {
        color: var(--light);
        background-color: var(--primary);
      }
    }
    &:hover:not(.active) {
      border-color: var(--coolgray11);
      .infraslist-item-choice-footer {
        color: var(--light);
        background-color: var(--coolgray11);
      }
    }
    .infraslist-item-choice-main {
      padding: 0 .25rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 2rem;
      span {
        display: flex;
      }      
    }
    .infraslist-item-choice-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: .25rem .25rem 0;
      font-size: .6rem;
      height: 1rem;
      line-height: 1.25rem;
      font-weight: 500;
    }
  }

  /* EDITION MODE */
  .infraslist-item-edition {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: .5rem;
    &.disabled {
      opacity: .25;
    }
    .infraslist-item-edition-block {
      display: block;
      border: 2px solid var(--coolgray3);
      background: none;
      padding: 0;
      transition: .2s;
      width: 100%;
      text-align: left;
      font-weight: 100;
      color: var(--secondary);
      .infraslist-item-edition-main {
        padding: 0 .25rem;
        display: flex;
        align-items: center;
        height: 2rem;
        input {
          background: none;
        }
        span {
          display: flex;
        }    
        .infra-lock {
          display: flex;
          align-items: center;
          color: var(--coolgray7);
          padding: 0 .25rem 0 .25rem;
          text-transform: uppercase;
          small {
            font-size: .6rem;
            margin-right: .25rem;
          }
        }  
      }
      .infraslist-item-edition-footer {
        display: flex;
        align-items: center;
        background-color: var(--coolgray3);
        justify-content: space-between;
        padding: .25rem .25rem 0;
        font-size: .6rem;
        height: 1rem;
        line-height: 1.25rem;
        font-weight: 500;
      }
    }
    .infraslist-item-actionsbar {
      display: flex;
      justify-content: around;
      width: 16rem;
    }
    .infraslist-item-action {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--secondary);
      background-color: var(--coolgray1);
      flex-grow: 1;
      border: none;
      height: 3.25rem;
      transition: .2s;
      .spinner-border {
        color: var(--coolgray7);
        width: 1em;
        height: 1em;
        border-width: .15rem;
      }
      &:last-child {
        border-radius: 0 4px 4px 0;
      }
      &:hover {
        background-color: var(--coolgray3);
      }
      &:active {
        background-color: var(--coolgray3);
      }
      &.unlock {
        color: var(--green);
        &:hover {
          background-color: var(--green);
          color: var(--white);
        }
      }
      &.cancel {
        &:hover {
          background-color: var(--coolgray11);
          color: var(--white);
        }
      }
      &.check {
        color: var(--green);
        &:hover {
          background-color: var(--green);
          color: var(--white);
        }
      }
      &.export {
        color: var(--purple);
        &:hover {
          background-color: var(--purple);
          color: var(--white);
        }
      }
      &.delete {
        margin-left: 0;
        margin-right: 0;
        border-radius: 4px 0 0 4px;
        width: 4rem;
        color: var(--red);
        &:hover {
          background-color: var(--red);
          color: var(--light);
        }
      }
      &.disabled {
        cursor: not-allowed;
        &:hover {
          color: var(--secondary);
          background-color: var(--coolgray1);
        }
      }
    }
  }
}