/* Filters */
.rollingstock-search {
  display: block;
  position: relative;
  height: 100%;
}
.rollingstock-search-filters {
  display: block;
  position: relative;
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
}

/* Results */
.rollingstock-search-list {
  display: block;
  position: relative;
  overflow: auto;
  height: 60vh;
  padding-right: .5rem;

  .loader {
    margin-top: 1rem;
    transform: none;
  }
}

.rollingstock-container {
  display: block;
  position: relative;
  width: 100%;
  cursor: pointer;
  transition: .2s;
  border-radius: 4px;
  &:hover:not(.active) {
    .rollingstock-header, .rollingstock-body, .rollingstock-body-img, .rollingstock-footer {
      border-color: #333;
    }
  }
  &.active {
    cursor: default;
    .rollingstock-header, .rollingstock-body, .rollingstock-footer {
      border-color: #303383;;
    }
  }
}

.rollingstock-header {
  border-radius: 4px 4px 0 0;
  background-color: #d7d7d7;
  padding: .25rem .5rem;
  overflow: hidden;
  border-top: 2px solid #d7d7d7;
  border-left: 2px solid #d7d7d7;
  border-right: 2px solid #d7d7d7;
  transition: .2s;
  .rollingstock-title {
    white-space: nowrap;
    height: 1.5rem;
    .rollingstock-infos {
      display: flex;
      align-items: center;
      height: 1.5rem;
      justify-content: space-between;
      .rollingstock-infos-begin {
        height: 1.5rem;
        display: flex;
        align-items: center;
        .rollingstock-infos-series {
          height: 1.5rem;
          font-weight: bold;
        }
        .rollingstock-infos-subseries {
          margin-left: .5rem;
          text-transform: uppercase;
          font-size: .7rem;
        }
        .rollingstock-infos-unit {
          color: #6e1e78;
          font-weight: bold;
          margin-left: .5rem;
          font-size: .7rem;
        }
      }
      .rollingstock-infos-middle {
        text-transform: uppercase;
        color: #303383;
        font-size: .6rem;
      }
      .rollingstock-infos-end {
        color: #4d4d4d;
        font-size: 1rem;
      }
    }
  }
}
.rollingstock-body-img {
  display: flex;
  transition: .2s;
  padding: 0 .5rem;
  overflow: hidden;
  height: 1.75rem;
  border-left: 2px solid #d7d7d7;
  border-right: 2px solid #d7d7d7;
  .rollingstock-img {
    display: block;
    white-space: nowrap;
    transform: scale(.3); // Have to scale whole <img> because electric trains with pantograph have taller pictures
    transform-origin: left;
    img {
      display: inline-block;
      position: relative;
      vertical-align: baseline;
    }
  }
}

.rollingstock-body {
  padding: 0 .5rem;
  border-left: 2px solid #d7d7d7;
  border-right: 2px solid #d7d7d7;
  transition: .2s;
  font-size: .8rem;
  font-weight: lighter;
  .loader {
    margin: 0;
    padding: 2rem 0;
  }
  .curves-container {
    height: 17rem;
    .ac {
      color: #0088ce;
    }
    .heating {
      color: #ffb612;
    }
    .curves-chart-legend {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .curves-chart-legend-item {
        display: flex;
        align-items: center;
        border-bottom: 2px solid #d7d7d7;
        .ac, .heating {
          display: flex;
          align-items: center;
          margin-left: .1rem;
        }
      }
    }
    .curves-chart-tooltip {
      border-radius: 4px;
      border: 2px solid #d7d7d7;
      background-color: white;
      .curves-chart-tooltip-head {
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: .8rem;
        justify-content: space-between;
        background-color: #d7d7d7;
        border-bottom: 2px solid #d7d7d7;
        padding-left: .25rem;
        .curves-chart-tooltip-comfort {
          display: flex;
          align-items: center;
          border-radius: 0 4px 0 0;
          background-color: #fff;
          padding: 0 .3rem .1rem;
        }
      }
      .curves-chart-tooltip-body {
        display: flex;
        align-items: center;
        padding: 0 .25rem;
      }
    }
  }
  .rollingstock-defaultcurveswitch {
    .custom-control {
      padding-left: 1.5rem;
    }
    .custom-control-label::before, .custom-control-label::after {
      height: 1rem;
      width: 1rem;
      left: -1.5rem;
    }
  }
}

.rollingstock-footer {
  padding: 0 .5rem;
  border-radius: 0 0 4px 4px;
  font-size: .8rem;
  transition: .2s;
  border-left: 2px solid #d7d7d7;
  border-right: 2px solid #d7d7d7;
  border-bottom: 2px solid #d7d7d7;
  svg {
    vertical-align: top;
    font-size: 1.1rem;
    margin-right: 3px;
  }
  small {
    font-size: 80%;
  }
}
