.spacecurvesslopes-chart {
  background-color: white;
  border-radius: 4px;
  position: relative;

  .area {
    &.speed {
      fill: rgba(48, 51, 131, 0.2);
    }
    &.slopes {
      fill: var(--cyan);
    }
  }
  .speed {
    stroke: var(--blue);
    stroke-width: 1;
    &.slopes {
      stroke-width: 2;
      stroke: var(--orange);
    }
    &.slopesHistogram {
      stroke-width: 1;
      stroke: var(--cyan);
    }
  }
}
