.spacetime-chart {
  position: relative;

  .btn-rotate {
    position: absolute;
    right: 2rem;
    bottom: 2.5rem;
  }
  .area {
    fill: url(#hatchPatternGray);
    &.selected {
      fill: rgba(48, 51, 131, 0.2);
      &.eco {
        fill: rgba(130, 190, 0, 0.2);
      }
    }
  }

  rect {
    stroke-width: inherit;
    stroke: inherit;
  }

  .start-block {
    stroke: var(--coolgray5);
    stroke-width: 2;
    &.selected {
      stroke: var(--yellow);
    }
    &.pointer {
      fill: var(--yellow);
    }
  }

  .end-block {
    stroke: var(--coolgray9);
    stroke-width: 2;
    &.selected {
      stroke: var(--red);
    }
    &.pointer {
      fill: var(--red);
    }
  }

  .tail {
    stroke: var(--coolgray3);
    &.selected {
      stroke: var(--cyan);
    }
    &.pointer {
      fill: var(--cyan);
    }
  }

  .head {
    stroke: var(--coolgray7);
    &.selected {
      stroke: var(--blue);
      &.allowances {
        stroke: var(--orange);
      }
      &.eco {
        stroke: var(--green);
      }
    }
    &.pointer {
      fill: var(--blue);
      &.allowances {
        fill: var(--orange);
      }
      &.eco {
        fill: var(--green);
      }
    }
  }

  .chartTrain {
    cursor: move;
  }

  .curve-label {
    fill: #777;
    font-size: 0.7rem;
    font-weight: bold;
    &.selected {
      fill: var(--primary);
    }
  }

  .route-aspect {
    opacity: 0.5;
    &.selected {
      opacity: 1;
      &.eco {
        opacity: 1;
      }
    }
  }
}

/* Chart Modal */
.osrd-simulation-chart-modal {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  .chart-modal-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    border-radius: 4px;
    padding: 1em;
    .chart-modal-type-title {
      text-align: center;
      flex-basis: 100%;
      font-size: 1.5rem;
    }
    .chart-modal-input {
      display: flex;
      align-items: center;
      .chart-modal-type-label {
        color: #4d4f53;
        font-weight: bold;
        font-size: 3rem;
        margin-right: 1rem;
      }
      input {
        border: none;
        border-bottom: 4px solid #d7d7d7;
        color: #333;
        background: none;
        font-size: 2rem;
        font-weight: bold;
        padding-right: 1.5rem;
        width: 8rem;
        text-align: right;
        &:focus {
          outline: none;
        }
      }
      .chart-modal-type-unit {
        content: 's';
        color: #747678;
        font-weight: bold;
        font-size: 2rem;
        margin-left: -1rem;
      }
    }
  }
}
