.speedspace-chart {
  display: flex;
  background-color: white;
  border-radius: 4px;
  position: relative;

  .showSettingsButton {
    position: absolute;
    border: none;
    background: none;
    cursor: pointer;
    height: 100%;
    color: var(--coolgray7);
  }

  .showSettings {
    overflow: hidden;
    transition: 0.3s;
  }

  .btn-rotate {
    position: absolute;
    right: 2rem;
    top: 1rem;
  }

  .area {
    &.speed {
      fill: rgba(48, 51, 131, 0.2);
    }
    &.slopes {
      fill: var(--cyan);
    }
  }

  .speed {
    stroke: var(--blue);
    stroke-width: 1;
    &.pointer {
      fill: var(--blue);
      &.allowances {
        fill: var(--orange);
      }
      &.eco {
        fill: var(--green);
      }
    }
    &.allowances {
      stroke: var(--orange);
    }
    &.eco {
      stroke: var(--green);
    }
    &.vmax {
      stroke-width: 2;
      stroke: var(--purple);
    }
    &.slopes {
      stroke-width: 2;
      stroke: var(--orange);
    }
    &.slopesHistogram {
      stroke-width: 1;
      stroke: var(--cyan);
    }
  }

  /* Electrical profile legend */
  .electrical-profile-legend-modal {
    position: absolute;
    z-index: 0;
    min-height: 5rem;
    max-height: calc(100% - 5vh);
    overflow: auto;
    top: 0;
    right: 8rem;
    padding: 1rem;
    background-color: var(--coolgray13);
    color: var(--coolgray1);
    width: calc(25% - 5.5rem);
    transition: 0.4s;
    margin: 1rem;
    border-radius: 4px;
    border: 1px solid var(--coolgray13);
    @media screen and (min-width: 640px) {
      max-width: 50%;
    }

    .elecProfKey {
      display: block;
      font-size: 0.9rem;
      margin: 1rem 1rem 0;
      font-weight: lighter;
      .elecProfKey-title {
        border-bottom: 1px solid #555;
        padding-bottom: 0.25rem;
        margin-bottom: 0.5rem;
      }
      .elecProfKey-item {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
      }
      .elecProfKey-item-visible {
        display: flex;
      }
      .elecProfKey-icon {
        height: 1.5em;
        width: 2em;
        text-align: center;
        background-color: #fff;
        border-radius: 4px;
        margin-right: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .elecProfKey {
        &-line {
          display: block;
          width: 80%;
          margin-left: 20%;
          height: 4px;
          margin: 1px;
        }
        &-stripedBlock {
          display: block;
          width: 80%;
          margin-left: 20%;
          height: 15px;
          margin: 1px;
        }
      }
      .elecProfKey-25KA {
        background-color: #6e1e78;
      }
      .elecProfKey-25KB {
        background-color: #a453ad;
      }
      .elecProfKey-1500A {
        background-color: #ff0037;
      }
      .elecProfKey-1500B {
        background-color: #ff335f;
      }
      .elecProfKey-1500C {
        background-color: #ff6687;
      }
      .elecProfKey-Thermal {
        background-color: #333;
      }
      .elecProfKey-15000 {
        background-color: #009aa6;
      }
      .elecProfKey-3000 {
        background-color: #1fbe00;
      }
      .elecProfKey-noUsed {
        background: repeating-linear-gradient(-45deg, #747678 0 3px, transparent 3px 6px);
      }

      @media screen and (max-width: 640px) {
        font-size: 0.8em;
      }
    }
  }
}
