@use './timeline';
@use './manchetteWithSpaceTimeChart';

.speed-distance-diagram-section {
  margin-bottom: 24px;
  position: relative;
  .resizable-section-handle {
    bottom: -40px !important;
  }
}
