@use './timeline';
@use './manchetteWithSpaceTimeChart';

.chart-container {
  display: block;
  position: relative;
  width: 100%;
  transition: 0.2s;
}

.conflicts-wrapper {
  display: block;
  position: relative;
  width: 100%;
  transition: 0.2s;
  max-height: 90vh;
  overflow-y: auto;

  .scenario-loader {
    top: 10vw;
  }
}

.speed-distance-diagram-section {
  margin-bottom: 24px;
  position: relative;
  .resizable-section-handle {
    bottom: -40px !important;
  }
}
