.scenario-add-or-edit-timetable-modal {
  width: 624px;

  .add-or-edit-timetable-header {
    height: 72px;
  }

  .add-or-edit-timetable-body {
    height: 186px;
    padding: 25px 34px 35px;
    background-color: var(--ambientA5);
  }

  .add-or-edit-timetable-footer {
    height: 96px;
  }
}
