.scenario-edition-modal {
  .scenario-edition-modal-title {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    img {
      height: 2rem;
    }
  }
  .scenario-edition-modal-description {
    margin-bottom: 1rem;
    textarea {
      min-height: auto;
    }
  }
  .scenario-edition-modal-infraselector {
    &.scenario-edition-modal-infraselector-missing {
      padding: 0.5rem;
      border-radius: 4px;
      border: 2px solid var(--red);
    }
  }
}
