.scenario-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 4px;
  background-color: var(--white);
  margin: 0 0.5rem 1rem;
  border: 2px solid var(--coolgray3);
  transition: border-color 0.4s;
  height: 14rem;
  z-index: 1;
  &:hover,
  &:focus,
  &:active {
    border-color: var(--coolgray11);
    .scenario-card-name {
      color: var(--coolgray3);
      background-color: var(--coolgray11);
    }
    button {
      opacity: 1 !important;
    }
  }
  &.selected {
    border-color: var(--purple);
    .selected-mark {
      display: block;
    }
  }
  &.empty {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 6rem;
    color: var(--coolgray5);
    cursor: pointer;
    background-color: transparent;
    &:hover,
    &:focus,
    &:active {
      border-color: var(--coolgray3);
      background-color: var(--coolgray3);
      color: var(--coolgray7);
    }
    .legend {
      margin-top: 1rem;
      font-size: 1.5rem;
    }
  }
  @media screen and (max-width: 1023px) {
    &.empty {
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      font-size: 2rem;
      min-height: 5rem !important;
      .legend {
        margin: 0;
      }
    }
  }
  button {
    transition: opacity 0.4s;
    opacity: 0;
    margin-left: auto;
  }
  .selected-mark {
    display: none;
    position: absolute;
    z-index: 3;
    color: var(--purple);
    font-size: 2rem;
    top: -1.6rem;
    left: -0.2rem;
  }
  .scenario-card-name {
    display: flex;
    align-items: center;
    color: var(--coolgray11);
    background-color: var(--coolgray3);
    padding: 0.25rem 0.25rem 0.25rem 0.5rem;
    font-size: 1.1rem;
    transition: 0.4s;
    &-text {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .scenario-card-description {
    padding: 0.5rem;
    font-size: 0.9rem;
    height: 100%;
    overflow: auto;
    white-space: break-spaces;
  }
  .scenario-card-tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.25rem;
    padding: 0.25rem 0.5rem;
    height: 6rem;
    overflow: auto;
    font-weight: 500;
    .scenario-card-tags-tag {
      font-size: 0.8rem;
      font-weight: 500;
      color: var(--secondary);
      background-color: var(--teal);
      border-radius: 4px;
      padding: 0 0.25rem;
      transition: 0.2s;
      max-width: 30%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      cursor: pointer;
      &:hover {
        opacity: 0.65;
      }
    }
  }
  .scenario-card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .scenario-card-infra {
      padding: 0.25rem 0.5rem;
      font-size: 0.8rem;
      img {
        height: 1rem;
        margin-right: 0.5rem;
      }
    }
    .scenario-card-trains-count,
    .scenario-card-date {
      display: flex;
      align-items: baseline;
      height: 1rem;
      white-space: nowrap;
      color: var(--coolgray9);
      font-size: 0.6rem;
      text-transform: uppercase;
      text-align: right;
      padding: 0.25rem 0.5rem;
      svg {
        margin-bottom: 0.15rem;
        height: 0.5rem;
      }
    }
  }
}
