.osrd-simulation-chart-modal {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .75);
  .chart-modal-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    border-radius: 4px;
    padding: 1em;
    .chart-modal-type-title {
      text-align: center;
      flex-basis: 100%;
      font-size: 1.5rem;
    }
    .chart-modal-input {
      display: flex;
      align-items: center;
      .chart-modal-type-label {
        color: #4d4f53;
        font-weight: bold;
        font-size: 3rem;
        margin-right: 1rem;
      }
      input {
        border: none;
        border-bottom: 4px solid #d7d7d7;
        color: #333;
        background: none;
        font-size: 2rem;
        font-weight: bold;
        padding-right: 1.5rem;
        width: 8rem;
        text-align: right;
        &:focus {
          outline: none;
        }
      }
      .chart-modal-type-unit {
        content: "s";
        color: #747678;
        font-weight: bold;
        font-size: 2rem;
        margin-left: -1rem;
      }
    }
  }
}
