.stdcm-header {
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 50px 8px 0px;

  &__impersonated {
    background-color: var(--highlight30);
  }

  &__logo {
    padding: 10px 0 10px 10px;
  }

  &__title {
    color: rgba(0, 0, 0, 1);
    font-size: 2rem;
    font-weight: 600;
    font-style: SemiBold;
    letter-spacing: -0, 6px;
    text-align: left;
    line-height: 40px;
  }

  &__notification {
    border-radius: 2px;
    border: 4px solid rgba(112, 193, 229, 1);
    background-color: rgba(230, 247, 255, 1);
    padding: 7px 16px 9px 16px;
    color: rgba(33, 100, 130, 1);
    font-size: 1rem;
    font-weight: 600;
    font-style: SemiBold;
    letter-spacing: 0px;
    line-height: 24px;

    a {
      color: rgba(24, 68, 239, 1);
      font-size: 1rem;
      font-weight: 400;
      font-style: Regular;
      letter-spacing: 0px;
      text-align: left;
      line-height: 24px;
    }
  }

  &__debug {
    button:focus {
      outline: none;
    }
    button {
      height: 40px;
      border-radius: 6px;
      color: var(--primary50);
      border: 1px solid var(--primary30);
      &:hover {
        color: var(--primary80);
        border: 1px solid var(--primary80);
        background-color: var(--white100);
      }
      &:focus {
        outline: none;
      }
      &:disabled {
        pointer-events: none;
        opacity: 0.5;
      }
      &.selected {
        box-shadow: 0 0 0 2px var(--white100) inset;
        border: 1px solid rgba(92, 89, 85);
        background-color: rgba(255, 242, 179);
        &:hover {
          border: 3px solid var(--white100);
          border: 1px solid var(--black100);
          background-color: var(--black5);
        }
      }
      &.debug {
        width: 40px;
        color: var(--primary30);
        &:hover {
          color: var(--primary80);
        }
      }
      &.impersonated {
        width: 40px;
        color: var(--black50);
        background-color: var(--white100);
        border: 1px solid var(--black50);
        &:hover {
          color: var(--black100);
          border: 1px solid var(--black100);
        }
      }
    }
  }

  .impersonated-bg {
    background-color: var(--white100);
  }
}
