.send-to-railway-manager {
  font-family: 'IBM Plex Sans', sans-serif;

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 24px 32px 20px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.25);
    background-color: var(--white);
    margin-bottom: 1px;
  }

  /* override style from ui-core input */
  .custom-field {
    label {
      margin-bottom: 0;
    }
  }

  .modal-contents {
    background-color: var(--ambientA10);
    padding: 22px 32px 80px;

    > p {
      max-width: 629px;
      color: var(--grey80);
      margin-bottom: 16px;
    }

    section {
      h3 {
        font-family: 'IBM Plex Sans';
        font-size: 1.125rem;
        font-weight: 700;
        margin-bottom: 16px;
        text-wrap-mode: nowrap;
      }
    }

    section:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  .convoy-details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    background-color: var(--ambientA15);
    padding: 8px;

    .detail-item {
      display: flex;
      flex-direction: column;
      padding: 8px;

      span:first-child {
        font-size: 0.875rem;
        font-weight: 400;
        color: var(--grey60);
        white-space: nowrap;
      }

      span:last-child {
        font-size: 1rem;
        font-weight: 600;
        color: var(--black100);
      }
    }
  }

  .route-and-simulation {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 32px;

    ul {
      background-color: var(--ambientA15);
      padding: 14px 16px 14px 40px;
      min-height: 144px;
      margin: 0;
      color: var(--grey80);

      li:before {
        content: '·';
        font-size: 1.875rem;
        vertical-align: middle;
        line-height: 0px;
        padding-bottom: 6px;
        padding-right: 5px;
      }

      .linked-train-infos {
        display: flex;
        li:last-child {
          margin-left: 20px;
        }
      }
    }

    .simulation > div {
      background-color: var(--ambientA15);
      height: 144px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .pdf-download {
    width: 82px;
    height: 106px;
    background: var(--white);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

    .pdf-icon {
      margin-bottom: 8px;
    }

    .pdf-badge {
      width: 48px;
      height: 24px;
      border-radius: 12px;
      background-color: var(--primary5);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.875rem;
      font-weight: 400;
      color: var(--primary60);
    }
  }

  .time-constraints-section {
    .time-constraints {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      gap: 32px;
      background-color: var(--ambientA15);
      padding: 24px 16px;

      > div {
        display: flex;
        flex-direction: column;
        align-items: center;

        > span {
          font-size: 1.125rem;
          font-weight: 400;
          color: var(--grey50);
          margin-top: -11px;
        }
      }

      input {
        width: 100px;
      }
    }

    .constraint-time {
      .constraint-time-label {
        color: var(--grey80);
        font-family: 'IBM Plex Sans';
        font-size: 1rem;
        font-weight: 600;
        text-align: center;
        line-height: 24px;
        margin-bottom: 8px;
      }

      .constraint-time-value {
        background-color: var(--white);
        border-radius: 4px;
        padding: 8px 16px;
        min-width: 80px;
        text-align: center;
        font-family: 'IBM Plex Sans';
        font-size: 1rem;
        font-weight: 600;
        color: var(--grey80);
      }
    }
  }

  .additional-info {
    .info-fields {
      display: flex;
      justify-content: space-around;
      background-color: var(--ambientA15);
      padding: 16px 40px;

      .left-side {
        padding-bottom: 16px;
        padding-right: 16px;

        #path-type,
        #train-category {
          background-color: var(--white);
        }

        #hazardous-materials {
          padding: 10px;
        }
      }

      .comment {
        min-width: 50%;
        padding-left: 10px;
        .text-area-wrapper {
          display: flex;
          flex: 1;
        }

        textarea {
          width: 100%;
          min-height: 187px;
          resize: vertical;
        }
      }

      .cs-code {
        padding-inline: 10px;
        input:not(#train-to-be-substituted-date),
        .ui-date-picker {
          width: 183px;
        }
        .ui-date-picker {
          margin: 0 13px 0 16px;
        }
      }
    }
    .warning-section {
      background-color: var(--ambientA15);
      padding: 0 58px 50px 54px;
      .warning-message {
        padding: 10px 20px;
        min-height: 76px;
        box-shadow:
          0 0 0 4px rgba(255, 255, 255, 1),
          0 0 0 0.65px inset rgba(234, 167, 43, 1),
          0 0 0 1.25px rgba(234, 167, 43, 1);
        border-radius: 8px;
        background-color: rgba(253, 245, 225, 1);

        p {
          min-height: 24px;
          color: var(--warning60);
          margin-bottom: 7px;
        }

        p:first-child {
          font-size: 1rem;
          font-weight: 600;
        }

        p:last-child {
          font-size: 0.875rem;
          font-weight: 400;
        }
      }
    }
  }

  .modal-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.25);

    p {
      color: var(--info60);
      font-size: 1rem;
      font-weight: 400;
      margin: 0;
    }

    .actions {
      display: flex;
      gap: 16px;
      white-space: nowrap;
    }

    .request-link {
      text-decoration: underline;
      color: var(--primary60);
    }

    .request-link:hover {
      color: var(--primary80);
    }

    .success-message {
      display: flex;
      gap: 8px;
      align-items: center;
      font-size: 1rem;
      color: var(--success60);
    }

    .success-icon {
      display: flex;
      align-items: center;
      color: var(--success30);
    }
  }

  @keyframes wiggle {
    0%,
    100% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-5px);
    }
    40% {
      transform: translateX(5px);
    }
    60% {
      transform: translateX(-5px);
    }
    80% {
      transform: translateX(5px);
    }
  }

  .wiggle {
    animation: wiggle 0.5s;
  }
}

@media (min-width: 1280px) {
  body .modal-dialog.modal-xl:has(.send-to-railway-manager) {
    max-width: 1280px !important;
  }
}
