.expanded-train-form {
  background-color: var(--white100);
  border-bottom: 1px solid var(--black25);
  font-size: 14px;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr)) 1fr [end-column];

  /* Useful to align some non-field element with other fields  */
  --non-field-padding: 32px 13px 16px 16px;

  :where(& > *) {
    grid-column: 1 / end-column;
  }

  .toggle-band {
    display: grid;
    place-items: start end;
    padding-top: 3px;
    margin-right: 8px;
    margin-bottom: -28px;

    .header-toggle:disabled {
      opacity: 0.5;
      pointer-events: none;

      &:hover,
      &:focus {
        box-shadow: none;
      }
    }
  }

  .train-form {
    display: grid;
    grid-template-columns: subgrid;
    grid-auto-flow: column;
    padding: 24px 16px 16px 16px;

    :where(& > *) {
      margin-top: -8px;
    }

    label {
      margin-bottom: unset;
    }

    .loose-field {
      align-content: center;
      padding: var(--non-field-padding);
    }

    .actions {
      place-self: end end;
      padding: var(--non-field-padding);
      grid-row: 3;
      grid-column: end-column;
    }

    .train-tags {
      padding: 10px 13px 16px 16px;
    }
  }

  .train-service {
    background-color: var(--ambientB10);
    display: grid;
    grid-template-columns: subgrid;
    border-bottom: 1px solid var(--black10);

    .toggle-band {
      justify-self: end;
      z-index: 1;
      padding-right: 0;
    }

    :where(& > *) {
      grid-column: 1 / end-column;
      padding-inline: 16px;
    }

    .train-service-cadence,
    .train-service-window {
      .ui-duration-input {
        width: 100%;
      }
    }
  }

  .train-paced-kind {
    background-color: var(--black5);
    color: var(--info60);
    font-weight: 600;
    margin: 16px 14px 0 16px;
    align-self: center;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-style: italic;
    border-radius: 3px;
    white-space: nowrap;
    padding-inline: 16px;
  }

  .train-occurrence {
    display: grid;
    grid-template-columns: subgrid;
    padding-bottom: 16px;

    .train-paced-kind {
      background-color: var(--white50);
    }
  }

  .train-service-form {
    display: grid;
    grid-template-columns: subgrid;

    label {
      margin-bottom: unset;
    }

    .actions {
      align-self: center;
      padding: var(--non-field-padding);
    }
  }

  .train-extra-occurrences {
    display: grid;
    grid-template-columns: subgrid;

    background-color: var(--ambientB5);

    label {
      margin-bottom: unset;
    }
  }

  .train-add-extra-occurrence-form {
    display: grid;
    grid-template-columns: subgrid;

    grid-column: 2 / end-column;

    .actions {
      place-self: center start;
      padding: var(--non-field-padding);
    }
  }

  .train-extra-occurrences-list {
    display: grid;
    grid-template-columns: subgrid;

    grid-column: 1 / end-column;
    margin-bottom: 26px;
    row-gap: 2px;
  }

  .train-extra-occurrence {
    display: grid;
    grid-template-columns: subgrid;

    grid-column: 1 / end-column;

    .train-extra-occurrence-date {
      background-color: var(--white100);
      padding: 6px 7px;
      margin-left: 16px;
    }

    .train-extra-occurrence-time {
      background-color: var(--white100);
      padding: 6px 26px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      margin-right: 14px;
    }

    .train-extra-occurrence-delete {
      place-self: stretch end;
      background-color: var(--white100);
      padding: 8px;
      margin-right: -15px;
      display: grid;
      place-content: center;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      color: var(--primary60);

      &:hover,
      &:focus-visible {
        color: var(--error60);
        background-color: var(--error5);
      }

      &:focus,
      &:focus-visible {
        outline: 0 none;
      }

      span {
        display: contents;
      }
    }
  }

  .banner {
    margin-bottom: 0;
  }
}

@container board-wrapper (width < 800px) {
  .expanded-train-form {
    overflow-x: auto;
    grid-template-columns: repeat(3, minmax(200px, 1fr)) [end-column];
    justify-content: space-between;

    .train-form {
      .train-tags {
        grid-row: 4;
        grid-column: 1 / 3;
      }

      .actions {
        grid-row: 4;
        grid-column: end-column;
      }
    }
  }
}
