.ui-input-field-wrapper {
  width: 100%;

  &:focus-within {
    .leading-content-wrapper,
    .trailing-content-wrapper,
    .input {
      box-shadow:
        0px 1px 3px rgba(0, 0, 0, 0.5) inset,
        0px 0px 0px 1px rgba(31, 27, 23, 1) inset;
      @apply bg-white-25;
    }
  }

  .input-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;

    &.focused-by-tab {
      outline: 1px solid var(--color-primary-50);
      outline-offset: 3px;
    }

    .input {
      text-overflow: ellipsis;
    }
  }

  .input-icons {
    position: absolute;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    right: 0.688rem;

    &.small {
      right: 0.563rem;
    }

    .clear-icon {
      @apply text-grey-50;
      cursor: pointer;
    }

    .chevron-icon {
      &.disabled {
        @apply text-grey-30;
      }
    }
  }

  .leading-content-wrapper {
    height: 2.5rem;
    padding: 0.563rem 1rem 0.688rem 1rem;
    border-radius: 0.25rem 0 0 0.25rem;
    box-shadow: 0 0 0 0.063rem rgba(148, 145, 142, 1) inset;
    margin-right: -0.063rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .leading-content {
      line-height: 1.25rem;
      font-size: 0.875rem;
      text-align: center;
      flex-shrink: 0;
      @apply text-grey-80;
    }

    &.read-only {
      box-shadow:
        0 0 0 0.063rem rgba(211, 209, 207, 1) inset,
        0 0 0 0.188rem rgba(255, 255, 255, 1) inset;
      .leading-content {
        @apply text-grey-50;
      }
    }

    &.disabled {
      box-shadow: 0 0 0 0.063rem rgba(235, 235, 234, 1) inset;
      .leading-content {
        @apply text-grey-30;
      }
    }
  }

  .input {
    height: 2.5rem;
    width: 100%;
    line-height: 1.5rem;
    text-align: left;
    vertical-align: top;
    letter-spacing: 0;
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
    box-shadow:
      0 0 0 0.063rem rgba(148, 145, 142, 1) inset,
      0 0.063rem 0.188rem rgba(0, 0, 0, 0.5) inset;
    @apply bg-black-1 text-black-100;

    &.with-leading-only {
      border-radius: 0 0.25rem 0.25rem 0;
    }

    &.with-icons-1 {
      padding-right: 2.188rem;
    }

    &.with-icons-2 {
      padding-right: 4.876rem;
    }

    &.with-trailing-only {
      border-radius: 0.25rem 0 0 0.25rem;
    }

    &.with-leading-and-trailing {
      border-radius: 0;
    }

    &:focus {
      outline: none;
    }

    &:read-only {
      box-shadow:
        0 0 0 0.063rem rgba(211, 209, 207, 1) inset,
        0 0 0 0.188rem rgba(255, 255, 255, 1) inset;
      @apply text-grey-50 bg-black-2;
    }

    &:disabled {
      box-shadow: 0 0 0 0.063rem rgba(235, 235, 234, 1) inset;
      @apply text-grey-30 bg-black-2;
    }

    &.success {
      box-shadow:
        0 0 0 0.063rem rgba(11, 114, 60, 1) inset,
        0 0 0 0.25rem rgba(230, 247, 238, 1) inset;
      background-color: rgba(255, 255, 255, 0.5);
    }

    &.info {
      border: 0.094rem solid rgba(112, 193, 229, 1);
      box-shadow:
        0 0.063rem 0.188rem rgba(0, 0, 0, 0.5) inset,
        0 0 0 0.031rem rgba(0, 0, 0, 1) inset;
      background-color: rgba(255, 255, 255, 1);
    }

    &.warning {
      border: 0.094rem solid rgba(234, 167, 43, 1);
      box-shadow:
        0 0.063rem 0.188rem rgba(0, 0, 0, 0.5) inset,
        0 0 0 0.031rem rgba(0, 0, 0, 1) inset;
      background-color: rgba(255, 255, 255, 1);
    }

    &.error {
      border: 0.094rem solid rgba(255, 104, 104, 1);
      box-shadow:
        0 0.063rem 0.188rem rgba(0, 0, 0, 0.5) inset,
        0 0 0 0.031rem rgba(0, 0, 0, 1) inset;
      background-color: rgba(255, 255, 255, 1);
    }

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type='number'] {
      appearance: none;
      -moz-appearance: textfield;
    }
  }

  .trailing-content-wrapper {
    height: 2.5rem;
    padding: 0.563rem 1rem 0.688rem;
    border-radius: 0 0.25rem 0.25rem 0;
    box-shadow: 0 0 0 0.063rem rgba(148, 145, 142, 1) inset;
    margin-left: -0.063rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .trailing-content {
      line-height: 1.25rem;
      font-size: 0.875rem;
      text-align: center;
      flex-shrink: 0;
      @apply text-grey-80;
    }

    &.read-only {
      box-shadow:
        0 0 0 0.063rem rgba(211, 209, 207, 1) inset,
        0 0 0 0.188rem rgba(255, 255, 255, 1) inset;
      .trailing-content {
        @apply text-grey-50;
      }
    }

    &.disabled {
      box-shadow: 0 0 0 0.063rem rgba(235, 235, 234, 1) inset;
      .trailing-content {
        @apply text-grey-30;
      }
    }
  }

  &.small {
    .leading-content-wrapper {
      height: 1.75rem;
      border-radius: 0.188rem 0 0 0.188rem;
      .leading-content {
        font-size: 0.75rem;
        line-height: 0.5rem;
      }
    }

    .input {
      height: 1.75rem;
      line-height: 1.25rem;
      font-size: 0.875rem;
      padding: 0.188rem 0.5rem 0.188rem 0.438rem;
      border-radius: 0.188rem;

      &.with-leading-only {
        border-radius: 0 0.25rem 0.25rem 0;
      }

      &.with-trailing-only {
        border-radius: 0.25rem 0 0 0.25rem;
      }

      &.with-leading-and-trailing {
        border-radius: 0;
      }
    }

    .trailing-content-wrapper {
      height: 1.75rem;
      border-radius: 0 0.188rem 0.188rem 0;

      .trailing-content {
        font-size: 0.75rem;
        line-height: 0.5rem;
      }
    }
  }
}
