.ui-label-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 3px;

  &.has-hint {
    margin-bottom: 0;
  }

  .required {
    position: absolute;
    left: -24px;
    border-radius: 0.031rem;
    @apply text-info-30;
  }

  .label {
    display: inline-block;
    height: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 0;
    text-align: left;
    vertical-align: top;
    @apply text-grey-80 font-sans font-semibold;

    &.disabled {
      @apply text-grey-30;
    }
  }

  &.small {
    .label {
      height: 1.25rem;
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
  }
}
