.radio-button {
  align-items: center;
  margin-bottom: 0.25rem;
  cursor: pointer;

  input[type='radio'] {
    position: absolute;
    opacity: 0;
    height: 0.75rem;
    width: 0.75rem;
    border: 0.0625rem solid #94918e;
  }

  .checkmark {
    position: absolute;
    border-radius: 50%;
    box-sizing: content-box;
    width: 1.125rem;
    height: 1.125rem;
    border: 0.0625rem solid #94918e;
    opacity: 1;
    background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(245, 245, 245, 1) 100%
    );
    outline: solid 0.125rem #d3d1cf;

    &:after {
      content: '';
      position: absolute;
      top: 0.0625rem;
      left: 0.0625rem;
      bottom: 0.0625rem;
      right: 0.0625rem;
      border: 0.03125rem #d3d1cf solid;
      border-radius: 50%;
    }
  }

  .radio-label {
    z-index: 1; /* This is to move the label above the checkmark to make the label clickable. */
  }

  .hint {
    height: 1.25rem;
    margin-bottom: 0.25rem;
    font-size: 0.75rem;
    line-height: 1.25rem;
    @apply text-black-50;
    margin-left: 2rem;
  }

  &:hover {
    &.small {
      .checkmark {
        outline: solid 0.09375rem #98c0f5;
      }
    }
    .checkmark {
      outline: solid 0.125rem #98c0f5;
    }
  }

  &.small {
    font-size: 0.875rem;
    margin-bottom: 0.125rem;

    .checkmark {
      width: 0.875rem;
      height: 0.875rem;
      outline: solid 0.09375rem #ebebea;
    }
    .label {
      line-height: 1.25rem;
      padding-top: 0.125rem;
    }
    label {
      font-size: 0.875rem;
      padding-left: 1.5rem;
    }
    input:checked ~ .checkmark {
      &:after {
        position: absolute;
        border: none;
        opacity: 1;
        top: -0.09375rem;
        left: 0px;
      }
    }
  }

  input[type='radio']:checked ~ .checkmark {
    border-radius: 50%;
    border: 0.0625rem solid #5c5955;
    opacity: 1;
    background-image: linear-gradient(
      180deg,
      rgba(148, 145, 142, 1) 0%,
      rgba(121, 118, 113, 1) 100%
    );

    &:after {
      border: none;
      opacity: 1;
      top: 0px;
      left: 0px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      background-color: white;
    }
  }

  input[type='radio']:disabled ~ .checkmark {
    background-image: white;
    outline: none;
    cursor: default;
    border: 0.03125rem #d3d1cf solid;
    &:after {
      border: none;
      opacity: 1;
      top: 0px;
      left: 0px;
    }
  }
  input[type='radio']:disabled ~ .checkmark {
    cursor: default;
  }

  label {
    font-size: 1rem;
    line-height: 1.25rem;
    color: #333;
    cursor: pointer;
    display: block;
    padding-left: 1.6875rem;
    cursor: pointer;
    height: 1.75rem;
    align-content: center;
  }

  .radio-container {
    display: flex;
    align-items: center;
  }
  &:focus {
    outline: none;
    .checkmark {
      &:after {
        top: -4px;
        width: 26px;
        height: 26px;
        left: -4px;
        border: 1px rgba(37, 106, 250, 1) solid;
      }
    }
  }
}

.radio-button:has(input[type='radio']:disabled) {
  cursor: default;
}

.radio-button:has(.read-only) {
  cursor: default;
}

.radio-button-wrapper {
  position: relative;
  padding: 1rem 0.625rem;
  border-radius: 0.5rem;

  input[type='radio']:disabled ~ label {
    @apply text-grey-30;
    cursor: default;
  }

  &.info {
    @apply bg-info-5;
  }

  &.warning {
    @apply bg-warning-5;
  }

  &.error {
    @apply bg-error-5;
  }

  .label {
    display: block;
    @apply text-grey-80;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 1.5rem;
    margin-bottom: 0.625rem;

    .required {
      position: absolute;
      left: -0.5rem;
      top: 1.25rem;
      border-radius: 0.03125rem;
      @apply text-info-30;
    }
  }

  .subtitle {
    @apply text-grey-50;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0px;
    text-align: left;
    line-height: 1.25rem;
    display: block;
  }

  .status-message {
    letter-spacing: 0px;
    text-align: left;
    line-height: 1.5rem;
    @apply font-semibold;

    &.info {
      @apply text-info-60;
    }

    &.warning {
      @apply text-warning-60;
    }

    &.error {
      @apply text-error-60;
    }
  }

  .status-with-message {
    display: flex;
    margin-top: 1rem;

    .status-icon {
      margin-right: 0.5625rem;

      &.info {
        @apply text-info-30;
      }

      &.success {
        @apply text-success-30;
      }

      &.warning {
        @apply text-warning-30;
      }

      &.error {
        @apply text-error-60;
      }

      &.small {
        margin: 0.3125rem 0 0.3125rem 0.5rem;
      }
    }
  }

  .read-only {
    input[type='radio'] {
      cursor: default;
      @apply border-grey-60;
    }
    span {
      cursor: default;
    }
    .hint {
      cursor: default;
    }

    .radio-label {
      @apply text-grey-50;
    }

    .checkmark {
      background-image: white;
      border: 0.0625rem solid #5c5955;
      outline: none;
      cursor: default;
      &:after {
        border: none;
        opacity: 1;
        top: 0px;
        left: 0px;
      }
    }
  }
  .read-only {
    input[type='radio'] {
      cursor: default;
      @apply border-grey-60;
    }
    .radio-label {
      @apply text-grey-50;
    }
    input[type='radio']:checked ~ .checkmark {
      background-image: none;
      background-color: white;
      cursor: default;
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        @apply bg-grey-60;
      }
    }
    label {
      cursor: default;
      @apply text-grey-50;
    }
    &:hover {
      .checkmark {
        outline: none;
      }
    }
  }
}
