.ui-token-input-wrapper {
  .input-label {
    font-size: 1rem;
    letter-spacing: 0;
    text-align: left;
    line-height: 24px;
    @apply text-grey-80 font-sans font-semibold;
  }

  .tokens-wrapper {
    display: flex;
    flex-wrap: wrap;
    min-height: 40px;
    padding: 4px;
    border-radius: 4px;
    box-shadow:
      0 1px 3px inset var(--color-black-50),
      0 0 0 1px inset var(--color-grey-40);
    @apply bg-black-1;

    .token-item-wrapper {
      display: flex;
      margin: 4px;
      align-items: center;
      justify-content: center;
      border-radius: 3px;
      box-shadow:
        0 0 0 1px inset var(--color-primary-20),
        0 0 0 2px inset var(--color-white-100);
      background-color: var(--color-primary-5);

      .token-label {
        margin: 2px 6px 2px 8px;
        font-size: 0.875rem;
        letter-spacing: 0;
        text-align: left;
        line-height: 20px;
        user-select: none;
        @apply text-black-100;
      }

      .token-close-btn {
        margin: 4px 4px 4px 0;
        @apply text-black-25;

        :active {
          color: var(--color-error-60);
        }
      }

      &:has(.token-close-btn:active) {
        box-shadow: 0 0 0 1px inset var(--color-error-30);
        background-color: var(--color-white-100);
      }

      &:hover {
        cursor: pointer;
        box-shadow: 0 0 0 1px inset var(--color-primary-40);
        background-color: var(--color-white-100);

        .token-close-btn {
          @apply text-black-75;
        }
      }

      &:active {
        box-shadow: 0 0 0 1px rgb(32, 30, 222) inset;
        @apply text-white-50;

        .token-close-btn {
          @apply text-black-100;
        }
      }
    }

    .token-input {
      outline: none;
      margin: 4px;
      min-width: 100px;
      flex: 1;
      @apply bg-transparent;
    }
  }

  &.small {
    .input-label {
      font-size: 0.875rem;
      line-height: 20px;
    }

    .tokens-wrapper {
      min-height: 27px;
      padding: 3px;
      gap: 4px;
      .token-item-wrapper {
        margin: 0;
        .token-label {
          margin: 0 5.5px 2px 6px;
          font-size: 12px;
        }

        .token-close-btn {
          margin: 0 3px 0 0;
        }
      }

      .token-input {
        margin: 2px;
        min-width: 80px;
        font-size: 0.75rem;
      }
    }
  }
}
