.projects-toolbar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem 0 2rem;
}

.projects-list-project-card {
  position: relative;
  border-radius: 4px;
  margin-bottom: 1rem;
  transition: .4s;
  border: 1px solid var(--coolgray3);
  &:hover, &:focus, &:active {
    .projects-list-project-card-img {
      &::after {
        opacity: 1;
      }
      button {
        opacity: 1 !important;
      }
    }
  }
  .projects-list-project-card-img {
    position: relative;
    height: 10rem;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
    img {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--coolgray7);
      transition: filter .5s;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: opacity .5s;
      opacity: 0;
      background: linear-gradient(0deg, var(--coolgray15) 0%, rgba(255,255,255,0) 100%);
    }
    button {
      transition: opacity .4s;
      opacity: 0;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1;
      margin: 0 .5rem .5rem 0;
    }
  }
  .projects-list-project-card-studies {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-style: italic;
    background-color: var(--coolgray3);
    padding: .25rem .5rem;
    text-align: right;
    font-size: .7rem;
    color: var(--coolgray11);
    div {
      white-space: nowrap;
    }
  }
  .projects-list-project-card-name {
    color: var(--purple);
    font-weight: 500;
    font-size: .9rem;
    padding: 0 .5rem;
    margin: .5rem 0 .25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .projects-list-project-card-description {
    padding: 0 .5rem;
    height: 5rem;
    overflow: auto;
    font-size: .9rem;
    &::first-letter {
      text-transform:capitalize;
    }
  }
  .projects-list-project-card-tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .25rem;
    margin-top: .5rem;
    padding: 0 .5rem .5rem;
    font-size: .8rem;
    min-height: 1.5rem;
    .projects-list-project-card-tags-tag {
      color: var(--white);
      background-color: var(--purple);
      border-radius: 4px;
      padding: 0 .25rem;
      transition: .2s;
      cursor: pointer;
      &:hover {
        opacity: .65;
      }
    }
  }
}