.projects-toolbar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.projects-list-project-card {
  position: relative;
  border-radius: 4px;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: .4s;
  border: 1px solid var(--coolgray3);
  &:hover {
    border-color: var(--coolgray9);
  }
  .projects-list-project-card-img {
    position: relative;
    height: 10rem;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .projects-list-project-card-studies {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-style: italic;
    background-color: var(--coolgray3);
    padding: .25rem .5rem;
    text-align: right;
    font-size: .7rem;
    color: var(--coolgray11);
    img {
      height: 1rem;
      margin-right: .5rem;
    }
  }
  .projects-list-project-card-name {
    color: var(--primary);
    font-weight: 500;
    font-size: .9rem;
    padding: 0 .5rem;
    margin: .5rem 0 .25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &::first-letter {
      text-transform:capitalize;
    }
  }
  .projects-list-project-card-description {
    padding: 0 .5rem;
    height: 5rem;
    overflow: auto;
    font-size: .9rem;
    &::first-letter {
      text-transform:capitalize;
    }
  }
  .projects-list-project-card-tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .25rem;
    margin-top: .5rem;
    padding: 0 .5rem .5rem;
    font-size: .8rem;
    .projects-list-project-card-tags-tag {
      color: var(--white);
      background-color: var(--coolgray9);
      border-radius: 4px;
      padding: 0 .25rem;
    }
  }
}