.project-details {
  .project-details-title {
    display: flex;
    position: relative;
    gap: 1rem;
    margin-bottom: .5rem;
    .project-details-title-img {
      position: absolute;
      overflow: hidden;
      border-radius: 4px;
      max-height: 30vh;
      height: 100%;
      img {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--coolgray7);
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      @media screen and (max-width: 768px) {
        position: relative;
        height: 10rem;
      }
    }
    .project-details-title-content {
      .project-details-title-name {
        color: var(--purple);
        font-size: 2rem;
        font-weight: 500;
      }
      h3 {
        color: var(--coolgray9);
        font-size: .8rem;
        text-transform: uppercase;
        border-bottom: 1px solid var(--coolgray5);
        padding-bottom: .15rem;
        margin-bottom: .25rem;
      }
      .project-details-title-description {
        overflow: auto;
        max-height: 12vh;
        margin-bottom: 1rem;
        font-size: 1.25rem;
      }
      .project-details-title-objectives {
        overflow: auto;
        max-height: 20vh;
      }
    }
  }
  .project-details-financials {
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
    border-radius: 4px;  
    padding: .5rem;
    background-color: var(--purple);
    color: var(--white);
    .project-details-financials-infos {
      h3 {
        font-size: .9rem;
        font-weight: bold;
        color: var(--white);
        margin: 0;
        text-transform: uppercase;
      }
      flex-grow: 1;
    }
    .project-details-financials-amount {
      display: flex;
      align-items: center;
      line-height: 2rem;
      font-size: 1.5rem;
      font-weight: bold;
      background-color: var(--coolgray1);
      color: var(--purple);
      border-radius: 4px;  
      padding: .25rem .5rem;
      .project-details-financials-amount-text {
        line-height: 1rem;
        text-align: right;
        width: 4rem;
        font-size: .8rem;
        font-weight: 500;
        text-transform: uppercase;
        margin-right: .5rem;
        white-space: wrap;
      }
    }
  }
  .project-details-tags {    
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .25rem;
    .project-details-tags-tag {   
      font-size: .9rem;   
      color: var(--white);
      background-color: var(--purple);
      border-radius: 4px;
      padding: 0 .25rem;
      transition: .2s;
    }
  }
}

.studies-toolbar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem 0 1rem;
  margin-top: 2rem;
}

.studies-list {
  overflow: auto;
  max-height: 50vh;
  .studies-list-card {
    position: relative;
    border-radius: 4px;
    margin-bottom: 1rem;
    transition: .4s;
    background-color: var(--white);
    border: 2px solid var(--coolgray3);
    transition: .4s;
    &:hover, &:focus, &:active {
      border-color: var(--primary);
      button {
        opacity: 1 !important;
      }
    }
    button {
      transition: opacity .4s;
      opacity: 0;
      margin-left: auto;
    }
    .studies-list-card-name {
      display: flex;
      transition: .4s;
      font-size: 1.5rem;
      font-weight: 500;
      padding: .5rem .5rem .5rem;
      background-color: var(--coolgray3);
      color: var(--secondary);
    }
    .studies-list-card-type {
      color: var(--primary);
      font-weight: 500;
      padding: .25rem .5rem 0;
    }
    .studies-list-card-description {
      font-size: .9rem;
      padding: 0 .5rem;
      @media screen and (min-width: 1280px) {
        overflow: auto;
        height: 5rem;
      }
    }
    .studies-list-card-financials {
      display: flex;
      align-items: center;
      background-color: var(--coolgray1);
      padding: .5rem;
      margin: .5rem .5rem 0;
      border-radius: 4px;
      .studies-list-card-financials-infos {
        display: flex;
        gap: 1rem;
        .studies-list-card-financials-infos-item {
          text-transform: uppercase;
          font-weight: 500;
          font-size: .9rem;
          h3 {
            font-size: .7rem;
            color: var(--coolgray9);
            margin: 0;
            text-transform: uppercase;
          }
        }
      }
      .studies-list-card-financials-amount {
        display: flex;
        align-items: center;
        margin-left: auto;
        font-size: 1.25rem;
        font-weight: bold;
        line-height: 1rem;
        background-color: var(--white);
        color: var(--coolgray11);
        border-radius: 4px;  
        padding: .5rem;
        .studies-list-card-financials-amount-text {
          font-size: .7rem;
          font-weight: 500;
          text-transform: uppercase;
          margin-right: .5rem;
          padding: .25rem 0 0;
        }
      }
    }
    .studies-list-card-footer {  
      display: flex;
      align-items: center;
      justify-content: space-between;
      .studies-list-card-tags {    
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: .25rem;
        padding: .5rem;
        height: 2.25rem;
        overflow: auto;
        .studies-list-card-tags-tag {   
          font-size: .9rem;   
          color: var(--white);
          background-color: var(--primary);
          border-radius: 4px;
          padding: 0 .25rem;
          transition: .2s;
          cursor: pointer;
          &:hover {
            opacity: .65;
          }
        }
      }
      .studies-list-card-date {
        display: flex;
        align-items: center;
        padding: 0 .5rem;
        font-size: .7rem;
        text-transform: uppercase;
        text-align: right;
        font-weight: 500;
        color: var(--coolgray9);
      }
    }
  }
}