@media (min-width: 576px) {
  .modal-dialog.modal-lg,
  .modal-dialog.modal-xl {
    max-width: calc(100vw - 3rem) !important;
  }
}
@media (min-width: 1024px) {
  .modal-dialog.modal-lg,
  .modal-dialog.modal-xl {
    max-width: 800px !important;
  }
}
@media (min-width: 1280px) {
  .modal-dialog.modal-xl {
    max-width: 1140px !important;
  }
}

:root {
  --coolgray15: #202020;
  --coolgray13: #333333;
  --coolgray11: #4d4f53;
  --coolgray9: #747678;
  --coolgray7: #a0a0a0;
  --coolgray5: #b9b9b9;
  --coolgray3: #d7d7d7;
  --coolgray1: #f2f2f2;
}

.maplibregl-map {
  font-family: Avenir, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  .maplibregl-marker {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
