.editor-root {
  $blue: var(--blue);
  $white: white;
  $grey: #d0d0d0;

  padding-top: 3.75rem; // Header height

  .layout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
  }

  .modal {
    z-index: 1060;

    .modal-backdrop {
      pointer-events: all;
    }
  }

  .tool-box,
  .actions-box {
    padding: 1rem;

    display: flex;
    flex-direction: column;

    & > * {
      margin-bottom: 0.5rem;
    }

    button {
      box-sizing: border-box;

      color: $blue;
      background: $white;

      &.active:not(:disabled) {
        color: $white;
        background: $blue;
      }

      &:disabled {
        color: $grey;
      }
    }

    .tooltip {
      white-space: nowrap;

      .tooltip-inner {
        max-width: unset;
      }
    }

    .separator {
      border-bottom: 2px solid $grey;
      margin: 0 5px 0.5rem;
    }
  }

  .tool-box {
    background: #0088ce;

    button.active:not(:disabled) {
      border: 3px solid $white;

      &::after {
        content: ' ';

        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid $white;

        position: absolute;
        top: 50%;
        left: 100%;
        margin-top: -10px;
        margin-left: 6px;
      }
    }
  }
  .actions-box {
    background: white;

    button:not(.active):not(:disabled) {
      border: 3px solid $blue;
    }
    button:disabled {
      border: 3px solid grey;
    }
  }

  .map {
    flex-grow: 1;
  }
}
