:root {
  --coolgray15: #202020;
  --coolgray13: #333333;
  --coolgray11: #4d4f53;
  --coolgray9: #747678;
  --coolgray7: #a0a0a0;
  --coolgray5: #b9b9b9;
  --coolgray3: #d7d7d7;
  --coolgray1: #f2f2f2;
}
