version: '3'

services:
  postgres:
    ports: []
    network_mode: host
    healthcheck:
      test: ["CMD", "pg_isready", "-d", "postgres://osrd:password@localhost:5432/osrd"]

  redis:
    ports: []
    network_mode: host

  rabbitmq:
    ports: []
    network_mode: host

  osrdyne:
    ports: []
    network_mode: host

  editoast:
    ports: []
    network_mode: host
    environment:
      PSQL_HOST: "localhost"
      EDITOAST_PORT: 8090
      OSRD_BACKEND_URL: "http://localhost:8080"
      REDIS_URL: "redis://localhost"
      DATABASE_URL: "postgres://osrd:password@localhost:5432/osrd"
      TELEMETRY_ENDPOINT: "http://localhost:4317"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8090/health"]

  gateway:
    ports: []
    network_mode: host
    volumes:
      - "./docker/gateway.dev.host.toml:/gateway.toml"

  jaeger:
    ports: []
    network_mode: host

  wait-healthy:
    depends_on:
      editoast: {condition: service_healthy}
    restart: "no"
    image: alpine:latest
    command: "true"
