.gradle
.idea
.kotlin
build
*.iml
*.jar
.jqwik-database
__pycache__/
.classpath
.project
.settings/
bin
kls_database.db

# vscode
.project
.settings
bin
.classpath

# avoid mistakenly adding proprietary files
*.rsl
*.xml
*.railml
*.railml3
