.notifications {
  position: fixed;
  inset: auto 1em 1em auto;
  z-index: 3000;

  .toast {
    width: 300px;

    &.success i {
      color: green;
    }
    &.infos i {
      color: blue;
    }
    &.warning i {
      color: orange;
    }
    &.error i {
      color: red;
    }
  }
}
