/* COMMON */
.spacetime-chart, .speedspace-chart, .timeline {
  background-color: var(--coolgray11);
  padding: 1rem;
  border-radius: 4px;
  .tick {
    color: var(--coolgray3);
  }
  .domain {
    opacity: .2;
    stroke: var(--coolgray3);
  }
  .grid .tick line {
    stroke: var(--coolgray3);
  }
  .guideLines {
    stroke: var(--coolgray3);
  }
}

/* SPACETIME CHART */
.spacetime-chart {
  .area {
    fill: url(#hatchPatternDarkGray);
    &.selected {
      fill: rgba(0, 136, 207, 0.2);
    }
  }
  .start-block {
    stroke: var(--coolgray9);
    stroke-width: 2;
    &.selected {
      stroke: var(--yellow);
    }
    &.pointer {
      fill: var(--yellow);
    }
  }
  .end-block {
    stroke: var(--coolgray11);
    stroke-width: 2;
    &.selected {
      stroke: var(--red);
    }
    &.pointer {
      fill: var(--red);
    }
  }
  .tail {
    stroke: var(--coolgray5);
    &.selected {
      stroke: var(--cyan);
    }
    &.pointer {
      fill: var(--cyan);
    }
  }
  .head {
    stroke: var(--coolgray7);
    &.selected {
      stroke: var(--blue);
    }
    &.pointer {
      fill: var(--blue);
    }
  }
}

/* TIMELINE */
.timeline {
  background-color: var(--gray);
  padding: 1rem;
  border-radius: 4px;
  .tick {
    color: var(--coolgray3);
  }
  .domain {
    opacity: .5;
    stroke: var(--coolgray3);
  }
  .grid .tick line {
    stroke: var(--coolgray3);
  }
}

#rectZoomTimeLine {
  stroke: var(--coolgray3);
}
.timeline-cursor {
  line {
    stroke: var(--coolgray5);
  }
  path {
    stroke: var(--coolgray5);
    fill: var(--coolgray5);
  }
}
