svg text {
  font-family: Avenir,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.osrd-simulation-container {
  background-color: white;
  padding: 1rem;
  border-radius: 4px;
}
.osrd-simulation-map {
  height: 50vh;
}

.simulation-trainlist {
  max-height: 17rem;
  overflow: auto;
}

.grid .tick {
  opacity: .2;
  line {
    stroke: #333;
  }
}

.chartTrain {
  cursor: move;
}

.guideLines {
  stroke: #333;
  stroke-width: 0.5;
  opacity: 0.5;
  stroke-dasharray: 3;
  pointer-events: none;
}

.curve-label {
  fill: #333;
  font-size: .75rem;
}

.spacetime-chart {
  position: relative;
  height: 300px;
  .btn-rotate {
    position: absolute;
    right: 3rem;
    bottom: 2.5rem;
  }
}

.speedspace-chart {
  position: relative;
  height: 250px;
  .btn-rotate {
    position: absolute;
    right: 4.5rem;
    bottom: 2.5rem;
  }
}

.table-cell-selected {
  color: #0088ce;
  font-weight: bold;
}
.table-shrink {
  .cell-inner {
    padding: 0;
  }
}
.table td.td-button {
  padding: 0;
  .cell-inner-button {
    padding: .5rem 1.25rem;
    cursor: pointer;
  }

}
