.conflicts-list {
  border: 2px solid var(--orange);
  border-radius: 4px;
  background-color: var(--white);
  height: auto;
  min-height: 43px;
  overflow: hidden;
  margin-bottom: 0.5rem;
  .conflicts-container {
    padding: 0.2rem;
    display: none;

    &.expanded {
      display: block;
      min-height: 72px;
      overflow: auto;
      max-height: 200px;
    }
  }
  .conflicts-list-header {
    margin: 0;
    padding: 0.5rem;
    background-color: var(--orange);
    color: var(--white);
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 43px;
    .icons-arrow-up {
      transition: all 0.2s ease-in-out;
      @media screen and (max-width: 1023px) {
        transform: rotate(180deg);
      }
      &.expanded {
        transition: all 0.2s ease-in-out;
        transform: rotate(180deg);
        @media screen and (max-width: 1023px) {
          &.expanded {
            transform: none;
          }
        }
      }
    }
    h2 {
      color: white;
    }
    &:hover {
      cursor: pointer;
    }
  }
  .conflict-card {
    display: flex;
    border: solid rgba(var(--orange-rgb), 0.1) 2px;
    align-items: center;
    padding: 0rem 0.5rem;
    border-radius: 4px;
    background-color: white;
    margin-bottom: 0.2rem;
    cursor: pointer;
    &:hover {
      background-color: rgba(var(--orange-rgb), 0.1);
    }
    .conflict-trains {
      text-align: left;
      font-size: 0.9rem;
      font-weight: 600;
      margin: 0 0.5rem;
      width: 25%;
      .card-text {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
    .conflict-type {
      text-align: left;
      flex-grow: 1;
      white-space: nowrap;
    }
    .conflict-times {
      margin-left: 0.5rem;
      text-align: right;
      font-size: 0.8rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      .start-time {
        font-weight: 600;
        font-size: 0.9rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .end-time {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
