.itinerary {
  .toggle-button-container {
    position: relative;
    align-self: stretch;
    display: flex;
    justify-content: center;

    button {
      outline: none !important;
    }

    &:before {
      content: '';
      position: absolute;
      top: 25%;
      left: 40%;
      height: 7px;
      width: 5px;
      border-right: 2px solid gray;
      border-top: 2px solid gray;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 25%;
      left: 40%;
      height: 7px;
      width: 5px;
      border-right: 2px solid gray;
      border-bottom: 2px solid gray;
    }
  }
}
