.customget {
  .simulation-trainlist {
    max-height: none;
  }
  .train-name-timetable {
    color: var(--white);
    border-radius: var(--border-radius);
  }
  .timetable {
    .cell-inner {
      min-height: 2rem;
      font-size: .9rem;
    }
  }
  .chartTrain {
    .selected {
      stroke-width: 2;
    }
  }
  .curve-label {
    font-weight: normal;
    &.selected {
      font-weight: bold;
    }
  }
}