openapi: 3.0.0
info:
  title: osrd — simulation
  x-logo:
    url: https://gitlab.com/uploads/-/system/group/avatar/8419749/dgex_logo.png?width=128
  description: Open Source Railway Designer SIMULATOR API
  version: 0.0.1
servers:
  - url: http://gateway.dgexsol.fr/osrd/
    description: Production server
  - url: http://gateway.staging.dgexsol.fr/osrd/
    description: Staging server
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
    OpenID:
      type: openIdConnect
      openIdConnectUrl: https://keycloak.shared.dgexsol.fr/auth/realms/shared/.well-known/openid-configuration
  schemas:
    coordinates:
      title: coordinates
      type: object
      properties:
        geo:
          type: array
          description: Longitude, latitude for geographic layer
          items:
            type: number
          example: [2.13778464001, 43.9223469962]
        sch:
          type: array
          description: Longitude, latitude for schematic layer
          items:
            type: number
          example: [2.13778464001, 43.9223469962]
    stop_time:
      type: integer
      example: 120
      description: stop time in seconds
    time:
      type: string
      example: 08:23:00
    timeInSeconds:
      type: integer
      example: 33020
    tiv:
      type: string
      description: ID of a TIV
      example: 955000-1-V1-019+618-028+550-5424678
security:
  - OpenID: []
  - ApiKeyAuth: []
paths:
  /simulation/:
    get:
      summary: Starts a simulation
      description: Starts a simulation given a train, itinerary, and more, and returns the simulation logs
      tags:
        - show
      parameters:
        - in: query
          name: config
          schema:
            type: object
            properties:
              name:
                type: string
                example: Test train
                description: Name of simulation
              starting_speed:
                type: integer
                description: Speed at simulation start
                example: 0
              signaling_type:
                type: string
                description: Type of signaling model of circulation
                example: 'BAL3'
              from:
                type: object
                properties:
                  id:
                    type: string
                    description: ID of a TIV
                    example: 955000-1-V1-019+618-028+550-5424678
                  time:
                    type: string
                    description: Starting time
                    example: 08:23:00
              to:
                type: object
                properties:
                  id:
                    type: string
                    description: ID of a TIV
                    example: 955000-1-V1-019+618-028+550-5424678
                  time:
                    type: string
                    description: Ending time
                    example: 10:40:00
              stops:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      $ref: '#/components/schemas/tiv'
                    stop_time:
                      $ref: '#/components/schemas/stop_time'
                    time:
                      type: string
                      example: 09:13:00
                      description: time of stop
              rolling_stock:
                type: object
                properties:
                  coeffvoma:
                    type: number
                    example: 96.5
                    description: in kN/T
                  coeffvomb:
                    type: number
                    example: 0.06
                    description: in kN/T
                  coeffvomc:
                    type: number
                    example: 0.06
                    description: in kN/T
                  mass:
                    type: number
                    example: 83
                    description: mass in T
                  length:
                    type: number
                    example: 33.2
                    description: length in m
                  rottating_mass:
                    type: number
                    example: 1.2
                  max_speed:
                    type: number
                    example: 160
                    description: Max speed in km/h
                  tractive_effort_curve:
                    type: object
                    description: Effort curve in json format
          required: true
      responses:
        200:
          description: Simulation results for all trains
          content:
            application/json:
              schema:
                type: object
                properties:
                  trains:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          example: 830100
                          description: Name of the train
                        steps:
                          type: array
                          description: Movement simulation steps
                          items:
                            type: object
                            properties:
                              acceleration:
                                type: number
                                example: 0.25
                              brakingDistance:
                                type: number
                                example: 18359
                                description: Braking distance in meters
                              currentBlocksection:
                                type: number
                                example: 0
                                description: Current block section in meters
                              headPosition:
                                type: number
                                example: 71.82
                                description: Head position of train in meters
                              speed:
                                type: number
                                example: 21
                                description: Actual speed of train in m/s
                              state:
                                type: string
                                example: RUNNING
                                description: State of train
                              tailPosition:
                                type: number
                                example: 0
                                description: Tail position of train in meters
                              time:
                                $ref: '#/components/schemas/timeInSeconds'
                              coordinates:
                                $ref: '#/components/schemas/coordinates'
                        indication:
                          type: array
                          items:
                            type: object
                            properties:
                              space:
                                type: number
                                example: 0
                                description: Distance from start in meters
                              speed:
                                type: number
                                example: 160
                                description: Speed in km/h
                        emergency:
                          type: array
                          items:
                            type: object
                            properties:
                              space:
                                type: number
                                example: 0
                                description: Distance from start in meters
                              speed:
                                type: number
                                example: 160
                                description: Speed in km/h
                        stops:
                          type: array
                          description: timetable
                          items:
                            type: object
                            properties:
                              id:
                                $ref: '#/components/schemas/tiv'
                              name:
                                type: string
                                example: Strasbourg-Ville
                                description: Distance from start in meters
                              stop_time:
                                $ref: '#/components/schemas/stop_time'
                              time:
                                $ref: '#/components/schemas/time'