.duration-cell-digit {
  width: 17px;
  height: 20px;
  color: var(--black100);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.duration-cell-digit-saved {
  color: var(--primary60);
}

.duration-cell-letter {
  width: 8px;
  height: 20px;
  color: var(--grey30);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.duration-cell-letter-saved {
  color: var(--primary30);
}

.duration-cell-digit-focused-initial {
  .duration-cell-digits-value {
    position: relative;
    width: 17px;
    height: 20px;
    background-color: rgba(0, 109, 255, 1);
    border-radius: 0;

    span {
      color: var(--white100);
    }
  }
}

.duration-cell-digit-focused-editing {
  .duration-cell-digits-value {
    position: relative;
    width: 17px;
    height: 18px;
    background-color: var(--primary10);
    border-radius: 2px;
  }
}

.duration-cell-cleared {
  color: var(--black100);
}

.duration-cell-caret {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 20px;
  background-color: #006dff;
}

.duration-cell {
  position: relative;

  &:focus {
    outline: none;
  }
}

.duration-cell-clear-btn {
  position: fixed;
  transform: translate(calc(-100% + 4px), -50%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 4px;
  background-color: var(--ambientB5);
  color: var(--primary60);
  box-shadow:
    0 0.5px 1px 0 rgba(0, 0, 0, 0.25),
    0 5px 9px -3px rgba(0, 0, 0, 0.16),
    0 13px 12px -5px rgba(255, 171, 88, 0.13);
  cursor: pointer;
  z-index: 100;

  &:hover {
    background-color: var(--white100);
    color: var(--primary80);
    box-shadow:
      0 0.5px 1px 0 rgba(0, 0, 0, 0.25),
      0 5px 9px -3px rgba(0, 0, 0, 0.16),
      0 13px 12px -5px rgba(255, 171, 88, 0.13);
  }

  &:active {
    background-color: var(--ambientB10);
    color: var(--primary40);
    box-shadow:
      0 2px 4px 0 rgba(0, 0, 0, 0.22),
      0 4px 7px -3px rgba(255, 171, 88, 0.17),
      inset 0 1px 0 0 rgba(255, 255, 255, 1);
  }
}
