.margin-cell {
  display: flex;
  justify-content: center;
  font-size: 0.875rem;

  .unit-letter {
    color: var(--grey50);
  }

  &.display {
    .label {
      color: var(--primary60);
      display: inline-flex;
      align-items: center;
      gap: 6px;

      &.compact .unit {
        display: inline-flex;
        align-items: flex-end;
        flex-direction: column;
        font-size: 0.75rem;
        line-height: 11px;
      }
    }

    &:not(.inherited) {
      cursor: pointer;
    }

    &.inherited {
      .label {
        color: var(--grey30);
      }
    }

    &.hover-switch {
      .label {
        display: inline-flex;
      }

      .input-cell-placeholder {
        display: none;
      }

      &:hover {
        .label {
          display: none;
        }

        .input-cell-placeholder {
          display: inline-flex;
        }
      }
    }
  }

  &.edit {
    background-color: red;

    .input {
      color: var(--primary60);
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      max-width: 32px;
      text-align: center;
      background: transparent;
      outline: none;
    }

    .unit {
      color: var(--grey30);
      font-size: 0.625rem;
      line-height: 9px;
      text-align: right;
      cursor: pointer;

      &-selection {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
      }

      &-active {
        color: var(--grey90);
      }

      &:hover:not(&-active) {
        color: var(--primary40);
      }

      &:hover {
        color: var(--primary80);
      }
    }
  }
}
