.time-cell {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  font-family: inherit, monospace;
  border-radius: 4px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }

  &__input,
  &__display {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 84px;
    padding-bottom: 11px;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__input {
    z-index: 2;
    background: transparent;
    color: transparent;
    caret-color: transparent;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    &::selection {
      background: transparent;
    }
  }

  &__display {
    z-index: 1;
    color: #000;
    pointer-events: none;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

    &--saved {
      color: var(--primary60);
    }

    .placeholder-letter {
      color: var(--grey30);
    }

    .placeholder-letter-m {
      // transform works only on block or inline-block elements
      display: inline-block;
      transform: scaleX(0.7) translateX(-2px);
      letter-spacing: -4px;
    }

    .value {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 20px;
      width: 17px;
    }

    .value-focused-initial {
      position: relative;
      background-color: rgba(0, 109, 255, 1);
      border-radius: 0;
      height: 20px;
      width: 17px;
      color: var(--white100);

      .placeholder-letter {
        color: var(--white100);
      }
    }

    .value-focused {
      position: relative;
      background-color: var(--primary10);
      border-radius: 2px;
      height: 18px;
      width: 17px;
    }

    .custom-caret {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      height: 20px;
      background-color: #006dff;
      left: 100%;
    }
  }
}
