.time-cell {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  font-family: inherit, monospace;
  border-radius: 4px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }

  &__input,
  &__display {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 84px;
    height: 40px;
    padding-bottom: 11px;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__display {
    z-index: 1;
    color: #000;
    pointer-events: none;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__input {
    z-index: 2;
    background: transparent;
    color: transparent;
    caret-color: #0066cc;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }

  &__placeholder {
    position: relative;
    width: 24px;
    height: 24px;

    color: var(--primary40);
    pointer-events: auto;
    cursor: pointer;
    transition: color 0.2s;
  }

  &:hover:not(:focus-within) {
    background-color: var(--primary5);
    .time-cell__placeholder {
      color: var(--primary80);
    }
  }

  &.time-cell--empty:active {
    background-color: var(--primary60);
    .time-cell__placeholder {
      color: var(--white100);
    }
  }
}
