.simulation-warped-map {
  height: 633px;

  .show-warped-map-button {
    border: none;
    background: none;
    cursor: pointer;
    color: var(--coolgray7);
  }

  .warped-map {
    overflow: hidden;
    transition: 0.2s;

    .buttons {
      position: absolute;
      bottom: 2em;
      right: 2em;
    }
  }
}
