.simulation-warped-map {
  .show-warped-map-button {
    border: none;
    cursor: pointer;
    color: var(--black25);
    background-color: var(--ambientB5);

    &:active,
    &:focus {
      outline: none;
    }
  }

  .warped-map {
    overflow: hidden;
    transition: 0.2s;

    .buttons {
      position: absolute;
      bottom: 2em;
      right: 2em;
    }
  }
}
