.project-edition-modal {
  max-height: calc(100vh - 3.5rem);
  display: flex;
  flex-direction: column;
  .modal-body {
    overflow-y: auto;
  }

  .project-edition-modal-picture {
    position: absolute;
    overflow: hidden;
    border-radius: 4px;
    max-height: 25vh;
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
    padding-right: 1rem;
    img {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      color: var(--coolgray7);
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: opacity 0.2s;
      &:hover {
        opacity: 0.75;
      }
    }
    .project-edition-modal-picture-placeholder {
      position: relative;
      font-size: 5rem;
      background-color: var(--coolgray1);
      color: var(--coolgray7);
      border-radius: 4px;
      width: 100%;
      height: 100%;
      transition: 0.2s;
      label {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        cursor: pointer;
        .project-edition-modal-picture-placeholder-text {
          font-weight: 500;
          font-size: 1rem;
          color: var(--coolgray9);
        }
      }
      &:hover {
        background-color: var(--coolgray3);
        color: var(--coolgray9);
      }
      .project-edition-modal-picture-placeholder-buttons {
        display: flex;
        align-items: center;
        flex-flow: row;
        justify-content: end;
        gap: 0.5rem;
        position: absolute;
        z-index: 1;
        right: 0.5rem;
        top: 0.5rem;
        flex-wrap: wrap;
        button {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: var(--white);
          border: none;
          color: var(--coolgray11);
          font-size: 1.5rem;
          border-radius: 4px;
          padding: 0.25rem;
          transition: 0.2s;
          img {
            height: 1.5rem;
          }
          &:hover {
            background-color: var(--coolgray11);
            color: var(--coolgray1);
          }
          &.remove {
            width: 2.75rem;
            height: 2rem;
            color: var(--red);
            &:hover {
              background-color: var(--red);
              color: var(--white);
            }
          }
        }
      }
    }
    @media (max-width: 767px) {
      position: relative;
      min-height: 15vh;
      padding-right: 0;
    }
  }
  .project-edition-modal-title {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    img {
      height: 2rem;
    }
  }
  .project-edition-modal-name {
    height: 6rem;
  }
  .project-edition-modal-description {
    textarea {
      min-height: auto;
    }
  }
  .project-edition-modal-objectives {
    textarea {
      height: 17vh;
      padding: 0.5rem;
      font-size: 0.7rem;
      font-family: monospace;
    }
  }
  .project-edition-modal-objectives-md {
    height: 100%;
    .project-edition-modal-objectives-md-render {
      overflow: auto;
      height: 17vh;
      padding: 0.5rem;
      border-radius: 4px;
      border: 1px solid var(--coolgray3);
    }
  }
}
