.selection-toolbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  height: var(--selection-toolbar-height);
  color: var(--purple);
  font-weight: 500;

  .btn {
    display: flex;

    // TODO: Maybe remove those wrapping spans altogether
    span:has(> svg) {
      display: contents;
    }

    svg {
      align-self: center;
    }
  }
}
