@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './animations.css';
@import './button.css';
@import './inputs/index.css';
@import './select.css';
/* REGULAR */

@font-face {
  font-family: 'IBM Plex Sans';
  src: inline('./fonts/IBMPlexSans-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: inline('./fonts/IBMPlexSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: inline('./fonts/IBMPlexSans-Bold.ttf') format('truetype');
  font-weight: 900;
}

/* SERIF */

@font-face {
  font-family: 'IBM Plex Serif', serif;
  src: inline('./fonts/IBMPlexSerif-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'IBM Plex Serif', serif;
  src: inline('./fonts/IBMPlexSerif-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

/* MONOSPACE */

@font-face {
  font-family: 'IBM Plex Mono', monospace;
  src: inline('./fonts/IBMPlexMono-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'IBM Plex Mono', monospace;
  src: inline('fonts/IBMPlexMono-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

body {
  font-size: 16px;
}
