{
  "extends": ["react-app", "react-app/jest", "prettier"],
  "plugins": ["prettier"],
  "overrides": [
    {
      "files": ["**/*.ts?(x)"],
      "parser": "@typescript-eslint/parser",
      "plugins": ["@typescript-eslint"],
      "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
      ],
      "rules": {
        "@typescript-eslint/explicit-module-boundary-types": 0
      }
    }
  ]
}
