@import 'operationalStudies/home';
@import 'operationalStudies/nge';
@import 'operationalStudies/project';
@import 'operationalStudies/study';
@import 'operationalStudies/scenario';
@import 'operationalStudies/managetrainschedule';
@import 'operationalStudies/importtrainschedule';
@import 'operationalStudies/simulationresults';
@import 'operationalStudies/waypointsPanel';
