@import 'operationalStudies/home';
@import 'operationalStudies/project';
@import 'operationalStudies/study';
@import 'operationalStudies/scenario';
@import 'operationalStudies/managetrainschedule';
@import 'operationalStudies/importtrainschedule';
@import 'operationalStudies/simulationresults';

// Components
@import 'operationalStudies/components/driverTrainSchedule';
@import 'operationalStudies/components/AddAndEditProjectModal';
@import 'operationalStudies/components/AddAndEditStudyModal';
@import 'operationalStudies/components/AddAndEditScenarioModal';
