.stdcm-map {
  &-noSimulation {
    height: 85vh;
  }
  &-withSimulation {
    height: 40vh;
  }
}

.stdcm-error {
  color: var(--danger);
}

.stdcm-allowance-icon {
  max-width: fit-content;
}

.maximum-run-time-input {
  .invalid-feedback {
    font-size: 0.7rem;
  }
}