.stdcm-map {
  &-noSimulation {
    height: 85vh;
  }
  &-withSimulation {
    height: 40vh;
  }
}

.stdcm-allowance-icon {
  max-width: fit-content;
}

.running-time {
  .timer-svg {
    color: var(--orange);
  }
}
