<configuration>
    <appender name="COLOR" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>[%date{"HH:mm:ss,SSS"}] %highlight(%-7([%level])) %23([%logger{0}]) %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="COLOR"/>
    </root>
    <logger name="io.lettuce" level="INFO"/>
    <logger name="io.netty" level="INFO"/>
    <logger name="software.amazon.awssdk" level="INFO"/>
    <logger name="org.apache.hc.client5" level="INFO"/>
</configuration>
