.scenario-edition-modal {
  .scenario-edition-modal-title {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    img {
      height: 2rem;
    }
  }
  .scenario-edition-modal-name {
  }
  .scenario-edition-modal-description {
    margin-bottom: 1rem;
    textarea {
      min-height: auto;
    }
  }
}