.operational-studies-allowances {
  --mareco-color: var(--teal);
  --linear-color: var(--yellow);
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  position: relative;
  height: 100%;
  @media (max-width: 1279px) {
    flex-direction: column;
  }
  .allowances-container {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--white);
    border-radius: var(--border-radius);
    padding: 0.5rem;
    .subtitle {
      all: unset;
      cursor: pointer;
      display: flex;
      text-transform: uppercase;
      color: var(--coolgray9);
      font-size: 0.8rem;
      font-weight: 500;
      border-bottom: 1px solid var(--coolgray3);
    }
    .allowances-actions {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      margin-bottom: 0.5rem;
      label {
        margin-bottom: 0 !important;
      }
      button.btn-success {
        height: 2rem;
      }
      // smaller unit icon for input fields
      input.form-control.form-control-sm {
        padding-right: 1.5rem;
      }
      .form-control-container.has-right-icon .form-control-icon {
        width: 1.5rem;
        padding: 0;
      }
      // Same height for all inputs
      .input-group-sm .form-control-container, .input-group-sm button {
        height: 2rem;
      }
      .first-line, .second-line {
        display: flex;
        gap: 0.25rem;
      }
      .allowances-value {
        flex-grow: 1;
        min-width: 10rem;
      }
      .update-buttons {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        flex-wrap: nowrap;
        button {
          padding: 0 0.5rem;
          font-size: 0.8rem;
          height: 2rem;
        }
      }
      .bullet-linear {
        color: var(--linear-color);
      }
      .bullet-mareco {
        color: var(--mareco-color);
      }
    }
    .outside-container {
      position: relative;
      background-color: var(--coolgray1);
      margin-left: -0.5rem;
      padding: 0.5rem 0;
      width: calc(100% + 1rem);
      .allowances-linear-view {
        display: flex;
        position: relative;
        gap: 0.1rem;
        width: 100%;
        height: 1.5rem;
        color: var(--secondary); 
        background-color: var(--coolgray3);
        background-image: repeating-linear-gradient(-45deg, transparent, transparent 3px, var(--coolgray1) 3px, var(--coolgray1) 6px);
        .range-no-allowance {
          margin-top: 0.35rem;
          margin-left: 0.5rem;
          font-weight: 500;
          color: var(--coolgray5);
          background-color: var(--coolgray1);
          border-radius: var(--border-radius);
          line-height: 0.8rem;
          font-size: 0.8rem;
          height: 0.8rem;
          padding: 0rem 0.25rem;
        }
        .range {
          display: flex;
          position: absolute;
          height: 100%;
          padding: 0 0.5px;
          cursor: pointer;
          transition: 0.2s;
          .value {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.7rem;
            font-weight: 500;
            background-color: var(--coolgray9);
            height: 100%;
            width: 100%;
            .unit {
              overflow: hidden;
              font-size: 0.5rem;
            }
            &.MARECO {
              background-color: var(--mareco-color);
            }
            &.LINEAR {
              background-color: var(--linear-color);
            }
          }
          &:hover {
            .value {
              border: 2px solid var(--secondary);
            }
          }
          &.selected {
            z-index: 1;
            .value {
              color: var(--white);
              background-color: var(--secondary);
            }
          }
        }
      }
    }
    .allowances-list {
      display: flex;
      flex-direction: column;
      gap: 0.1rem;
      overflow: auto;
      flex-grow: 1;
      .allowance {
        all: unset;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;
        background-color: var(--coolgray1);
        border-radius: var(--border-radius);
        padding: 0.25rem 0.5rem;
        font-size: 0.8rem;
        font-weight: 500;
        height: 1rem;
        transition: 0.2s;
        cursor: pointer;
        border: 2px solid var(--white);
        &:hover {
          background-color: var(--coolgray3);
        }
        &.overlapped {
          border-color: var(--danger);
        }
        &.selected {
          border-color: var(--secondary);
        }
        .index {
          font-size: 0.6rem;
          width: 1rem;
          text-align: center;
          font-weight: bold;
          color: var(--coolgray7);
        }
        .positions {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 0.8rem;
          .begin, .end {
            text-align: right;
            width: 4rem;
          }
          .end {
            text-align: left;
          }
          .separator {
            text-align: center;
            width: 1.5rem;
            flex-grow: 1;
          }
        }
        .length {
          text-align: right;
          width: 5rem;
          font-size: 0.7rem;
          color: var(--coolgray9);
        }
        .distribution {
          text-align: center;
          width: 5rem;
          text-transform: uppercase;
          font-weight: bold;
          color: var(--secondary);
          font-size: 0.6rem;
          background-color: var(--coolgray9);
          border-radius: var(--border-radius);
          padding: 0.1rem 0;
          &.LINEAR {
            color: var(--linear-color);
          }
          &.MARECO {
            color: var(--mareco-color);
          }
        }
        .value {
          width: 5rem;
          .unit {
            margin-left: 0.25rem;
            font-size: 0.7rem;
          }
        }
      }
    }
  }
  .missing-pathfinding {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: var(--coolgray7);
    font-size: 2rem;
    text-align: center;
  }
}

.allowances-op-list {
  position: relative;
  width: 100%;
  .allowances-op {
    position: relative;
    all: unset;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    cursor: not-allowed;
    border-radius: var(--border-radius);
    transition: 0.2s;
    &:hover {
      background-color: var(--coolgray1);
    }
  }
}
