.rollingstock-card {
  display: block;
  position: relative;
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 1rem;

  &.solid {
    opacity: 1 !important;
  }
  &.inactive:not(:hover) {
    transition: 0.5s;
    opacity: 0.5;
  }
  &:hover:not(.active) {
    .rollingstock-card-header,
    .rollingstock-card-body,
    .rollingstock-body-container-img,
    .rollingstock-footer {
      transition: 0.5s;
      border-color: #333;
    }
  }
  &.active {
    cursor: default;
    .rollingstock-card-header,
    .rollingstock-card-body,
    .rollingstock-footer {
      border-color: #303383;
    }
  }

  .rollingstock-body-container-img {
    padding: 0 0.5rem;
    border-left: 2px solid var(--coolgray3);
    border-right: 2px solid var(--coolgray3);
    &.opened-rollingstock-card-body {
      border-left: 2px solid var(--blue);
      border-right: 2px solid var(--blue);
    }

    .rollingstock-body-img {
      overflow: hidden;
      img {
        max-width: 100%;
        height: 2rem;
        display: inline-block;
        padding-top: 0.75rem;
        position: relative;
        vertical-align: baseline;
      }
    }
  }

  .rollingstock-footer {
    border-radius: 0 0 4px 4px;
    border-left: 2px solid var(--coolgray3);
    border-right: 2px solid var(--coolgray3);
    border-bottom: 2px solid var(--coolgray3);
    .rollingstock-footer-specs {
      padding: 0.5rem 0.5rem 0.25rem;
      svg {
        vertical-align: text-top;
        font-size: 0.9rem;
        margin-right: 3px;
      }
      small {
        font-size: 80%;
      }
      font-size: 0.8rem;
    }
    .rollingstock-footer-buttons {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 2.75rem;
      padding: 0 0.5rem;
      border-radius: 0 0 4px 4px;
      color: var(--light);
      background-color: var(--coolgray3);
      .rollingstock-footer-button-with-picto {
        display: flex;
        align-items: center;
        span {
          display: flex;
          padding: 0 0.25rem 0.1rem 0;
        }
      }
    }
  }
}

.rollingstock-card-header {
  border-radius: 4px 4px 0 0;
  background-color: var(--coolgray3);
  padding: 0.15rem 0.5rem;
  overflow: hidden;
  border-top: 2px solid var(--coolgray3);
  border-left: 2px solid var(--coolgray3);
  border-right: 2px solid var(--coolgray3);
  cursor: pointer;
  .rollingstock-title {
    white-space: nowrap;
    height: 1.5rem;
    overflow: hidden;
    .rollingstock-info {
      display: flex;
      align-items: center;
      height: 1.5rem;
      justify-content: space-between;
      .rollingstock-info-begin {
        height: 1.5rem;
        display: flex;
        align-items: center;
        .rollingstock-info-series {
          height: 1.5rem;
          font-weight: bold;
        }
        .rollingstock-info-unit {
          &.UM2 {
            color: #6e1e78;
          }
          &.UM3 {
            color: #a1006b;
          }
          font-weight: bold;
          margin-left: 0.25rem;
          font-size: 0.7rem;
        }
        .rollingstock-info-subseries {
          margin-left: 0.25rem;
          text-transform: uppercase;
          font-size: 0.7rem;
        }
      }
      .rollingstock-info-middle {
        white-space: normal;
        overflow-wrap: break-word;
        overflow: hidden;
        max-width: 55%;
        text-transform: uppercase;
        color: #303383;
        font-size: 0.6rem;
        line-height: 0.6rem;
      }
      .rollingstock-info-end {
        display: flex;
        align-items: center;
        color: #4d4d4d;
        font-size: 0.8rem;
      }
    }
  }
}

.rollingstock-card-body {
  position: relative;
  padding: 0 0.5rem;
  border-left: 2px solid var(--coolgray3);
  border-right: 2px solid var(--coolgray3);
  font-size: 0.8rem;
  font-weight: lighter;
  .rollingstock-detail-container-img {
    position: absolute;
    z-index: 0;
    width: calc(100% - 5rem);
    overflow: hidden;
    bottom: 2.6rem;
    left: 3.5rem;
    opacity: 0.35;
    padding-top: 1rem; // Need padding...because
    padding-bottom: 1rem;
    .rollingstock-detail-img {
      display: flex;
      align-items: baseline;
      position: relative;
      white-space: nowrap;
      transform: scale(
        1.5
      ); // Have to scale whole <img> because electric trains with pantograph have taller pictures
      transform-origin: left;
      img {
        max-height: 4rem;
        display: inline-block;
        position: relative;
        vertical-align: baseline;
      }
    }
  }
  .loader {
    margin: 0;
    padding: 2rem 0;
  }
}
