@use './rollingStockCard';
@use './rollingStockCurves';
@use './rollingStockSelector';

.comfort-AC {
  color: #0088ce;
}
.comfort-HEATING {
  color: var(--yellow);
}
.comfort-STANDARD {
  font-weight: bold;
}
