@import 'map/map';
@import 'map/popup';
@import 'map/popup';
@import 'rc-slider';

.osrd-config-item {
  position: relative;
  margin: 0;
  &.mini {
    margin: -0.5rem 0 -0.5rem 2rem;
  }
}

.osrd-config-item-container {
  background-color: white;
  padding: 0.5rem;
  border-radius: 4px;
  &.osrd-config-item-clickable {
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      background-color: #d7d7d7;
    }
  }
}

.osrd-config-item-container-map {
  position: relative;
  border-radius: var(--border-radius);
  background-color: var(--white);
  padding: 0.5rem;
  height: 100%;

  .floating-itinerary {
    position: absolute;
    z-index: 1;
    top: 1rem;
    left: 1rem;
    max-height: calc(100% - 2rem);
    max-width: 75%; // if the pathfinding error msg is too long
  }

  // à creuser
  .btn-map-container {
    top: 1.5rem;
    right: 1.5rem;
  }
  .map-modal {
    top: 0.5rem;
    min-width: calc(100% - 6rem);
  }
  .options-btn {
    padding: 0.2rem 0.8rem 0.2rem;
    font-size: 0.8rem;
  }
  .maplibregl-popup {
    z-index: 1;
  }
  .map-settings-btn {
    position: absolute;
    z-index: 1;
    right: 2rem;
    top: 2rem;
    i {
      font-size: 1.5rem;
    }
  }
  .btn-resetviewport {
    z-index: 1;
    right: 2rem;
    top: 5rem;
    bottom: inherit;
  }
  .map-settings {
    top: 1rem;
    right: 1rem;
    max-width: inherit;
    position: absolute;
    z-index: 0;
    min-height: 5rem;
    opacity: 0;
    padding: 1rem;
    background-color: #fff;
    width: calc(100% - 4rem);
    transition: 0.4s;
    margin: 1rem;
    border-radius: 4px;
    border: 1px solid #d7d7d7;
    &.active {
      z-index: 1;
      opacity: 1;
    }
  }
  .map-pathfinding-marker {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    position: absolute;
    font-weight: 500;
    border-radius: 4px;
    line-height: 0.7rem;
    padding: 0.15rem 0.25rem;
    font-size: 0.7rem;
    white-space: nowrap;
    &.origin-name {
      color: var(--green);
      background-color: var(--coolgray13);
      left: 1.5rem;
      top: 0.1rem;
    }
    &.via-number {
      padding: 0;
      font-weight: bold;
      color: white;
    }
    &.stdcm-via {
      align-self: flex-start;
      padding-top: 0.5rem;
      color: black;
    }
    &.via-name {
      color: var(--cyan);
      background-color: var(--coolgray1);
      border: 1px dashed var(--cyan);
      left: 1.5rem;
      top: 0.1rem;
    }
    &.via-with-stop {
      color: var(--white);
      background-color: var(--cyan);
      border-color: var(--cyan);
    }
    &.destination-name {
      color: var(--yellow);
      background-color: var(--coolgray13);
      right: 1.75rem;
      top: 1rem;
    }
    .main-line {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 0.25rem 0;
      gap: 0.25rem;
      justify-content: space-between;
      .track-name {
        font-size: 1rem;
        font-weight: bold;
      }
      .line-code {
        font-size: 0.6rem;
        font-weight: lighter;
        line-height: 0.5rem;
      }
    }
    .second-line {
      font-weight: lighter;
      font-size: 0.6rem;
      white-space: normal;
      min-width: 7rem;

      &:not(.via) {
        color: var(--white);
      }
    }
  }
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(#000, 0.15);
}

svg text {
  font-family:
    Avenir,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
}

select.sm {
  min-height: auto;
  padding: 0.2rem 1.25rem;
}

.toast {
  z-index: 3;
}
