.projects-toolbar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem 0 1rem;
}

.confirm-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;

  .confirm-modal-content {
    background: white;
    border-radius: 8px;
    max-width: 40rem;
  }
}
