.import-train-schedule {
  .station-selector {
    position: relative;
    height: 7rem;
  }

  .osrd-config-item-from {
    background-color: var(--green);
    z-index: 3;
  }
  .osrd-config-item-to {
    background-color: var(--yellow);
    z-index: 2;
  }

  @media screen and (min-width: 768px) {
    .osrd-config-item-from, .osrd-config-item-to {
      position: absolute;
      width: 100%;
    }
    .sm-gutters {
      &:nth-child(1n) {
        padding-right: 0.25rem;
        padding-left: 0.25rem;
      }
      &:first-child {
        padding-left: 0;
        padding-right: 0.25rem;
      }
      &:last-child {
        padding-left: 0.25rem;
        padding-right: 0;
      }
    }
  }

  .results-stations {
    height: 15rem;
    overflow: auto;
    .station-card {
      margin-bottom: 0.25rem;
    }
  }
  .results-stations, .result-station-selected {
    border-radius: 4px;
    position: relative;
    margin-top: .5rem;
  }

  .import-train-schedule-trainlist {
    position: relative;
    .import-train-schedule-trainlist-launchbar {
      display: flex;
      align-items: center;
      padding: .5rem;
      border-radius: 4px 4px 0 0;
      height: 2.5rem;
      color: var(--light);
      background-color: var(--secondary);
    }
    .import-train-schedule-trainlist-results {
      position: relative;
      overflow: auto;
      max-height: calc(100vh - 17.5rem);
      .import-train-schedule-traindetail {
        position: relative;
        margin-bottom: .5rem;
        border: 2px solid var(--coolgray3);
        border-radius: 4px;
        .import-train-schedule-traindetail-main {
          display: flex;
          align-items: baseline;
          background-color: var(--coolgray1);
          padding: .5rem;
          transition: .2s;
          .import-train-schedule-traindetail-idx {
            width: 1.5rem;
            font-size: .7rem;
          }
          .import-train-schedule-traindetail-num {
            width: 4.5rem;
            font-size: 1.2rem;
            font-weight: bold;
            color: var(--coolgray9);
            .import-train-schedule-traindetail-activity {
              display: block;
              font-weight: normal;
              text-transform: uppercase;
              font-size: .6rem;      
              line-height: .5rem;  
            }
          }
          .import-train-schedule-traindetail-startend {
            width: 9rem;
            font-size: .9rem;
            text-align: center;
          }
          .import-train-schedule-traindetail-duration {
            width: 3.5rem;
            font-size: .8rem;        
          }
          .import-train-schedule-traindetail-rollingstock {
            align-self: flex-start;
            overflow: hidden;
            height: 2rem;
            width: 50%;
            padding-left: 10%;
            img {
              height: 2rem;
              padding: .25rem 0;
            }
          }
          .import-train-schedule-traindetail-rollingstock-name {   
            color: var(--blue);
            font-weight: 500;
            margin-left: auto;
            text-transform: uppercase;
            margin-right: .5rem;
            font-size: .8rem;      
            .import-train-schedule-traindetail-transilien {
              display: block;
              font-size: .6rem;
              font-weight: normal;
              text-transform: none;
            }  
          }
          .import-train-schedule-traindetail-stepnb {   
            color: var(--light);
            font-weight: bold;
            font-size: .8rem;
            border-radius: 1rem;
            padding: .5rem;
            line-height: 1rem;
            width: 2rem;
            height: 2rem;
            text-align: center;
          }
        }
        .import-train-schedule-traindetail-with-hover {
          cursor: pointer;
          &:hover {
            background-color: var(--coolgray3);
          }
        }
        .import-train-schedule-traindetail-steps {
          overflow: auto;
          max-height: 0rem;
          transition: .2s;
          &.opened {
            max-height: 10rem;
          }
          .import-train-schedule-traindetail-step {
            display: flex;
            align-items: baseline;
            margin-left: 5rem;
            &:hover {
              background-color: var(--coolgray1);
            }
            .import-train-schedule-traindetail-step-nb {
              width: 2rem;
              text-align: right;
              padding: 0 .5rem;
              font-size: .6rem;
            }
            .import-train-schedule-traindetail-step-startend {
              width: 8.5rem;
              font-size: .9rem;
            }
            .import-train-schedule-traindetail-step-duration {
              width: 2rem;
              margin-right: .5rem;
              text-align: right;
              font-size: .8rem;
            }
            .import-train-schedule-traindetail-step-name {
              font-size: .9rem;
            }
          }
        }
      }
    }
  }
}
.automated-map {
  position: relative;
  width: 100%;
  height: 20rem;
}
