.import-train-schedule {
  .station-selector {
    position: relative;
    height: 7rem;
  }

  .osrd-config-item-from {
    background-color: var(--green);
    z-index: 3;
  }
  .osrd-config-item-to {
    background-color: var(--yellow);
    z-index: 2;
  }

  @media screen and (min-width: 768px) {
    .osrd-config-item-from,
    .osrd-config-item-to {
      position: absolute;
      width: 100%;
    }
    .sm-gutters {
      &:nth-child(1n) {
        padding-right: 0.25rem;
        padding-left: 0.25rem;
      }
      &:first-child {
        padding-left: 0;
        padding-right: 0.25rem;
      }
      &:last-child {
        padding-left: 0.25rem;
        padding-right: 0;
      }
    }
  }

  .results-stations {
    height: 15rem;
    overflow: auto;
    .station-card {
      margin-bottom: 0.25rem;
    }
  }
  .results-stations,
  .result-station-selected {
    border-radius: 4px;
    position: relative;
    margin-top: 0.5rem;
  }
}
.automated-map {
  position: relative;
  width: 100%;
  height: 20rem;
}
