.nge-iframe-container {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.nge-error-container {
  width: 100%;
  max-height: 20px;
  border-radius: 10px;
  padding: 4px;
  color: var(--error80);
}
