.project-view {
  .project-details {
    .project-details-title {
      display: flex;
      position: relative;
      gap: 1rem;
      margin-bottom: 0.5rem;
      min-height: 15rem;
      .project-details-title-img {
        position: absolute;
        overflow: hidden;
        border-radius: 4px;
        max-height: 30vh;
        height: 100%;
        img {
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--coolgray7);
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        @media screen and (max-width: 768px) {
          position: relative;
          height: 10rem;
        }
      }
      .project-details-title-content {
        .project-details-title-name {
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: var(--purple);
          font-size: 2rem;
          font-weight: 500;
          overflow: auto;
          .project-details-title-modify-button {
            background-color: transparent;
            border: none;
            color: var(--purple);
            transition: 0.2s;
            padding: 0.25rem 1rem;
            font-size: 1.5rem;
            border-radius: 4px;
            .project-details-title-modify-button-text {
              transition: opacity 0.2s;
              opacity: 0;
              font-size: 1.25rem;
              margin-right: 1rem;
            }
            &:hover {
              background-color: var(--purple);
              color: var(--white);
              .project-details-title-modify-button-text {
                opacity: 1;
              }
            }
          }
        }
        h3 {
          color: var(--coolgray9);
          font-size: 0.8rem;
          text-transform: uppercase;
          border-bottom: 1px solid var(--coolgray5);
          padding-bottom: 0.15rem;
          margin-bottom: 0.25rem;
        }
        .project-details-title-description {
          overflow: auto;
          max-height: 20vh;
          margin-bottom: 1rem;
          font-size: 1.25rem;
          white-space: break-spaces;
        }
        .project-details-title-objectives {
          overflow: auto;
          max-height: 20vh;
        }
      }
    }
    .project-details-financials {
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem;
      border-radius: 4px;
      padding: 0.5rem;
      background-color: var(--purple);
      color: var(--white);
      .project-details-financials-infos {
        h3 {
          font-size: 0.9rem;
          font-weight: bold;
          color: var(--white);
          margin: 0;
          text-transform: uppercase;
        }
        flex-grow: 1;
        overflow: auto;
        margin-right: 0.5rem;
      }
      .project-details-financials-amount {
        display: flex;
        align-items: center;
        line-height: 2rem;
        font-size: 1.5rem;
        font-weight: bold;
        background-color: var(--coolgray1);
        color: var(--purple);
        border-radius: 4px;
        padding: 0.25rem 0.5rem;
        .project-details-financials-amount-text {
          line-height: 1rem;
          text-align: right;
          width: 4rem;
          font-size: 0.8rem;
          font-weight: 500;
          text-transform: uppercase;
          margin-right: 0.5rem;
          white-space: wrap;
        }
      }
    }
    .project-details-tags {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 0.25rem;
      .project-details-tags-tag {
        font-size: 0.9rem;
        color: var(--white);
        background-color: var(--purple);
        border-radius: 4px;
        padding: 0 0.25rem;
        transition: 0.2s;
      }
    }
  }

  .studies-toolbar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem 0 1rem;
    margin-top: 2rem;
  }

  .studies-list {
    overflow: auto;
    max-height: 50vh;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
}
