.round-trips-modal {
  --header-height: 80px;
  --footer-height: 100px;

  margin: 16px;
  width: 100%;
  height: calc(100vh - 16px);
  font-family: 'IBM Plex Sans', sans-serif;

  &::backdrop {
    background: var(--modal-osrd-overlay);
  }

  .round-trips-modal-header {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 56px;

    .title {
      font-size: 24px;
      font-weight: 600;
      letter-spacing: -0.2px;
      line-height: 24px;
      margin-bottom: 0;
    }
  }

  .round-trips-modal-body {
    height: calc(100% - var(--header-height) - var(--footer-height));
    display: flex;
    gap: 24px;
    background-color: var(--ambientB5);
    padding-top: 17px;
    padding-inline: 56px;

    .round-trips-modal-column {
      width: 344px;
      min-width: 0;
      display: flex;
      flex-direction: column;

      &.round-trips-column {
        width: 664px;
      }

      .column-title {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 24px;
        color: var(--black100);
        margin-bottom: 9px;

        span {
          margin-bottom: 1px;
        }

        .item-count {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 20px;
          padding-inline: 5px;
          border: 0.5px solid var(--grey40);
          border-radius: 3px;
          background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0.75) 100%
          );
        }
      }

      .column-wrapper {
        display: flex;
        flex-direction: column;
        gap: 17px;
        width: 100%;
        padding: 16px;
        background-color: var(--white100);
        border: 1px solid var(--grey10);
        border-radius: 12px;
        overflow-y: auto;

        .round-trip-pair {
          display: flex;
          align-items: center;
          gap: 2px;

          .separator {
            width: 4px;
            height: 38px;
            border-radius: 2px;
            background-color: var(--grey5);

            &.valid {
              background-color: var(--info30);
            }
            &.invalid {
              background-color: var(--warning30);
            }
          }
        }

        .round-trips-card {
          display: flex;
          flex-direction: column;
          flex: 1;
          min-width: 0;
          min-height: 67px;
          border-radius: 8px;
          border: 1px solid var(--grey30);

          &:hover {
            border: 1px solid var(--grey60);
          }

          .round-trips-card-header {
            display: flex;
            align-items: center;
            height: 26px;
            color: var(--black100);
            background-color: var(--white100);
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            border-bottom: 1px solid var(--grey30);

            .name {
              flex: 1;
              font-size: 14px;
              font-weight: 600;
              margin-bottom: 0;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              padding-inline: 12px 4px;
            }

            .interval {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 28px;
              height: 100%;
              font-size: 12px;
              color: var(--info60);
              border-left: 1px solid var(--grey30);
              border-right: 1px solid var(--grey30);
            }

            .status {
              width: 32px;
              height: 100%;
              padding-inline: 8px;
              color: var(--info30);
              border-right: 1px solid var(--grey30);
            }

            .card-menu {
              width: 32px;
              padding-inline: 8px;
              color: var(--grey40);
            }
          }
          .round-trips-card-body {
            display: flex;
            align-items: center;
            flex: 1;
            font-size: 14px;
            color: var(--black60);
            background-color: var(--ambientB10);
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            padding-right: 4px;

            .stops {
              display: flex;
              justify-content: end;
              align-items: center;
              min-width: 36px;
              font-size: 14px;
              font-weight: 600;
              text-align: end;

              span:first-child {
                color: var(--primary60);
                margin-top: 2px; // Vertical alignment with icon

                &.no-stops {
                  color: var(--grey30);
                }
              }

              .stops-icon svg {
                color: var(--purple50);
                margin-left: -2px;
              }
            }

            .od-infos {
              min-width: 0;

              .extremity {
                display: flex;
                align-items: center;
                gap: 4px;

                .times {
                  width: 20px;
                  font-size: 10px;
                  color: var(--info60);
                  text-align: end;
                  padding-inline: 4px;
                }

                .location {
                  font-size: 12px;
                  color: var(--grey80);
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }
              }
            }
          }
        }

        .card-placeholder {
          width: 100%;
          height: 67px;
          background-color: var(--grey5);
          border-radius: 8px;
        }
      }
    }
  }

  .round-trips-modal-footer {
    height: var(--footer-height);
    border-top: 1px solid var(--grey30);
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 24px;
    padding-right: 34px;
  }

  .round-trips-menu {
    margin-top: 5px;
    margin-left: -6px;
  }
}
