.scenario {
  --navbar-height: 4.0625rem;
  --content-height: calc(100vh - var(--navbar-height) - 2rem);
  position: relative;
  padding: 0.5rem 1rem;
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .scenario-timetable-collapsed {
    position: sticky;
    display: flex;
    align-items: center;
    top: 0;
    padding-bottom: 0.5rem;
    z-index: 1;
    background-color: var(--coolgray1);
    .timetable-collapse-button {
      display: flex;
      align-items: center;
      position: relative;
      top: 0;
      left: 0;
      background-color: var(--secondary);
      color: var(--white);
      border: unset;
      border-radius: 4px;
      font-size: 1.5rem;
      padding: 0.5rem;
      z-index: 2;
    }
  }
  .scenario-loader {
    position: absolute;
    color: var(--coolgray9);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 3;
    .scenario-loader-msg {
      font-weight: 500;
      font-size: 2rem;
      text-align: center;
    }
  }
  .scenario-timetable-managetrainschedule {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 3;
    background-color: #d7d7d7aa;
    border-radius: 4px;
    animation: fadein 1s;
    .scenario-timetable-managetrainschedule-header {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 11rem;
      font-size: 2rem;
      font-weight: 500;
      backdrop-filter: blur(4px);
      padding: 0.5rem;
    }
    .scenario-timetable-managetrainschedule-body {
      padding: 0.5rem;
    }
  }
  .scenario-sidemenu {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    .scenario-details {
      display: flex;
      flex-direction: column;
      height: 8rem;
      .scenario-details-name {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--secondary);
        font-weight: 500;
        font-size: 1.5rem;
        .scenario-details-modify-button {
          background-color: transparent;
          border: none;
          color: var(--secondary);
          transition: 0.2s;
          padding: 0.25rem 0.5rem;
          font-size: 1rem;
          border-radius: 4px;
          .scenario-details-modify-button-text {
            transition: opacity 0.2s;
            opacity: 0;
            font-size: 0.9rem;
            margin-right: 0.5rem;
          }
          &:hover {
            background-color: var(--secondary);
            color: var(--white);
            .scenario-details-modify-button-text {
              opacity: 1;
            }
          }
        }
      }
      .scenario-details-infra-name {
        display: flex;
        align-items: center;
        img {
          height: 1rem;
        }
      }
      .scenario-details-description {
        overflow: auto;
        height: 4rem;
        font-size: 0.9rem;
      }
    }
    .scenario-timetable {
      .scenario-timetable-addtrains-buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;
        margin-bottom: 0.5rem;
        height: 2rem;
        button {
          flex-grow: 1;
        }
      }
      .scenario-timetable-toolbar {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 0.5rem;
        height: 2rem;
      }
      .scenario-timetable-trains {
        overflow: auto;
        height: calc(var(--content-height) - 13rem);
        @media screen and (max-width: 1023px) {
          height: auto;
          max-height: 50vh;
        }
        .scenario-timetable-train-with-right-bar {
          position: relative;
          display: flex;
          .scenario-timetable-train {
            position: relative;
            display: flex;
            margin-bottom: 0.5rem;
            height: inherit;
            flex-grow: 1;
            .scenario-timetable-train-buttons {
              display: none;
              background-color: var(--coolgray3);
              border-radius: 0 4px 4px 0;
              button {
                background-color: transparent;
                border: none;
                padding: 0.25rem 0.5rem;
                transition: 0.2s;
                height: 100%;
              }
              .scenario-timetable-train-buttons-selectprojection {
                color: var(--cyan);
                &:hover {
                  background-color: var(--cyan);
                  color: var(--white);
                }
              }
              .scenario-timetable-train-buttons-duplicate {
                color: var(--primary);
                &:hover {
                  background-color: var(--primary);
                  color: var(--white);
                }
              }
              .scenario-timetable-train-buttons-update {
                color: var(--orange);
                &:hover {
                  background-color: var(--orange);
                  color: var(--white);
                }
              }
              .scenario-timetable-train-buttons-delete {
                border-radius: 0 4px 4px 0;
                color: var(--red);
                &:hover {
                  background-color: var(--red);
                  color: var(--white);
                }
              }
            }
            .scenario-timetable-train-container {
              cursor: pointer;
              border: 1px solid var(--coolgray3);
              transition: border-color 0.2s;
              border-radius: 4px;
              flex-grow: 1;
              .scenario-timetable-train-header {
                display: flex;
                align-items: center;
                padding: 0 0.25rem;
                background-color: var(--coolgray3);
                transition: background-color 0.2s;
                .scenario-timetable-train-name {
                  position: relative;
                  display: flex;
                  align-items: center;
                  overflow: hidden;
                  .scenario-timetable-train-idx {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 4px;
                    color: var(--secondary);
                    background-color: var(--coolgray1);
                    font-size: 0.7rem;
                    margin: 0.25rem 0.5rem 0.25rem 0;
                    height: 1.25rem;
                    min-width: 1.5rem;
                    text-align: center;
                    &.projected {
                      color: var(--white);
                      background-color: var(--cyan);
                    }
                  }
                  .img-container {
                    height: 0.75rem;
                    margin-left: 0.25rem;
                    img {
                      position: absolute;
                      height: 0.7rem;
                    }
                  }
                  font-weight: bold;
                  font-size: 1rem;
                  width: 80%;
                }
                .scenario-timetable-train-times {
                  min-width: 20%;
                  text-align: right;
                  height: 1.5rem;
                  line-height: 0.8rem;
                  .scenario-timetable-train-departure {
                    font-weight: 600;
                    font-size: 0.9rem;
                  }
                  .scenario-timetable-train-arrival {
                    font-weight: 400;
                    font-size: 0.8rem;
                  }
                }
              }
              .scenario-timetable-train-body {
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                padding: 0.25rem;
                font-size: 0.8rem;
                min-height: 1.75rem;
                flex-wrap: wrap;
                small {
                  font-size: 0.6rem;
                }
                svg {
                  margin-bottom: 0.2rem;
                }
              }
              .scenario-timetable-train-tags {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 0.25rem;
                padding: 0 0.25rem;
                overflow: auto;
                .scenario-timetable-train-tags-tag {
                  font-size: 0.7rem;
                  font-weight: 500;
                  background-color: var(--green);
                  border-radius: 4px;
                  padding: 0 0.25rem;
                  margin-bottom: 0.25rem;
                  &:hover {
                    opacity: 0.5;
                  }
                }
              }
            }
            &.selected:not(.modified) {
              .scenario-timetable-train-header {
                background-color: var(--green);
              }
            }
            &.modified {
              z-index: 3;
              .scenario-timetable-train-header {
                background-color: var(--yellow);
              }
            }
            &:hover:not(.modified) {
              .scenario-timetable-train-container {
                border-radius: 4px 0 0 4px;
                border-color: var(--secondary);
                .scenario-timetable-train-header {
                  background-color: var(--secondary);
                  color: var(--white);
                }
              }
              .scenario-timetable-train-buttons {
                display: flex;
              }
            }
            
            // DURATION BAR
            &.with-colored-border {
              border-right: 3px solid var(--secondary);
              padding-right: 0.25rem;
              &.colored-border-0 {
                border-color: rgba(var(--green-rgb), 0.75);
              }
              &.colored-border-1 {
                border-color: rgba(var(--yellow-rgb), 0.75);
              }
              &.colored-border-2 {
                border-color: rgba(var(--red-rgb), 0.5);
              }
            }
          }
        }
        &:not(.with-details) {
          .scenario-timetable-train-with-right-bar {
            .scenario-timetable-train {
              .scenario-timetable-train-body,
              .scenario-timetable-train-tags {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  .scenario-managetrainschedule {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--coolgray1);
    z-index: 3;
    height: 100%;
    width: 100%;
    padding-left: 0.5rem;
    animation: fadein 1s;
    .invalid-feedback {
      font-size: 0.7rem;
    }
  }
  .scenario-results {
    margin-top: 0.5rem;
    position: relative;
    overflow: auto;
    width: 100%;
    height: var(--content-height);
  }
}
