.scenario-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
  box-shadow:
    0px 1px 2px rgba(0, 0, 0, 0.16),
    0px 2px 2px -1px rgba(255, 171, 88, 0.27);
  background-color: var(--ambientB10);
  margin-bottom: 8px;

  button:focus {
    outline: none;
  }

  .scenario-info {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    line-height: 20px;
    letter-spacing: 0px;
    margin-right: 32px;
    position: relative;

    .close-btn {
      padding: 8px 0px 8px 8px;
      color: var(--black25);

      &:hover {
        color: var(--black100);

        & ~ .scenario-name-container {
          opacity: 0;
        }

        & ~ .close-label {
          text-transform: capitalize;
          opacity: 1;
          color: var(--warning60);
        }
      }
    }

    .spacer {
      width: 8px;
      height: 32px;
      pointer-events: none;
    }

    .close-label,
    .scenario-name-container {
      position: absolute;
      transition: opacity 0.3s ease-in-out;
      left: 32px;
    }

    .close-label {
      text-transform: capitalize;
      opacity: 0;
    }

    .scenario-name-container {
      display: flex;
      align-items: center;
      opacity: 1;
      color: var(--grey50);

      .chevron-btn {
        padding: 4px;
        color: var(--black25);
      }

      &:hover {
        cursor: pointer;
        .scenario-name-label {
          // validate the following color used when hovering over the scenario name
          color: var(--black100);
        }

        .chevron-btn {
          color: var(--black100);
        }
      }
    }

    .chevron-btn {
      padding: 4px;
      color: var(--black25);
    }
  }

  .board-bar {
    .board-btn {
      padding: 1px 8px 3px 8px;
      margin-right: 8px;
      color: var(--grey80);
      font-size: 0.75rem;
      line-height: 16px;
      border-radius: 4px;
      background-color: var(--ambientB5);
    }
  }

  .user-info {
    margin-right: 8px;
    .user-name {
      color: var(--grey30);
      font-size: 0.875rem;
      font-weight: 400;
      letter-spacing: 0px;
      text-align: right;
      line-height: 20px;
      margin-right: 8px;
    }

    .help-icon {
      padding: 8px;
      color: var(--grey30);
    }
  }
}
