.scenario {
  --navbar-height: 4.0625rem;
  --content-height: calc(100vh - var(--navbar-height));
  position: relative;
  background-color: var(--ambiantB10);
  font-family: 'IBM Plex Sans';
  .scenario-container {
    margin: 0;
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .micro-macro-buttons {
    button {
      color: var(--grey60);
      width: 3.625rem;
      &:hover {
        color: var(--grey80);
      }
      &:active {
        color: var(--grey30);
      }
    }

    display: inline-flex;
    align-self: flex-start;
    height: 2rem;
    font-size: 0.875rem;
    letter-spacing: 0.1019rem;
    line-height: 1.125rem;
    margin-block: 1.813rem 2.063rem;
    background-color: var(--ambiantB10);
    border-radius: 0.375rem;
    padding: 0.25rem 1rem;
    box-shadow:
      0 0.125rem 0.125rem -0.0625rem rgba(255, 171, 88, 0.27),
      0 0.0625rem 0.125rem rgba(0, 0, 0, 0.16);

    .micro-macro-separator {
      width: 0.0625rem;
      margin-inline: 0.625rem;
      background-color: var(--grey20);
    }
  }

  .micro-macro-buttons:hover {
    background-color: var(--white100);
  }

  .active {
    color: var(--grey90);
    font-weight: 600;
  }

  .scenario-timetable-collapsed {
    position: sticky;
    display: flex;
    align-items: center;
    top: 0;
    padding-bottom: 0.5rem;
    z-index: 1;
    background-color: var(--coolgray1);
    .timetable-collapse-button {
      display: flex;
      align-items: center;
      position: relative;
      top: 0;
      left: 0;
      background-color: var(--secondary);
      color: var(--white100);
      border: unset;
      border-radius: 0.25rem;
      padding: 0.5rem;
      z-index: 2;
    }
  }

  .scenario-timetable-managetrainschedule {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 3;
    background-color: #d7d7d7aa;
    border-radius: 0.25rem;
    animation: fadein 1s;
    backdrop-filter: blur(0.25rem);

    .scenario-timetable-managetrainschedule-header {
      display: flex;
      flex-direction: column;
      padding: 0.5rem 0.5rem 0;
    }

    .scenario-timetable-managetrainschedule-body {
      padding: 0.5rem;
      height: 100%;
    }
  }
  .scenario-sidemenu.col-hdp-3.col-xl-4.col-lg-5.col-md-6 {
    padding: 0 !important;
  }

  .scenario-sidemenu {
    display: flex;
    flex-direction: column;
    height: var(--content-height);
    background-color: var(--black5);
    min-width: 24.5rem;
    max-width: 29.5rem;
    padding: 0.875rem 1.5rem 0 1.5rem;
    box-shadow: inset -0.0625rem 0 var(--black5);

    .scenario-sidemenu :first-child:hover {
      .update-scenario {
        display: flex;
      }
    }

    .scenario-details-name {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 600;
      font-size: 1.5rem;
      color: var(--black100);
      font-size: 1.125rem;
      text-align: left;
      line-height: 1.5rem;
    }

    .scenario-description {
      position: relative;

      .scenario-details-description {
        position: relative;
        color: var(--grey50);
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.25rem;
        margin: 0.25rem 1rem 0 0;
        word-break: break-all;
      }

      .not-opened {
        overflow: hidden;
        max-height: 3.75rem;
        max-width: 100%;
        span {
          padding-inline: 0.2188rem;
          position: absolute;
          bottom: 0;
          right: 0;
          background: rgba(222, 221, 214, 1);
          color: var(--grey80);
        }
      }

      .opened {
        position: absolute;
        top: 0;
        left: -0.5rem;
        background-color: var(--white100);
        color: var(--grey80);
        padding: 3.375rem 3.5rem 3.125rem 3.5rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5rem;
        z-index: 3;
        border-radius: 0.375rem;
        box-shadow:
          0rem 0.375rem 1.3125rem -0.3125rem rgba(255, 171, 88, 0.31),
          0rem 1rem 1.875rem -0.3125rem rgba(0, 0, 0, 0.19),
          0rem 0.1875rem 0.3125rem -0.125rem rgba(0, 0, 0, 0.16);
        width: calc(100% + 7.5rem);
        .displayed-description {
          position: absolute;
          top: 1rem - 0.3125rem;
          right: 1rem;
        }
      }

      .scenario-collapse-button {
        position: absolute;
        padding-bottom: 0.188rem;
        padding-inline: 0.4375rem 0.125rem;
        height: 2.125rem;
        width: 1.5rem;
        color: var(--grey40);
        background-color: var(--ambiantB10);
        border-radius: 0.313rem 0 0 0.313rem;
        top: 0;
        transform: translateX(1.5rem);
        box-shadow: 0 0 0 0.0625rem var(--black10);
        clip-path: inset(-0.0625rem 0 -0.0625rem -0.0625rem);
      }

      .update-scenario {
        // button has to be positioned regarding the description
        position: absolute;
        display: none;
        right: 1rem;
        bottom: -3rem;
        padding: 0.188rem 0.5rem;
        transition: 0.2s;
        height: 2rem;
        width: 2rem;
        border-radius: 0.25rem;
        box-shadow: 0 0 0 0.094rem rgba(255, 255, 255, 1) inset;
        background-color: var(--ambiantB10);
        color: var(--primary60);
        &:hover {
          background-color: var(--white100);
          color: var(--primary80);
        }
      }
    }
    .scenario-details-electrical-profile-set {
      font-size: 0.75rem;
      font-weight: 400;
      line-height: 1rem;
      margin-top: 0.375rem;
      color: var(--black100);
    }
    .scenario-details-infra-name {
      font-size: 0.75rem;
      font-weight: 400;
      line-height: 1rem;
      color: var(--black100);
      margin-top: 0.25rem;
      display: flex;
      align-items: center;
      img {
        height: 1rem;
      }
    }

    .infra-loaded {
      width: 0.5rem;
      height: 0.5rem;
      background-color: var(--success30);
      border-radius: 50%;
      margin-block: 0.3125rem 0.1875rem;
    }

    .scenario-details-infra-error {
      color: var(--error60);
      background-color: var(--error5);
      margin: 1.3125rem -1.4375rem 0 -1.5rem;
      padding: 0.5625rem 3.5rem 0.6875rem 1.5rem;
      display: flex;

      .error-description {
        margin-left: 1rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.25rem;
      }
    }

    .scenario-timetable {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      min-height: 0;
      .scenario-timetable-addtrains-buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 2.375rem;
        margin-bottom: 1.25rem;
        padding: 0.875rem 0.5rem 0 0.5rem;
        border-top: 0.25rem rgba(0, 0, 0, 0.05) solid;
        color: var(--primary60);
        font-weight: 600;
        button:hover {
          color: var(--primary80);
          text-decoration: underline;
        }
        button:active {
          color: var(--primary50);
        }
      }
      .filter-selector {
        background-color: transparent;
        border: none;
        color: var(--secondary);
        transition: 0.2s;
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;
        &.on {
          color: var(--white100);
          background-color: var(--secondary);
        }
        &:hover {
          background-color: var(--secondary);
          color: var(--white100);
          .scenario-details-modify-button-text {
            opacity: 1;
          }
        }
      }
      .multiselect-delete {
        border: none;
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;
        border-color: transparent;
        background-color: rgba(var(--red-rgb), 0.75);
        color: var(--white100);
        height: 2rem;
        &.disabled {
          background-color: rgba(var(--secondary-rgb), 0.5);
        }
      }

      .multiselect-download {
        @extend .multiselect-delete;
        background-color: var(--primary);
      }

      .scenario-timetable-trains {
        font-family: 'IBM Plex Sans';
        background: var(--ambiantB15);
        overflow: auto;
        min-height: 0;
        margin-bottom: 1.5rem;
        border-radius: 0.625rem;
        box-shadow:
          0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.22),
          0 0.25rem 0.438rem -0.188rem rgba(255, 171, 88, 0.17),
          inset 0 0.063rem 0 0 #ffffff;

        .checkbox-title {
          display: flex;
          margin-left: 0.5rem;
          position: relative;
          line-height: 1.5rem;

          &::after {
            content: '';
            position: absolute;
            top: 0;
            right: -1.5rem;
            width: 1.5rem;
            height: 1.375rem;
            background: linear-gradient(270deg, rgba(247, 246, 238, 0), rgba(247, 246, 238, 1));
            z-index: 1;
          }
        }

        .no-train {
          color: var(--grey80);
        }

        .checkbox-label {
          margin: 0 0.5rem;
          font-size: 1rem;
          font-weight: 600;
          max-width: 10rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: flex;
          align-items: center;
          .train-projected {
            height: 1.25rem;
            width: 1.25rem;
            margin-right: 0.375rem;
            background-color: var(--info30);
            border-radius: 0.25rem;
            position: relative;
            svg {
              position: absolute;
              top: 0;
              left: 0;
              transform: translate(0.125rem, 0.125rem);
            }
          }
        }

        .scenario-timetable-toolbar {
          padding: 0 1rem 0 0.625rem;
          position: sticky;
          top: 0;
          z-index: 2;
          background-color: var(--ambiantB15);

          .toolbar-header {
            display: flex;
            gap: 0.5rem;
            padding-block: 0.6875rem 1.0625rem;
            align-items: center;

            &.with-details {
              padding-bottom: 0.75rem;
            }

            .label {
              margin-left: 0.25rem;
              color: var(--grey80);
            }

            .train-count {
              display: flex;
              align-items: center;
              flex-grow: 1;
            }
            .more-details-button {
              color: var(--primary60);
            }
          }
          .action-buttons {
            display: flex;
            justify-content: space-between;
            padding: 0 0.6563rem 1.5rem 1.094rem;
          }
        }

        .scenario-timetable-departure-date {
          height: 2rem;
          display: flex;
          justify-content: center; 
          align-items: center;
          background-color: rgba(0, 0, 0, 0.05);
          border-top: .0625rem solid rgba(255, 255, 255, 0.75);
          border-bottom: .0625rem solid rgba(0, 0, 0, 0.25);
          color: #797671;
          font-size: 14px;
          font-weight: 400;
      }

        .invalid-trains {
          display: flex;
          background: var(--warning5);
          box-shadow: inset 0 0.0625rem var(--white100);
          height: 3rem;
          font-size: 1rem;
          font-weight: 600;
          line-height: 1.5rem;
          color: var(--warning60);
          border-top: solid 0.0625rem var(--warning30);
          border-bottom: solid 0.0625rem var(--warning30);
          svg {
            margin: 1rem;
            color: var(--warning30);
          }
          .invalid-trains-message {
            height: 1.5rem;
            margin-top: 0.6875rem;
          }
        }

        .filter {
          background-color: var(--ambiantB5);
          height: 1.938rem;
          border-top: solid 0.063rem rgba(0, 0, 0, 0.1);
          border-bottom: solid 0.063rem rgba(0, 0, 0, 0.25);
          display: flex;
          justify-content: center;

          .filter-button {
            width: 100%;
          }

          &:hover {
            background-color: var(--white100);
            color: var(--black100);
            cursor: pointer;

            .scenario-details-modify-button-text {
              opacity: 1;
            }
          }
        }

        .scenario-timetable-train {
          width: 100%;
          display: flex;
          position: relative;
          background-color: var(--ambiantB10);
          box-shadow: inset 0 -0.063rem 0 0 rgba(0, 0, 0, 0.25);

          .clickable-button {
            padding: 0.75rem 0;
          }

          &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0.063rem;
            width: 100%;
            height: 0.063rem;
            background-color: white;
          }

          .base-info {
            width: 100%;
            display: flex;
            flex-wrap: nowrap;

            .title-img {
              display: flex;
              flex-grow: 1;
              overflow: hidden;
              justify-content: space-between;

              .rolling-stock {
                display: flex;
                align-items: center;
                overflow: hidden;

                .status-invalid {
                  width: 0.25rem;
                  height: 1rem;
                  background-color: var(--error60);
                  border-radius: 0.313rem;
                  margin: 0 0.438rem 0 0.313rem;
                }

                /* Trick to hide the image if too narrow */
                .rolling-stock-img {
                  overflow: hidden;
                  height: 1.375rem;

                  &::before {
                    content: '';
                    display: inline-block;
                    height: 0.7rem;
                  }
                  img {
                    min-width: 2.5rem;
                    height: 0.7rem;
                    object-fit: cover;
                    object-position: left;
                    transform: scaleX(-1);
                  }
                }
              }
            }
            .train-time {
              display: flex;
              flex-basis: 10rem;
              flex-grow: 0;
              flex-shrink: 0;
              align-items: center;
              justify-content: right;

              .status-icon {
                width: 1.5rem;
                height: 1.5rem;
                color: var(--info60);
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 0.25rem;
                span {
                  padding-bottom: 0.25rem;
                }
                &.not-honored-or-too-fast {
                  color: var(--warning60);
                }
              }

              .scenario-timetable-train-departure {
                font-weight: 400;
                font-size: 1rem;
              }

              .scenario-timetable-train-arrival {
                font-weight: 400;
                font-size: 1rem;
              }

              .status-dot {
                width: 0.25rem;
                height: 1rem;
                background-color: transparent;
                border-radius: 0.313rem;
                margin: 0 0.438rem 0 0.313rem;

                &.not-honored-or-too-fast {
                  background-color: var(--warning30);
                }
              }
            }
          }

          .more-info {
            width: 100%;
            display: flex;
            align-items: center;
            font-size: 0.8rem;
            height: 1.75rem;
            flex-wrap: wrap;
            justify-content: space-between;
            .more-info-left {
              padding-left: 2.5rem;
              .more-info-item {
                display: inline-block;
                margin-right: 1rem;
              }
            }
            .duration-time {
              text-align: end;
              margin-right: 3.4375rem;
            }
          }

          .action-buttons {
            display: none;
            position: absolute;
            right: 11rem;
            top: 0.25rem;
            height: 2.5rem;
            justify-content: center;
            align-items: center;
            padding-left: 0.5rem;
            backdrop-filter: blur(0.125rem);

            button {
              padding: 0.188rem 0.5rem;
              transition: 0.2s;
              height: 2rem;
              width: 2rem;
              border-radius: 0.25rem;
              box-shadow: 0 0 0 0.094rem rgba(255, 255, 255, 1) inset;
              background-color: var(--ambiantB10);
              color: var(--primary60);
              margin-right: 0.5rem;
              &:hover {
                background-color: var(--white100);
                color: var(--primary80);
              }
            }
            &:first-child {
              margin-left: 0;
            }
          }

          &:not(.selected) {
            background-color: var(--ambiantB10);
            box-shadow: inset 0 -0.063rem 0 0 rgba(0, 0, 0, 0.25);
          }

          &.selected:not(.invalid) {
            background-color: var(--selection20);
            box-shadow: inset 0 -0.063rem 0 0 rgba(0, 0, 0, 0.25);
            .checkbox-title::after {
              background: linear-gradient(
                270deg,
                rgba(255, 242, 179, 0),
                rgba(255, 242, 179, 1)
              ) !important;
            }
          }

          &.invalid {
            background-image: url('data:image/svg+xml,%3Csvg version="1.1" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"%3E%3Ctitle%3EAssets/TrainList/InvalidTrain%3C/title%3E%3Cg fill-rule="evenodd"%3E%3Crect width="48" height="48" fill="%23FFEEED"/%3E%3Cpath d="m48 26v22h-22l22-22zm0-26-48 48v-22l26-26h22z" fill="%23FF6868" opacity=".1"/%3E%3C/g%3E%3C/svg%3E');
            background-repeat: repeat;
            box-shadow: inset 0 -0.063rem 0 0 rgba(0, 0, 0, 0.25);
            .checkbox-title {
              min-width: 0;
            }
            .checkbox-title::after {
              display: none;
            }
            .rolling-stock {
              min-width: max-content;
              white-space: nowrap;
              font-weight: 600;
              color: var(--error80);
            }
          }

          &.modified {
            z-index: 3;
          }

          &:hover:not(.modified) {
            .rolling-stock {
              opacity: 0.3;
            }
            .action-buttons {
              display: flex;
              z-index: 1;
            }
          }
        }

        &:not(.with-details) {
          .scenario-timetable-train {
            .more-info,
            .scenario-timetable-train-tags {
              display: none;
            }
          }
        }

        .sticky-filter {
          position: sticky;
          top: 3.275rem;
          z-index: 2;

          &.selection-mode-open {
            top: 5.9375rem;
          }
        }

        .filter-panel {
          padding: 0.4375rem 1.25rem 1.4375rem 0.4375rem;
          background-color: var(--ambiantB5);
          border-top: solid 0.063rem var(--white100);
          border-bottom: solid 0.063rem rgba(0, 0, 0, 0.25);
          display: flex;
          flex-direction: column;
          position: relative;

          .grid-template {
            display: grid;
            grid-template-columns: 1fr 1fr;
          }

          .close-filter {
            position: absolute;
            right: 0.75rem;
            top: 0.5rem;
            z-index: 1;
          }

          .validity-filter {
            display: flex;
            margin-bottom: 1rem;
            font-size: 0.8rem;

            .options-btn {
              padding: 0.375rem 0.625rem;
            }
          }

          .compositions-code {
            align-self: start;
            padding: 0.625rem 0 0rem 1rem;
            label {
              height: 1.5rem;
              line-height: 1.5rem;
              letter-spacing: 0;
              text-align: left;
              vertical-align: top;
              font-weight: 600;
            }
            .composition-tag-filter {
              display: flex;
              flex-wrap: wrap;
              gap: 0.75rem;

              button {
                border-radius: 0.25rem;
                border: 0.063rem solid rgba(182, 178, 175, 1);
                background-color: rgba(250, 249, 245, 1);
                font-size: 0.875rem;
                font-weight: 400;
                text-align: left;
                line-height: 1.25rem;
                padding: 0.125rem 0.5rem;
              }

              button:hover {
                background-color: var(--white100);
                color: var(--black100);
                border: 0.063rem solid var(--black100);
              }

              .selectedTag {
                background-color: var(--grey60);
                color: var(--white100);
                border: 0.063rem solid var(--black100);
              }
            }
          }
        }
        .bottom-timetables-trains {
          background-color: var(--ambiantB15);
          padding-bottom: 1rem;
          box-shadow: inset 0 0.0625rem rgba(0, 0, 0, 0.25);
          position: sticky;
          bottom: 0;
          z-index: 1;
        }
        .empty-list {
          height: 7rem;
        }
      }
    }
  }

  .scenario-managetrainschedule {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    background-color: var(--coolgray1);
    z-index: 3;
    height: 100%;
    width: 100%;
    padding-left: 0.5rem;
    animation: fadein 1s;
    overflow: auto;

    .invalid-feedback {
      font-size: 0.7rem;
    }
  }

  .scenario-results {
    padding-top: 0.5rem;
    position: relative;
    overflow: auto;
    width: 100%;
    height: var(--content-height);
  }

  .macro-container {
    height: calc(var(--content-height) - 5.5rem);
  }
}
