.scenario-content-v2 {
  display: flex;
  height: calc(100vh - 32px);
  // TODO: remove !important after a refacto of mastnav-container
  padding: 16px 12px 12px 12px !important;
  .right-column,
  .left-column {
    width: 488px;
    min-width: 488px;
  }
  @media screen and (max-width: 2400px) {
    .right-column,
    .left-column {
      width: 424px;
      min-width: 424px;
    }
  }
  @media screen and (max-width: 1920px) {
    .right-column,
    .left-column {
      width: 392px;
      min-width: 392px;
    }
  }
  @media screen and (max-width: 1249px) {
    .right-column,
    .left-column {
      width: 360px;
      min-width: 360px;
    }
  }
  .left-column {
    padding-right: 8px;

    .board-wrapper {
      height: 100%;
    }
  }
  .center-column {
    position: relative;
    width: 100%;
    overflow: auto;
    padding-inline: 8px;
  }
  .right-column {
    padding-left: 8px;

    .board-wrapper {
      height: 100%;
    }
  }
}
