.simulation-results {
  position: relative;
  padding-bottom: 3rem;

  .osrd-simulation-sticky-bar {
    position: sticky;
    border-radius: 4px;
    width: 100%;
    background: var(--secondary);
    z-index: 2;
    top: 0;
    left: 0;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    overflow: hidden;
    input {
      padding: 0.125rem 0.5rem;
    }
    .train-detail {
      min-width: 4.5rem;
      max-height: 2rem;
      padding: 0.1rem;
      line-height: 0.8rem;
    }
    .rounded,
    .form-control,
    .btn {
      border-radius: 4px !important;
    }
    .rounded,
    .form-control,
    .btn {
      border-radius: 4px !important;
    }
    &.with-collapsed-timetable {
      top: 3rem;
    }
  }

  .osrd-simulation-container {
    position: relative;
    padding: 1rem;
    border-radius: 4px;

    &.speedspacechart-container {
      margin-bottom: 41px;
    }
  }

  .simulation-map {
    position: relative;
    height: 720px;
    margin: 0 30px 56px 38px;
    border-radius: 10px;
    box-shadow:
      0 1px 0 rgba(255, 255, 255, 1) inset,
      0 4px 7px -3px rgba(255, 171, 88, 0.17),
      0 2px 4px rgba(0, 0, 0, 0.22);
  }

  /* MAP */
  .train-speed-label {
    text-shadow: 0 0 3px #fff;
    padding-bottom: 1.5rem;
  }
}
