.study-view {
  .study-details {
    width: 100%;
    margin-bottom: 1rem;
    min-height: 15rem;
    .study-details-dates {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 0.25rem;
      margin-bottom: 0.5rem;
      .study-details-dates-date {
        text-align: center;
        flex-grow: 1;
        padding: 0 0.5rem;
        margin-bottom: 0.25rem;
        text-transform: uppercase;
        font-weight: 500;
        color: var(--secondary);
        border-bottom: 2px solid var(--coolgray9);
        .study-details-dates-date-label {
          align-items: center;
          font-size: 0.7rem;
          font-weight: normal;
          text-align: right;
          margin-right: 0.5rem;
        }
        .study-details-dates-date-value {
          align-items: center;
          font-size: 0.8rem;
          text-align: left;
        }
        &.creation {
          border-color: var(--coolgray3);
        }
        &.start {
          border-color: var(--green);
        }
        &.estimatedend {
          border-color: var(--yellow);
        }
        &.realend {
          border-color: var(--orange);
        }
      }
      height: calc(100% - 1rem);
    }
    .study-details-name {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 2rem;
      font-weight: 500;
      color: var(--primary);
      overflow: auto;
      .study-details-modify-button {
        background-color: transparent;
        border: none;
        color: var(--primary);
        transition: 0.2s;
        padding: 0.25rem 1rem;
        font-size: 1.5rem;
        border-radius: 4px;
        .study-details-modify-button-text {
          transition: opacity 0.2s;
          opacity: 0;
          font-size: 1.25rem;
          margin-right: 1rem;
        }
        &:hover {
          background-color: var(--primary);
          color: var(--white);
          .study-details-modify-button-text {
            opacity: 1;
          }
        }
      }
    }
    .study-details-type {
      color: var(--secondary);
      font-size: 1.25rem;
      font-weight: 500;
    }
    .study-details-description {
      margin-bottom: 0.5rem;
      white-space: break-spaces;
      overflow: auto;
    }
    .study-details-state {
      padding: 5rem 0 1rem;
      overflow: auto;
      white-space: nowrap;
      .study-details-state-step {
        display: inline-block;
        position: relative;
        cursor: pointer;
        &:not(:first-child) {
          margin-left: 3rem;
          &::before {
            position: absolute;
            top: 0.6rem;
            right: 1.5rem;
            display: inline-block;
            content: ' ';
            width: 3rem;
            height: 0.3rem;
            background-color: var(--coolgray3);
          }
        }
        .study-details-state-step-number {
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bold;
          background-color: var(--coolgray3);
          color: var(--secondary);
          border-radius: 1rem;
          width: 1.5rem;
          height: 1.5rem;
          transition: 0.2s;
        }
        .study-details-state-step-label {
          position: absolute;
          white-space: normal;
          text-align: left;
          width: 8rem;
          top: -1.25rem;
          left: 0.5rem;
          font-size: 0.8rem;
          transform: rotate(-30deg);
          transform-origin: left;
          padding-left: 1.5em;
          text-indent: -1.5em;
          color: var(--coolgray7);
          transition: 0.2s;
        }
        &.done {
          .study-details-state-step-number {
            background-color: var(--coolgray11);
            color: var(--coolgray1);
          }
          &:not(:first-child)::before {
            background-color: var(--coolgray11);
          }
          .study-details-state-step-label {
            font-weight: 500;
            color: var(--secondary);
          }
        }
        &:hover {
          .study-details-state-step-number {
            background-color: var(--primary);
            color: var(--white);
          }
          .study-details-state-step-label {
            color: var(--primary);
          }
        }
      }
    }
    .study-details-financials {
      display: flex;
      align-items: center;
      background-color: var(--primary);
      padding: 0.5rem;
      border-radius: 4px;
      .study-details-financials-infos {
        display: flex;
        gap: 1rem;
        overflow: auto;
        margin-right: 0.5rem;
        .study-details-financials-infos-item {
          text-transform: uppercase;
          font-weight: 500;
          font-size: 0.9rem;
          color: var(--white);
          h3 {
            font-size: 0.7rem;
            color: var(--white);
            margin: 0;
            text-transform: uppercase;
          }
        }
      }
      .study-details-financials-amount {
        display: flex;
        align-items: center;
        margin-left: auto;
        font-size: 1.25rem;
        font-weight: bold;
        line-height: 1rem;
        background-color: var(--white);
        color: var(--primary);
        border-radius: 4px;
        padding: 0.5rem;
        .study-details-financials-amount-text {
          font-size: 0.7rem;
          font-weight: 500;
          text-transform: uppercase;
          margin-right: 0.5rem;
          padding: 0.25rem 0 0;
        }
      }
    }
    .study-details-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .study-details-tags {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.25rem;
        padding: 0.25rem 0;
        overflow: auto;
        .study-details-tags-tag {
          font-size: 0.9rem;
          color: var(--white);
          background-color: var(--primary);
          border-radius: 4px;
          padding: 0 0.25rem;
        }
      }
    }
  }

  .filter-selector {
    background-color: transparent;
    border: none;
    color: var(--secondary);
    transition: 0.2s;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    &.on {
      color: white;
      background-color: var(--secondary);
    }
    &:hover {
      background-color: var(--secondary);
      color: var(--white);
      .scenario-details-modify-button-text {
        opacity: 1;
      }
    }
  }

  .multiselect-delete {
    border: none;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    border-color: transparent;
    background-color: rgba(var(--red-rgb), 0.75);
    color: var(--white);
    &.disabled {
      background-color: rgba(var(--secondary-rgb), 0.5);
    }
  }

  .scenarios-toolbar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem 0.5rem 1rem 0.5rem;
    margin-top: 2rem;
  }

  .scenarios-list {
    overflow: auto;
    max-height: 50vh;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    padding-top: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
