.tool-description {
  position: absolute;
  bottom: 3rem;
  left: 1rem;

  .card {
    max-width: 35rem;

    &:hover {
      cursor: default;
      opacity: unset;
    }
  }

  .close {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
  }
}
