.banner {
  width: 100%;
  min-height: 56px;
  display: flex;
  align-items: center;
  padding: 0 24px 0 40px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin-top: -1px;
  margin-bottom: 16px;
  border-color: var(--black10);

  &.warning {
    background-color: var(--warning5);
  }

  &.error {
    background-color: var(--error5);
  }

  &.info {
    background-color: var(--info5);
  }

  .banner-icon {
    margin-right: 12px;
    width: 24px;
    height: 24px;

    &.warning {
      color: var(--warning30);
    }

    &.error {
      color: var(--error60);
    }

    &.info {
      color: var(--info30);
    }
  }

  .banner-text {
    font-family: 'IBM Plex Sans';
    font-size: 16px;
    font-weight: 400;

    &.warning {
      color: var(--warning60);
    }

    &.error {
      color: var(--error60);
    }

    &.info {
      color: var(--info60);
    }
  }

  .banner-close-button {
    margin-left: auto;

    &.warning {
      color: var(--warning60);
    }
  }
}
