.infra-loading-state {
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.0625rem;

  &.cached {
    color: var(--success30);
  }
  &.loading {
    color: var(--info60);
  }

  .infra-loader:first-child {
    animation: dot-flashing 0.5s infinite linear alternate;
    animation-delay: 0s;
  }

  .infra-loader:nth-child(2) {
    animation: dot-flashing 0.5s infinite linear alternate;
    animation-delay: 0.25s;
  }
  .infra-loader:nth-child(3) {
    animation: dot-flashing 0.5s infinite linear alternate;
    animation-delay: 0.5s;
  }

  @keyframes dot-flashing {
    0% {
      color: var(--info60);
    }
    50%,
    100% {
      color: var(--info30);
    }
  }

  .steps {
    font-weight: 500;
    margin-left: 0.25rem;
    margin-top: 0.1rem;
  }
}
