.infra-loading-state {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  margin-right: 0.5rem;

  &.cached {
    color: var(--green);
  }
  &.loading {
    color: var(--orange);
  }

  .infra-loader:first-child {
    animation: dot-flashing 0.5s infinite linear alternate;
    animation-delay: 0s;
  }

  .infra-loader:nth-child(2) {
    animation: dot-flashing 0.5s infinite linear alternate;
    animation-delay: 0.25s;
  }
  .infra-loader:nth-child(3) {
    animation: dot-flashing 0.5s infinite linear alternate;
    animation-delay: 0.5s;
  }

  @keyframes dot-flashing {
    0% {
      color: var(--orange);
    }
    50%,
    100% {
      color: #f8e3d8;
    }
  }

  .steps {
    font-weight: 500;
    margin-left: 0.5rem;
    margin-top: 0.1rem;
  }
}
