.intervals-editor-form {
  display: flex;
  width: 100%;

  .intervals-editor-select-form {
    width: 20em;
    padding-right: 1em;
  }

  .intervals-editor-form-column {
    width: 20em;
    padding-right: 1em;
  }
}
