.flexValuesEdition {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  //justify-content: space-evenly;
  > div {
    padding-left: 1.2em;
    display:flex;
    flex-direction: row;
  }
  div.flexValuesEditionSelect {
    max-width: 8em
  }
}