.manchette-space-time-chart-wrapper {
  border-radius: 0.625rem;
  box-shadow:
    0 0.25rem 0.5625rem rgba(0, 0, 0, 0.06),
    0 0.0625rem 0.125rem rgba(0, 0, 0, 0.19);
  background-color: var(--white100);

  .header {
    position: relative;
    height: 2.5rem;
    border-radius: 0.625rem 0.625rem 0 0;
    box-shadow: inset 0 0.0625rem 0 var(--white100);
    padding: 0.25rem;
    background-color: var(--ambiantB5);
    border-bottom: 0.0625rem solid var(--black25);

    .manchette-menu-button {
      border-radius: 0.5rem;
      width: 2.5rem;
      height: 2rem;
      margin-bottom: -0.5rem;

      &:hover {
        background-color: var(--black10);
      }

      &.menu-open {
        background-color: var(--black5);
      }
    }
  }
  .header-separator {
    height: 0.0625rem;
    background-color: var(--white100);
  }

  .manchette {
    overflow-y: auto;
    overflow-x: hidden;

    // TODO : remove this two styles when https://github.com/OpenRailAssociation/osrd-ui/issues/654 is fixed
    .op {
      height: 2rem;
      line-height: 1.5rem;
      padding-block: 0.1875rem 0.3125rem;

      &::after {
        bottom: 0.9844rem;
      }
    }
  }

  .space-time-chart-container {
    width: 100%;
    position: sticky;
  }
}
