.osrd-menu {
  width: fit-content;
  background-color: var(--grey5);
  border: 1px solid var(--grey30);
  color: var(--grey80);
  border-radius: 8px;
  box-shadow:
    0 6px 21px -5px rgba(101, 169, 232, 0.341810533216783),
    0 16px 30px -5px rgba(0, 0, 0, 0.2),
    0 3px 5px -2px rgba(0, 0, 0, 0.1),
    inset 0 0 0 1px var(--white100);

  button:disabled {
    opacity: 0.5;
  }

  .menu-item {
    width: 100%;
    height: 44px;
    font-size: 0.875rem;
    padding-right: 12px;
    display: flex;
    align-items: center;

    &:not(:first-child) {
      border-top: 1px solid var(--white100);
    }

    &:not(:only-of-type, :last-child) {
      border-bottom: 1px solid var(--grey20);
    }

    .icon {
      color: var(--primary40);
      padding-inline: 10px 8px;
      margin-bottom: 2px;
    }
  }
}
