.pathfinding-details {
  position: relative;
  .vias-list {
    max-height: calc(50vh);
    overflow: auto;
  }
  .place {
    position: relative;
    i {
      z-index: 1;
    }
    .hover {
      transition: 0.2s;
      border-radius: 4px;
      &:hover {
        background-color: var(--coolgray1);
      }
      cursor: pointer;
    }
    .btn,
    .btn:hover {
      border: none;
      background-color: transparent;
    }
    &.via {
      display: flex;
      align-items: center;
      margin-bottom: 0rem;
      padding: 0 0 0 0.65rem;
      margin: 0 0.9rem 0 0.75rem;
      border-right: 1px solid #30338375;
      .ring {
        position: relative;
        display: block;
        height: 1rem;
        width: 1rem;
        border-radius: 50%;
        background-color: var(--white);
        border: 2px dotted var(--cyan);
      }

      .default-durations-button {
        display: flex;
        opacity: 0;
        align-items: center;
        button {
          display: flex;
          align-items: center;
          font-weight: 400;
          background: none;
          border: unset;
          font-size: 0.7rem;
          border-radius: 4px;
          &:hover,
          &:focus {
            background-color: var(--primary);
            color: var(--white);
          }
        }
      }
      .stoptime {
        padding: 0rem 0.5rem;
        font-size: 0.8rem;
        font-weight: 500;
        border-radius: 4px;
        background-color: var(--coolgray1);
        cursor: pointer;
        &:hover {
          background-color: var(--coolgray3);
        }
      }
      .form-control {
        width: 7rem;
      }
      &:hover,
      &:focus-within {
        background-color: var(--coolgray1);
        .default-durations-button {
          opacity: 1;
        }
      }
      &.is-a-stop {
        .ring {
          border: 3px solid var(--cyan);
        }
        .stoptime {
          background-color: var(--cyan);
          color: var(--white);
        }
      }
    }
  }
}
.via,
.place {
  &.invalid-path-item {
    color: var(--orange);
  }
}

.pathfinding-state-main-container {
  .content {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
    padding: 0.5rem;
    font-size: 0.9rem;
    font-weight: 500;
    background-color: var(--white);
    border-radius: 4px;
    border: 2px solid var(--white);
    color: var(--white);
    img {
      height: 1rem;
    }
    .lead {
      line-height: 1rem;
    }

    &.pathfinding-none {
      color: var(--coolgray9);
    }

    &.pathfinding-done {
      color: var(--success);
    }

    &.pathfinding-error {
      background-color: var(--danger);
      border-color: var(--danger);
    }

    &.missing-params {
      background-color: var(--warning);
      border-color: var(--warning);
      color: var(--secondary);
    }

    &.pathfinding-loading {
      background-color: var(--primary);
      border-color: var(--primary);
    }

    &.infra-loading {
      color: var(--info60);
      border-color: var(--info30);
    }
  }

  .pathfinding-in-progress {
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: var(--modal-gray-transparent-background);
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .pathfinding-in-progress-card {
      width: 80%;
      border-radius: 4px;
      padding: 1rem 1rem;
      background: var(--white);

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .pathfinding-in-progress-title-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .pathfinding-in-progress-title {
          margin: 0 1rem;
        }
      }
    }
  }
}
