.resizable-section {
  position: relative;

  .resizable-section-handle {
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
      content: '';
      width: 72px;
      height: 4px;
      border-radius: 2px;
      margin-bottom: 6px;
      background-color: var(--coolgray3);
    }
    &:hover::after {
      background-color: var(--coolgray9);
    }
  }
}
