/* Filters */
.rollingstock-search {
  display: block;
  position: relative;
  height: 100%;
}
.rollingstock-search-filters {
  display: block;
  position: relative;
  background-color: #fff;
  border-radius: 4px;
}

/* Results */
.rollingstock-search-list {
  display: block;
  position: relative;
  overflow: auto;
  height: 70vh;
  .loader {
    margin-top: 1rem;
    transform: none;
  }
  .rollingstock-empty {
    display: flex;
    position: relative;
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;
    width: 100%;
    span {
      z-index: 1;
      font-size: 4rem;
      color: #a0a0a0;
    }
    img {
      position: absolute;
      width: 7rem;
      filter: blur(2px);
      opacity: 0.2;
    }
  }
}

.osrd-config-item-container {
  .rollingstock-minicard {
    .rollingstock-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .rollingstock-info-begin {
        display: flex;
        align-items: center;
        flex-grow: 1;
        background-color: var(--coolgray1);
        border-radius: 4px;
        padding: 0.25rem 0.5rem;
        position: relative;
        min-height: 1.5rem;
        .rollingstock-info-series {
          position: relative;
          font-weight: bold;
        }
        .rollingstock-info-unit {
          position: relative;
          &.UM2 {
            color: #6e1e78;
          }
          &.UM3 {
            color: #a1006b;
          }
          font-weight: bold;
          margin-left: 0.25rem;
          font-size: 0.7rem;
        }
        .rollingstock-info-subseries {
          position: relative;
          margin-left: 0.25rem;
          text-transform: uppercase;
          vertical-align: text-bottom;
          font-size: 0.7rem;
        }
      }
    }
    .rollingstock-container-img {
      overflow: hidden;
      .rollingstock-img {
        height: 2rem;
        white-space: nowrap;
        transform: scale(
          0.4
        ); // Have to scale whole <img> because electric trains with pantograph have taller pictures
        transform-origin: left;
        img {
          display: inline-block;
          position: relative;
          vertical-align: baseline;
        }
      }
    }
    .rollingstock-minicard-end {
      display: flex;
      justify-content: space-between;
      margin-top: 0.5rem;
      gap: 0.5rem;
      .rollingstock-info-comfort {
        display: flex;
        align-items: center;
        background-color: var(--coolgray1);
        height: 1.5rem;
        margin-left: auto;
        padding: 0rem 0.5rem;
        border-radius: 4px;
      }
      .comfort-AC,
      .comfort-HEATING {
        display: flex;
      }
      .rollingstock-info-end {
        display: flex;
        align-items: center;
        height: 1.5rem;
        position: relative;
        border: 1px solid var(--coolgray3);
        color: var(--coolgray9);
        border-radius: 4px;
        padding: 0 0.5rem;
        font-size: 0.8rem;
      }
    }
  }
}

.rollingstock-container {
  display: block;
  position: relative;
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
  &.solid {
    opacity: 1 !important;
  }
  &.inactive:not(:hover) {
    transition: 0.5s;
    opacity: 0.5;
  }
  &:hover:not(.active) {
    .rollingstock-header,
    .rollingstock-body,
    .rollingstock-body-container-img,
    .rollingstock-footer {
      transition: 0.5s;
      border-color: #333;
    }
  }
  &.active {
    cursor: default;
    .rollingstock-header,
    .rollingstock-body,
    .rollingstock-footer {
      border-color: #303383;
    }
  }
}

.rollingstock-header {
  border-radius: 4px 4px 0 0;
  background-color: var(--coolgray3);
  padding: 0.15rem 0.5rem;
  overflow: hidden;
  border-top: 2px solid var(--coolgray3);
  border-left: 2px solid var(--coolgray3);
  border-right: 2px solid var(--coolgray3);
  cursor: pointer;
  .rollingstock-title {
    white-space: nowrap;
    height: 1.5rem;
    overflow: hidden;
    .rollingstock-info {
      display: flex;
      align-items: center;
      height: 1.5rem;
      justify-content: space-between;
      .rollingstock-info-begin {
        height: 1.5rem;
        display: flex;
        align-items: center;
        .rollingstock-info-series {
          height: 1.5rem;
          font-weight: bold;
        }
        .rollingstock-info-unit {
          &.UM2 {
            color: #6e1e78;
          }
          &.UM3 {
            color: #a1006b;
          }
          font-weight: bold;
          margin-left: 0.25rem;
          font-size: 0.7rem;
        }
        .rollingstock-info-subseries {
          margin-left: 0.25rem;
          text-transform: uppercase;
          font-size: 0.7rem;
        }
      }
      .rollingstock-info-middle {
        white-space: normal;
        overflow-wrap: break-word;
        overflow: hidden;
        max-width: 55%;
        text-transform: uppercase;
        color: #303383;
        font-size: 0.6rem;
        line-height: 0.6rem;
      }
      .rollingstock-info-end {
        display: flex;
        align-items: center;
        color: #4d4d4d;
        font-size: 0.8rem;
      }
    }
  }
}
.rollingstock-body-container-img {
  padding: 0 0.5rem;
  .rollingstock-body-img {
    overflow: hidden;
    img {
      height: 2rem;
      display: inline-block;
      padding-top: 0.75rem;
      position: relative;
      vertical-align: baseline;
    }
  }
}

.opened-rollingstock-body {
  border-left: 2px solid var(--blue);
  border-right: 2px solid var(--blue);
}

.closed-rollingstock-body {
  border-left: 2px solid var(--coolgray3);
  border-right: 2px solid var(--coolgray3);
}

.rollingstock-body {
  position: relative;
  padding: 0 0.5rem;
  border-left: 2px solid var(--coolgray3);
  border-right: 2px solid var(--coolgray3);
  font-size: 0.8rem;
  font-weight: lighter;
  .rollingstock-detail-container-img {
    position: absolute;
    z-index: 0;
    width: calc(100% - 5rem);
    overflow: hidden;
    bottom: 2.6rem;
    left: 3.5rem;
    opacity: 0.35;
    padding-top: 1rem; // Need padding...because
    padding-bottom: 1rem;
    .rollingstock-detail-img {
      display: flex;
      align-items: baseline;
      position: relative;
      white-space: nowrap;
      transform: scale(
        1.5
      ); // Have to scale whole <img> because electric trains with pantograph have taller pictures
      transform-origin: left;
      img {
        display: inline-block;
        position: relative;
        vertical-align: baseline;
      }
    }
  }
  .loader {
    margin: 0;
    padding: 2rem 0;
  }
  .curves-container {
    position: relative;
    z-index: 1;
    height: 17rem;
    .curves-chart-legend {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin-left: 2.75rem;
      .curves-chart-legend-comfort-button {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin: 0 0.25rem 2px 0;
        min-width: 1rem;
        border-bottom: 2px solid transparent;
        &.active {
          border-color: var(--coolgray9);
        }
        .comfort-AC,
        .comfort-HEATING {
          display: flex;
        }
        &:hover {
          margin-bottom: 0;
          border-bottom-width: 4px;
          border-color: var(--coolgray5);
        }
      }
      .curves-chart-legend-item {
        display: flex;
        align-items: center;
        white-space: nowrap;
        cursor: pointer;
        border-bottom: 2px solid var(--coolgray3);
        margin: 0 0 2px 0.5rem;
        .comfort-AC,
        .comfort-HEATING {
          display: flex;
        }
        &:hover {
          margin-bottom: 0;
          border-bottom-width: 4px;
        }
      }
    }
    .curves-chart-tooltip {
      border-radius: 4px;
      border: 2px solid var(--coolgray3);
      background-color: white;
      .curves-chart-tooltip-head {
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 0.8rem;
        justify-content: space-between;
        background-color: var(--coolgray3);
        border-bottom: 2px solid var(--coolgray3);
        padding-left: 0.25rem;
        .curves-chart-tooltip-comfort {
          display: flex;
          align-items: center;
          border-radius: 0 4px 0 0;
          background-color: #fff;
          padding: 0 0.3rem 0.1rem;
        }
      }
      .curves-chart-tooltip-body {
        display: flex;
        align-items: center;
        padding: 0 0.25rem;
      }
    }
  }
}

.rollingstock-footer {
  border-radius: 0 0 4px 4px;
  border-left: 2px solid var(--coolgray3);
  border-right: 2px solid var(--coolgray3);
  border-bottom: 2px solid var(--coolgray3);
  .rollingstock-footer-specs {
    padding: 0.5rem 0.5rem 0.25rem;
    svg {
      vertical-align: text-top;
      font-size: 0.9rem;
      margin-right: 3px;
    }
    small {
      font-size: 80%;
    }
    font-size: 0.8rem;
  }
  .rollingstock-footer-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 2.75rem;
    padding: 0 0.5rem;
    border-radius: 0 0 4px 4px;
    color: var(--light);
    background-color: var(--coolgray3);
    .rollingstock-footer-button-with-picto {
      display: flex;
      align-items: center;
      span {
        display: flex;
        padding: 0 0.25rem 0.1rem 0;
      }
    }
  }
}

.comfort-AC {
  color: #0088ce;
}
.comfort-HEATING {
  color: var(--yellow);
}
.comfort-STANDARD {
  font-weight: bold;
}
