.tabs-container {
  display: flex;
  flex-direction: column;
  &.full-width {
    width: 100%;
    .tabs.pills {
      overflow: auto;
      justify-content: space-between;
      min-height: 2.35rem;
      .tab {
        flex-grow: 1;
      }
    }
  }
  &.full-height {
    height: 100%;
    .tab-content {
      height: 100%;
      .tab-pane {
        height: 100%;
      }
    }
  }
  .tabs {
    display: flex;
    margin-bottom: 0.5rem;
    gap: 1rem;
    .tab {
      padding-bottom: 0.5rem;
      position: relative;
      border-bottom: 3px solid transparent;
      transition: text-shadow 0.3s;
      &::after {
        transition: all ease 0.3s;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.3125rem;
        content: '';
        background-color: transparent;
        border-radius: 3px;
      }

      &:hover {
        cursor: pointer;
        color: var(--primary);
      }

      &.active {
        text-shadow: 0 0 0.65px var(--primary);
        color: var(--primary);

        &::after {
          background-color: var(--primary);
        }
      }
    }
    &.pills {
      .tab {
        display: flex;
        align-items: center;
        font-weight: 500;
        transition: all ease 0.3s;
        padding: 0.5rem 1rem 0.5rem;
        border: 2px solid transparent;
        border-radius: var(--border-radius);
        background-color: var(--white);
        color: var(--primary);
        &::after {
          content: none;
        }
        &:hover,
        &.active {
          background-color: var(--primary);
          color: var(--white);
        }
        &.warning {
          border-color: var(--danger);
        }
      }
    }
  }
  .tab-content > .tab-pane {
    display: none;
  }
  .tab-content > .active {
    display: block;
  }
}
