.type-and-path {
  position: relative;
  background-color: var(--white);
  padding: 8px;
  border-radius: var(--border-radius);
  &.quick-entry-visual {
    padding: 44px 40px 42px;
    background-color: var(--ambientB10);
  }
  .help {
    position: relative;
    display: flex;
    align-items: center;
    height: 80px;
    max-width: 21vw;
    overflow: auto;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--secondary);
  }

  .input-wrapper {
    position: relative;
    button {
      height: 48px;
    }
  }

  .op-tooltips {
    position: absolute;
    z-index: 1;
    bottom: 100%;
    margin-bottom: 2px;
    .op {
      position: absolute;
      font-weight: 500;
      border: 1px dashed var(--cyan);
      background-color: var(--white);
      color: var(--cyan);
      padding: 0 4px;
      transform: rotate(-40deg);
      transform-origin: left;
      border-radius: var(--border-radius);
      max-width: 112px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 0.7rem;
      &.wrong {
        position: absolute;
        border-radius: 0;
        top: -8px;
        transform: unset;
        padding: 0;
        border: none;
        background-color: unset;
        color: var(--danger);
        font-size: 1rem;
      }
      &:last-child:not(.wrong) {
        color: var(--carbon);
        background-color: var(--yellow);
        border: none;
        font-size: 0.8rem;
      }
      &:first-child:not(.wrong) {
        color: var(--carbon);
        background-color: var(--green);
        border: none;
        font-size: 0.8rem;
      }
    }
  }
  .text-zone {
    font-size: 1rem;
    font-family: monospace, 'Courier New', Courier;
    font-weight: bold;
    text-transform: uppercase;
    color: unset;
    background-color: var(--coolgray1);
    border-radius: var(--border-radius);
    padding: 0 8px;
    &::placeholder {
      text-transform: none;
      font-size: 0.9rem;
    }
  }
  .form-control {
    &.quick-entry-visual {
      height: 48px;
      background-color: var(--grey80);
      color: var(--white100);
      text-transform: uppercase;

      &:focus {
        box-shadow:
          0 1px 4px 0 rgba(0, 245, 255, 0.47),
          0 3px 8px 0 rgba(60, 138, 255, 0.35),
          0 6px 32px 0 rgba(24, 68, 239, 0.32);
        border-radius: 10px;
        background-color: var(--black75);
        color: var(--white100);
      }
    }
  }
}

.results-container {
  max-height: 80px;
  max-width: 720px;
  position: relative;
  line-height: 24px;
  border-radius: var(--border-radius);
  z-index: 1;

  .station-results {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    background-color: white;

    &:not(.quick-entry-visual) {
      overflow: hidden;
    }

    &.quick-entry-visual {
      margin-top: 2px;
      box-shadow:
        0 0 0 1px inset var(--grey30),
        0 0 0 2px inset var(--white100);
      border-radius: 8px;
      background-color: var(--grey5);
    }

    .station {
      flex: 1 0 auto;
      max-width: 45%;
      border-radius: 4px;
      border: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: small;
      text-align: center;
      border: 1px solid transparent;
      &:focus,
      &:hover {
        outline: none;
        box-shadow: 0 0 3px var(--coolgray11);
        border: 1px solid var(--coolgray11);
      }
      &:nth-child(n + 8) {
        display: none;
      }
      .station-text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}

.arrow-img {
  position: relative;
  width: 1px;
  height: 1px;
  background-color: transparent;
  &:before {
    content: '';
    position: absolute;
    bottom: 25%;
    left: var(--cursor-position);
    border-left: 19.2px solid transparent;
    border-right: 19.2px solid transparent;
    border-bottom: 24px solid white;
    z-index: 4;
  }
}
