.stdcm-config-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5em;

  span.icon {
    padding: 0.5em;
    border-radius: 50%;
    background-color: white;
    color: var(--danger);
    border: 2px solid var(--danger);
  }
}
