[tool.poetry]
name = "osrd"
version = "0.1.0"
description = ""
authors = ["DGEX Solutions <contact@dgexsol.fr>"]

[tool.poetry.dependencies]
# base
python = ">=3.8,<3.11"
django = "4.0.2"
psycopg2-binary = "2.9.3"
djangorestframework = "3.13"
djangorestframework-gis = "0.18"
celery = "5.2.3"
django-redis = "5.2.0"
jsonschema = "4.4.0"
requests = "2.27.1"
pillow = "9.0.1"
intervaltree = "3.1.0"
numpy = "1.22.1"
pydantic = "1.9.0"
geojson-pydantic = "0.3.1"

# production
gunicorn = {version = "20.1.0", optional = true}
sentry-sdk = {version = "1.5.2", optional = true}
uvloop = {version = "0.16.0", optional = true}
httptools = {version = "0.3.0", optional = true}
uvicorn = {version = "0.17.0", optional = true}

[tool.poetry.extras]
production = [
    "gunicorn",
    "sentry-sdk",
    "uvloop",
    "httptools",
    "uvicorn",
]

[tool.poetry.dev-dependencies]
django-debug-toolbar = "3.2.4"
ikp3db = "1.4.1"
coverage = "6.2"
black = "21.12b0"
isort = "5.10.1"
pyproject-flake8 = "0.0.1a2"
pytest-django = "4.5.2"
pytest-env = "0.6.2"
django-cors-headers = "3.11.0"

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "--ds=config.kube --create-db -v -s"
python_files = ["tests.py", "test_*.py"]
junit_family = "xunit2"
filterwarnings = [
    "ignore::PendingDeprecationWarning",
]
env = [
    #'TEST_SERVER=127.0.0.1:8000', # for local test
]

[tool.coverage.run]
omit = [
    ".*",
    "*/*-packages/*",
    "venv/*",
    "*/migrations/*",
    "*/config/*",
    "*/tests/*",
]

[tool.coverage.report]
fail_under = 70

[tool.flake8]
ignore = "W503,E203"
max-line-length = 120
exclude = [
    "__pycache__",
    "*/migrations/*",
    "venv/",
    "config/",
]

[tool.black]
line-length = 120

[tool.isort]
profile = "black"
multi_line_output = 3

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
