name: Run integration tests

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - dev
      - staging
      - prod

jobs:
  integration_tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build the containers
        uses: docker/bake-action@v1.6.0
        with:
          load: true
          files: "docker-compose.yml"
          set: |
            *.cache-from=type=gha
            *.cache-to=type=gha,mode=max

      - name: Startup the test infrastructure
        run: "docker-compose up --no-build -d"
        env:
          DOCKER_BUILDKIT: 1
          COMPOSE_DOCKER_CLI_BUILD: 1

      - name: Run tests
        run: "curl http://localhost:8080/ | python3 -m json.tool"
