name: Run integration tests

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - dev
      - staging
      - prod

jobs:
  integration_tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          # run the CI on the actual latest commit of the PR, not the attempted merge
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"
          cache: pip
      - run: pip install geojson-pydantic requests

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install dependencies
        run: yarn
        working-directory: front

      - name: Install Playwright Browsers
        run: yarn --cwd front playwright install --with-deps

      - name: Set up Docker Build
        uses: docker/setup-buildx-action@v2

      - name: Build the containers
        uses: docker/bake-action@v2
        with:
          load: true
          files: "docker-compose.yml"
          targets: "api,editoast,core,chartos,front"
          set: |
            *.cache-from=type=gha
            *.cache-to=type=gha,mode=max

      - name: Startup the test infrastructure
        run: "docker-compose up --no-build -d api editoast core chartos front wait-healthy"
        env:
          DOCKER_BUILDKIT: 1
          COMPOSE_DOCKER_CLI_BUILD: 1

      - name: Run tests
        run: "python3 tests/run_integration_tests.py"

      - name: Run Playwright tests
        run: yarn --cwd front playwright test

      - name: Store tests artifacts
        uses: actions/upload-artifact@v3
        with:
          name: playwright-report
          path: front/playwright-report/
